script(type='text/javascript')

  var treeData = !{JSON.stringify(tree)};

div(style="display:none")
  #welcome
    h3 Welcome to the Bozuko API Documentation
    
    p We will have a good overview of the docs in this spot.
    
    p Any random notes about the docs will be here too.