!!! 5
html(lang="en")
  head
    title Bozuko Documentation
    link(rel='stylesheet',type='text/css',href='http://dev.sencha.com/deploy/dev/resources/css/ext-all.css')
    link(rel='stylesheet',type='text/css',href='http://dev.sencha.com/deploy/dev/resources/css/xtheme-gray.css')
    link(rel='stylesheet',type='text/css',href='/css/desktop/docs.css')
  body
    input#x-history-field(type="hidden")
    iframe#x-history-frame(style="display:none",src="javascript:;")
    script(type='text/javascript',src='http://dev.sencha.com/deploy/dev/adapter/ext/ext-base.js')
    script(type='text/javascript',src='http://dev.sencha.com/deploy/dev/ext-all-debug.js')
    !=body
    script(type='text/javascript',src='/js/desktop/docs.js')