!!! 5
html(lang="en")
  head
    title Bozuko Documentation
    link(rel='stylesheet',type='text/css',href='https://dev.sencha.com/deploy/touch/resources/css/sencha-touch.css')
    link(rel='stylesheet',type='text/css',href='/css/tablet/docs.css')
    
  body
    script(type='text/javascript',src='https://dev.sencha.com/deploy/touch/sencha-touch.js')
    script(type='text/javascript',src='/js/tablet/docs/api.js')
    !=body