body {
  font-family: PTSansRegular;
}
p {
  margin-bottom: 1em;
}
h1, .h1 {
  color: #D11921;
}
h2, .h2 {
  color: #D11921;
}
h3, .h3 {
  color: #D11921;
}
h4, .h4 {
  color: #333;
}
h5, .h5 {
  color: #D11921;
}
h6, .h6 {
  font-style: italic;
  color: #D11921;
}
h1 {
  font-size: 200%;
  font-family: PTSansBold;
  color: #333;
  margin-bottom: 1em;
}
.button, button {
  padding: 2px 4px;
  font-family: PTSansBold;
  font-size: 140%;
}
