h2(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 22px;")
  | Congratulations

p(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 14px;")
  | Hi #{user.name} -

p(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 14px;")
  |  You won <strong>#{prize.name}</strong> from #{prize.page_name}. Please print
  |  the attached PDF and follow the instructions to redeem your prize!