.b4b-top
  a.beta-notice(href="/beta")
    .beta-notice-hd Bozuko Beta is now open to the public!
    .beta-notice-bd Build a Game for Your Business Now!
    
  h2.tag Bozuko is a platform for social and location based promotions wrapped in addictively simple mobile games
  a.blog(href="http://blog.bozuko.com", title="Check out our blog") Check out our blog
  
.b4b-middle
  .top-border
  .content
    .blocks
      .divet
      .block.first-block
        .block-content
          img(src="/images/desktop/site/b4b/img_its-your-game.png", alt="It's your game")
          p
            | Build a game for your business using our easy-to-use online builder.
            | Select your game, prizes and requirements for playing.  Brand your
            | game with your own logo, tag lines and custom artwork.
          
      .block
        .block-content
          p
            | Increase foot traffic. Encourage check-ins. Drive Facebook Likes.
            | Bozuko captures the attention of your customers.
            
          img(src="/images/desktop/site/b4b/img_engage-your-players.png", alt="Engage your players")
          
      .block.last-block
        .block-content
          img(src="/images/desktop/site/b4b/img_get-social.png", alt="Get Social")
          p
           | Leverage the power of social networks to engage customers and promote your
           | business to your customers' friends.

.b4b-bottom
  h1 Campaign Dashboard

  a.get-started(href="/beta")
    span Get Started
  
  ul.tabs
    li.active
      a(href="javascript:;") Campaigns
    li
      a(href="javascript:;") Customers
    li
      a(href="javascript:;") Prizes
      
  .slides
    .scroller
      .slide.slide-active
        .slide-content
          img(src="/images/desktop/site/b4b/campaign.png", alt="Business Dashboard")
          p
            | Monitor the status of campaigns in progress.  Set up and launch new Bozuko campaigns quickly. 
      
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/entries.png", alt="Business Dashboard")
          p
            | Measure the return on your Bozuko campaigns by monitoring how your customers use Bozuko.
            | Analyze statistics on total unique players and total entries as well as participation details
            | including likes, comments and wall posts.

          
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/total-prize-wins.png", alt="Business Dashboard")
          p
            | Bozuko provides complete visibility to your campaign's return including monitoring of prize expenses.
            | Track your costs alongside progress against the promotion's objectives to ensure your Bozuko campaigns
            | are optimized to deliver the results you are expecting.

-if(Bozuko.env() != 'site' )
  .b4b-pricing
    .b4b-pricing-content
      h1 How much does it cost?
      
      p The amount you pay is completely up to you. When you create a Bozuko campaign, you will pay for
        |  the total number of entries that campaign requires. When the campaign is complete, you will
        |  receive any unused entries as credits for another campaign. Not only that, but we'll give you
        |  500 entry credits per month! We have several plans that offer different features. Check them
        |  out below!
      
      .pricing-wrap
        .pricing-ct
          table.pricing
            thead
              tr
                th
                th.basic Basic
                th.standard Standard
                th.pro Professional
              
            tbody
              
              tr
                th Price per Month
                td.basic Free!
                td.standard $29.95
                td.pro Call Us
              
              tr
                th Cost per Entry
                td.basic $0.10
                td.standard $0.08
                td.pro Call Us
                
              tr
                th Maximum Entries per Campaign
                td.basic 1,500
                td.standard 3,000
                td.pro Unlimited
              
              tr
                th Dashboard
                td.basic
                  span.included Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
                  
              tr
                th Basic Themes
                td.basic
                  span.included Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
              
              tr
                th More Themes!
                td.basic
                  span.not-included Not Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
                  
              tr
                th Advanced Customization
                td.basic
                  span.not-included Not Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
              tr
                th Parallel Campaigns
                td.basic
                  span.not-included Not Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
                  
              tr
                th Multiple Locations
                td.basic
                  span.not-included Not Included
                td.standard
                  span.included Included
                td.pro
                  span.included Included
              
              tr
                th White Label API Access 
                  a(href="?")?
                td.basic
                  span.not-included Not Included
                td.standard
                  span.not-included Not Included
                td.pro
                  span.included Included