.b4b-top
  h2.tag Bozuko is a platform for social and location based promotions wrapped in addictively simple mobile games
  a.blog(href="http://blog.bozuko.com", title="Check out our blog") Check out our blog
  
.b4b-middle
  .top-border
  .content
    .blocks
      .divet
      .block.first-block
        .block-content
          img(src="/images/desktop/site/b4b/img_its-your-game.png", alt="It's your game")
          p
            | Build a game for your business using our easy-to-use online builder.
            | Select your game, prizes and requirements for playing.  Brand your
            | game with your own logo, tag lines and custom artwork.
          
      .block
        .block-content
          p
            | Increase foot traffic. Encourage check-ins. Drive Facebook Likes.
            | Bozuko captures the attention of your customers.
            
          img(src="/images/desktop/site/b4b/img_engage-your-players.png", alt="Engage your players")
          
      .block.last-block
        .block-content
          img(src="/images/desktop/site/b4b/img_get-social.png", alt="Get Social")
          p
           | Leverage the power of social networks to engage customers and promote your
           | business to your customers' friends.

.b4b-bottom
  h1 Campaign Dashboard

  a.get-started(href="/business-contact")
    span Get Started
  
  ul.tabs
    li.active
      a(href="javascript:;") Campaigns
    li
      a(href="javascript:;") Customers
    li
      a(href="javascript:;") Prizes
      
  .slides
    .scroller
      .slide.slide-active
        .slide-content
          img(src="/images/desktop/site/b4b/img_dashboard.png", alt="Business Dashboard")
          p
            | Monitor the status of campaigns in progress.  Set up and launch new Bozuko campaigns quickly. 
      
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/img_entries.png", alt="Business Dashboard")
          p
            | Measure the return on your Bozuko campaigns by monitoring how your customers use Bozuko.
            | Analyze statistics on total unique players and total entries as well as participation details including likes, comments and wall posts.

          
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/img_dashboard.png", alt="Business Dashboard")
          p
            | Bozuko provides complete visibility to your campaign's return including monitoring of prize expenses.  Track your costs along side
            | progress against the promotion's objectives to ensure your Bozuko campaigns are optimized to deliver the results you are expecting.
          
          