.b4b-top
  h2.tag Bozuko is a platform for social and location based promotions wrapped in addictively simple mobile games
  a.blog(href="http://blog.bozuko.com", title="Check out our blog") Check out our blog
  
.b4b-middle
  .top-border
  .content
    .blocks
      .divet
      .block.first-block
        .block-content
          img(src="/images/desktop/site/b4b/img_its-your-game.png", alt="It's your game")
          p
            | Build a game for your business using our easy-to-use online builder.
            | Select your game, prizes and requirements for playing.  Brand your
            | game with your own logo, tag lines and custom artwork.
          
      .block
        .block-content
          p
            | Increase foot traffic. Encourage check-ins. Drive Facebook Likes.
            | Bozuko captures the attention of your customers.
            
          img(src="/images/desktop/site/b4b/img_engage-your-players.png", alt="Engage your players")
          
      .block.last-block
        .block-content
          img(src="/images/desktop/site/b4b/img_get-social.png", alt="Get Social")
          p
           | Leverage the power of social networks to engage customers and promote your
           | business to your customers' friends.

.b4b-bottom
  a.get-started(href="#")
    span Get Started
  
  ul.tabs
    li.active
      a(href="javascript:;") Campaigns
    li
      a(href="javascript:;") Customers
    li
      a(href="javascript:;") Prizes
      
  .slides
    .scroller
      .slide.slide-active
        .slide-content
          img(src="/images/desktop/site/b4b/img_dashboard.png", alt="Business Dashboard")
          p
            | The business dashboard gives you your campaign's progress at a glance.
            | Quickly get information about the campaign progress and get some high level stats.
      
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/img_dashboard.png", alt="Business Dashboard")
          p
            | The business dashboard gives you your campaign's progress at a glance.
            | Quickly get information about the campaign progress and get some high level stats.
          
      .slide
        .slide-content
          img(src="/images/desktop/site/b4b/img_dashboard.png", alt="Business Dashboard")
          p
            | The business dashboard gives you your campaign's progress at a glance.
            | Quickly get information about the campaign progress and get some high level stats.
          
          