.enterprise-hero
  .text
    |  Bozuko is a platform for <span class="green">social</span>, 
    |  <span class="green">local</span>, and <span class="green">mobile</span>
    |  promotions based on mobile instant-win games.
  // .quote
    .content
      | "Finally a mass appeal social-mobile promotional tool."
    .attr
      | - Steve
  
.enterprise-body
  .line
    .unit.size1of3
      .block
        h3 Connect To Your Customers
        
        p
          |  Allow players to access your game through mobile web or online.
          |  Create an interactive print experience using QR codes or integrate
          |  games in to an existing application or web page.
          
        img(src="/images/desktop/site/enterprise/img-connect.jpg", alt="")
        
    .unit.size1of3
      .block
        h3 Extend Your Brand
        
        p
          |  Mix social media, location based services and mobile marketing to
          |  create a completely unique promotional marketing program.
          
        img(src="/images/desktop/site/enterprise/img-extend.jpg", alt="")
    
    .unit.size1of3.lastUnit
      .block
        h3 Grow Your Community
        
        p
          |  Create simple marketing promotions that seamlessly integrate with your
          |  customers facebook profile. Build your fan base and grow your email list.
          
        img(src="/images/desktop/site/enterprise/img-grow.jpg", alt="")
  
  .line
    .unit.size1of3
      .block
        h3 Your Campaign, Your Rules
        
        p
          |  The Bozuko platform supports a wide variety of user requirements,
          |  prize types and game access. Official Rules are drafted by premier
          |  sweepstakes legal counsel to ensure compliance.
        
        img(src="/images/desktop/site/enterprise/img-campaign.jpg", alt="")
        
    .unit.size1of3
      .block
        h3 Customize Your Promotions
        
        p
          |  Fully integrate your brand with custom graphics, links and copy.
          |  Use the customer engagement to drive attention to your other marketing programs.
        
        img(src="/images/desktop/site/enterprise/img-customize.jpg", alt="")
    
    .unit.size1of3.lastUnit
      .block
        h3 Measure Your Results
        
        p
          |  Track play, prize activity, and social metrics with detailed reports and analytics using the Bozuko dashboard.
          
        img(src="/images/desktop/site/enterprise/img-measure.jpg", alt="")

  .learn-more
    p Learn more about what Bozuko can do for your business  
      a(href="javascript:;")
        span Request a Demo


div#contact-form-container(style="position: absolute; top: -9999em; left: -9999em; z-index: 10000");
  
  #contact-form
    h2 Request a Demo
    include includes/form
    h2.callus Want to Talk? Call us!
      span.number 415-2BOZUKO