.hero
  .city
    .border-bottom
      .top-line
      .page-width
        
        .iphone
          .frame
          .top
          .screenshots
            .scroller
              img(src="/images/desktop/site/how-to/img_how-to-list.png",alt="Find Nearby Places")
              img(src="/images/desktop/site/how-to/img_how-to-business.png",alt="Check out their games")
              img(src="/images/desktop/site/how-to/img_how-to-games.png",alt="Check out their games")
              img(src="/images/desktop/site/how-to/img_how-to-redeem.png",alt="Check out their games")
        
        .content
          .padding
            .slides
              .scroller
                .slide.slide-active
                  h3
                    span.number 1
                    span.title Find a Bozuko Game
                  p.copy
                    | Bozuko games which are close to your current location are displayed on the nearby games list.  You can use the map function to explore entire areas for games or use search to find any Bozuko game.
                    
                  
                .slide
                  h3
                    span.number 2
                    span.title Check out their games
                  p.copy
                    | Select a place and and you can see a little more about that Bozuko place, including their games.  Every game is different so make sure you play all of their games!  If you enjoy this place share it with friends, add it to your favorites or "like" it on Facebook.  
                    
                .slide
                  h3
                    span.number 3
                    span.title Enter to win a prize
                  p.copy
                    | Check out game entry and the prizes you could win by playing.  Each business sets their own entry rules and how often you can play.    Enter and play Bozuko by hitting the big green PLAY button!  Bozuko games are always fun and easy to play.
                    
                .slide
                  h3
                    span.number 4
                    span.title Claim your prize
                  p.copy
                    | When you win a prize playing Bozuko you win instantly!  To claim your prize, be sure follow the directions on the "You Win!" screen before hitting redeem.  Some prizes are claimed in person by showing your phone screen to an employee.  Other prizes, like gift codes, are emailed to you immediately.
          
        .characters
          
        .nav