.hero
  .city
    .border-bottom
      .top-line
      .page-width
        
        .iphone
          .frame
          .top
          .screenshots
            .scroller
              img(src="/images/desktop/site/how-to/img_how-to-list.png",alt="Find a Bozuko Game")
              img(src="/images/desktop/site/how-to/img_how-to-business.png",alt="Check out the Business")
              img(src="/images/desktop/site/how-to/img_how-to-games.png",alt="Enter to Play")
              img(src="/images/desktop/site/how-to/img_how-to-game.png",alt="Play to Win!")
              img(src="/images/desktop/site/how-to/img_how-to-redeem.png",alt="Claim your prize")
        
        .content
          .padding
            .slides
              .scroller
                .slide.slide-active
                  h3
                    span.number 1
                    span.title Find a Bozuko Game
                  p.copy
                    | Bozuko games that are close to your current location appear in the "Nearby Games" list. You can use the map function to explore entire areas or search for specific businesses offering Bozuko games.
                    
                  
                .slide
                  h3
                    span.number 2
                    span.title Check out the Business
                  p.copy
                    | Select a place to find out more about the business and the Bozuko games they offer.  If you enjoy this place, you can share it with your friends, add it to your Bozuko favorites and "like" it on Facebook.
                    
                .slide
                  h3
                    span.number 3
                    span.title Enter to Play
                  p.copy
                    | Check out the prizes you could win by playing and how to enter the game.  Hit the big green button to start playing Bozuko!
                    
                .slide
                  h3
                    span.number 4
                    span.title Play to Win!
                  p.copy
                    strong(style="color:#006600") Play Bozuko! 
                    | The games are always fun and easy to play. Spin a slot machine or try your luck at a scratch ticket for your chance to win!
                    
                .slide
                  h3
                    span.number 5
                    span.title Claim your prize
                  p.copy
                    | When you win a prize, follow the directions on the "You Win!" screen.  Some prizes are claimed by showing your phone screen to an employee and others, like gift codes, are emailed right to you.
          
        .characters
          
        .nav