.hero
  .city
    .border-bottom
      .page-width
        
        .iphone
          .frame
          .top
          .screenshots
            .scroller
              img(src="/images/desktop/site/how-to/img_how-to-list.png",alt="Find Nearby Places")
              img(src="/images/desktop/site/how-to/img_how-to-business.png",alt="Check out their games")
              img(src="/images/desktop/site/how-to/img_how-to-games.png",alt="Check out their games")
              img(src="/images/desktop/site/how-to/img_how-to-redeem.png",alt="Check out their games")
        
        .content
          .padding
            .slides
              .scroller
                .slide.slide-active
                  h3
                    span.number 1
                    span.title Find a Bozuko Business
                  p.copy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac est nisl. Nunc eu augue nisl, quis auctor libero. Pellentesque elementum laoreet augue ac cursus. Mauris turpis lacus, tincidunt non lacinia ultrices, fermentum vel est. Curabitur sed sem est.
                    
                  
                .slide
                  h3
                    span.number 2
                    span.title Check out their games
                  p.copy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac est nisl. Nunc eu augue nisl, quis auctor libero. Pellentesque elementum laoreet augue ac cursus. Mauris turpis lacus, tincidunt non lacinia ultrices, fermentum vel est. Curabitur sed sem est.
                    
                .slide
                  h3
                    span.number 3
                    span.title Enter to win a prize
                  p.copy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac est nisl. Nunc eu augue nisl, quis auctor libero. Pellentesque elementum laoreet augue ac cursus. Mauris turpis lacus, tincidunt non lacinia ultrices, fermentum vel est. Curabitur sed sem est.
                    
                .slide
                  h3
                    span.number 4
                    span.title Claim your prize
                  p.copy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac est nisl. Nunc eu augue nisl, quis auctor libero. Pellentesque elementum laoreet augue ac cursus. Mauris turpis lacus, tincidunt non lacinia ultrices, fermentum vel est. Curabitur sed sem est.
          
        .characters
          
        .nav