.hero
  .city
    .top-line
    .bottom-line
    .slideshow
      .slides
        .phone
          .ct
            .scroller
              img.active(src="/images/desktop/site/home/phone-content1.jpg")
              img(src="/images/desktop/site/home/phone-content2.jpg")
              img(src="/images/desktop/site/home/phone-content3.jpg")
        .content
          .slide.active.slide-0
            img(src="/images/desktop/site/home/feeling-lucky.png")
          .slide.slide-1
            img(src="/images/desktop/site/home/platform.png")
          .slide.slide-2
            img(src="/images/desktop/site/home/win-big.png")
      

.middle
  .page-width
    .main-col
      
      h3 Looking to Play?
      
      p Bozuko is the most exciting customer rewards program ever invented. You can find games
        |  from your favorite businesses online, through Facebook, or on the Bozuko mobile app.
        |  Winning BIG is the name of the game, so the more games you play, the more you win.
        
      span.download-buttons
        a.download.app-store(target="_blank", href=Bozuko.cfg('client.mobile.iphone.link','#'), title="Download for iPhone")
          img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
          
        a.download.android-market(target="blank", href=Bozuko.cfg('client.mobile.android.link','#'), title="Download for Android")
          img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
          
      p.bold Download the app to see nearby games!
      
      h3.biz Business owner?
      
      p.business-owners
        img.reward-tag(src="/images/desktop/site/home/reward-tag.jpg",alt="Reward Your Customers With Bozuko")
        |  Bozuko promotions are simple and powerful.<br />
        |  Learn more about our Beta Program  
        a(href="/beta") CLICK HERE
      
    .right-col
      a.demo-button(href="/demo")
        img(src="/images/desktop/site/home/demo-button.jpg", alt="Web Demo- Click Here")
        
      h3 Demo On Your Phone!
      
      img(src="/images/desktop/site/home/demo-qr.png", alt="Demo QR Image", width="150", height="150")
      
      p.url bozuko.com/demo
      
.demo-popup
  .padding
    iframe(width="320",height="415",frameborder="0",scrolling="no",style="border: 1px solid #ccc;",src="https://bozuko.com/demo?play=1")
      