.hero
  .city
    .top-line
    .bottom-line
    .slideshow
      .slides
        .phone
          .ct
            .scroller
              img.active(src="/images/desktop/site/home/phone-content1.jpg")
              img(src="/images/desktop/site/home/phone-content2.jpg")
              img(src="/images/desktop/site/home/phone-content3.jpg")
        .content
          .slide.active.slide-0
            img(src="/images/desktop/site/home/feeling-lucky.png")
          .slide.slide-1
            img(src="/images/desktop/site/home/platform.png?v2")
          .slide.slide-2
            img(src="/images/desktop/site/home/win-big.png")
      

.middle
  .page-width
    .main-col
      
      h3 Looking to Play?
      
      p Bozuko is the most exciting customer rewards program ever invented. Play games from
        |  your favorite businesses online, through Facebook, or on the Bozuko mobile app.
        |  Winning BIG is the name of the game, so the more games you play, the more you win.
        
      // span.download-buttons
        a.download.app-store(target="_blank", href=Bozuko.cfg('client.mobile.iphone.link','#'), title="Download for iPhone")
          img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
          
        a.download.android-market(target="blank", href=Bozuko.cfg('client.mobile.android.link','#'), title="Download for Android")
          img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
          
      
      h3.biz Bozuko For Business
      
      .line
        .unit.size1of2
          .block
            a(href="/local")
              img(src="/images/desktop/site/home/btn-bozuko_local.jpg", alt="Bozuko for Local Business")
            .text
              h4 For Small Businesses
              p Build and launch a powerful marketing promotion for your small business in minutes
            
        .unit.size1of2.lastUnit
          .vertical-line
          .block
            a(href="/enterprise")
              img(src="/images/desktop/site/home/btn-bozuko_enterprise.jpg", alt="Bozuko for Enterprise")
            .text
              h4 For Brands, Chains, and Large Venues
              p Stand out with a one-of-a-kind social-local mobile promotion.
      
    .right-col
    
      img(src="/images/desktop/site/home/demo-button-mobile.jpg", alt="Mobile Demo")
        
      a.demo-button(href="/demo")
        img(src="/images/desktop/site/home/demo-button-web.jpg", alt="Web Demo- Click Here")
      
.demo-popup
  .padding
    iframe(width="320",height="415",frameborder="0",scrolling="no",style="border: 1px solid #ccc;",src="/client/blank")
      