.hero
  .city
    .top-line
    .bottom-line
    .panels
      h1 Enter, Play, Win
    //
      .notice
        .notice-hd
          span.toggle-indicator
          span Bozuko Beta is now open to the public!
          
        a.notice-bd(href="/beta")
          .notice-padding
            img.click-here(src="/images/desktop/site/notice/img_click-here.png",alt="Click Here")
            img(src="/images/desktop/site/notice/img_build-a-game.png",alt="Build a Game for Your Business Now!")

.middle
  .page-width
    .phone-ct
      .phone
    
  .who-we-are
    .white-gradient
      .page-width
        .content
          h2.instant-win-headline Instant Win Games at Your Favorite Places
          
          p Win big by playing Bozuko on your mobile phone.  Addictively simple, Bozuko is the most exciting 
            | customer rewards program ever invented. Download the free app now.
          
          .bottom
            a.how-to-play(href="/how-to-play") How To Play
          
            a.download.app-store(target="_blank", href=Bozuko.cfg('client.mobile.iphone.link','#'), title="Download for iPhone")
              img(src="/images/desktop/site/icon_app-store.png", title="Download for iPhone")
              
            a.download.android-market(target="blank", href=Bozuko.cfg('client.mobile.android.link','#'), title="Download for Android")
              img(src="/images/desktop/site/icon_android-market.png", title="Download for Android")
  
  .businesses
    .rewards
      .page-width
        .content
          .bottom
            a.learn-more(href="/beta") Learn More
  