a.local-cta(href="/beta/login")
  span Launch Your Game Today For FREE Using Bozuko Local *Beta Start Now

.local-hero
  .text
    |  Add your business to the Bozuko <span class="green">Mobile</span> App to encourage<br />
    |  <span class="green">local</span> customers to join your <span class="green">social</span> community.
    
  // .quote
    .content
      | "Finally a mass appeal social-mobile promotional tool."
    .attr
      | - Steve
  
.b4b-body.local-body
  .line
    .unit.size1of3
      .block
        h3 Engage Your Customer
        
        p
          |  Offer your customers a chance to win prizes from your business by creating a customized instant win game in minutes.
          
        img(src="/images/desktop/site/local/img-engage.jpg", alt="")
        
    .unit.size1of3
      .block
        h3 Promote Your Business
        
        p
          |  Your Bozuko game will immideiately appear in the Bozuko mobile application where it will attract local players
          
        img(src="/images/desktop/site/local/img-promote.jpg", alt="")
    
    .unit.size1of3.lastUnit
      .block
        h3 Grow Your Community
        
        p
          |  Bozuko games are integrated with Facebook so they can be used to rapidly expand Facebook fans and your email contact list.
          
        img(src="/images/desktop/site/local/img-grow.jpg", alt="")
  
  .line
    .unit.size1of3
      .block
        h3 It's Your Game
        
        p
          |  Creating your game is a snap with the Bozuko builder. You just select the components you need and we do the rest.
        
        img(src="/images/desktop/site/local/img-yourgame.jpg", alt="")
        
    .unit.size1of3
      .block
        h3 Total Cost Control
        
        p
          |  Specify your own prizes and define how many will be awarded over the campaign. Add anything from small discounts to large grand prizes.
        
        img(src="/images/desktop/site/local/img-cost.jpg", alt="")
    
    .unit.size1of3.lastUnit
      .block
        h3 Measure Your Results
        
        p
          |  Track play, prize activity, and social metrics with detailed reports and analytics using the Bozuko dashboard.
          
        img(src="/images/desktop/site/local/img-measure.jpg", alt="")

  .learn-more
    p Launch Your Game Today For FREE Using Bozuko Local *Beta 
      a(href="/beta/login")
        span Start Now


div#contact-form-container(style="position: absolute; top: -9999em; left: -9999em; z-index: 10000");
  
  #contact-form
    h2 Request a Demo
    include includes/form
    h2.callus Want to Talk? Call us!
      span.number 415-2BOZUKO