
#header {
    background: #111 url("/images/desktop/site/bg_hd.png") repeat-x 0 100%;
    
    
    .title {
        height: 100px;
        background: url("/images/desktop/site/img_logo.png") no-repeat 10px 10px;
        position: relative;
        
        span {
            position: absolute;
            bottom: 14px;
            left: 90px;
            color: #fff;
            line-height: 20px;
            font-weight: bold;
        }
    }
    
    .logged-in {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
    }
}

.bozuko-list{
    .list-item{
        
        cursor: pointer;
        clear: both;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        padding: 6px;
        img {
            height: 50px;
            float: right;
        }
        
        .title {
            margin-top: 6px;
            font-weight: bold !important;
        }
        
        .sub {
            font-size: .85em;
            color: #999;
        }
    }
    
    .list-item-over {
        background: #f3f3f3;
    }
    .list-item-selected {
        background: #d5eaf9;
    }
}

.campaign-nav {
    
    height: 100%;
    border-right: 1px solid #ccc;
    background: #e6e6e6;
    padding-top: 20px;
    ul {
        
        li {
            cursor: pointer;
            padding: 7px 4px 7px 30px;
            background-repeat: no-repeat;
            background-position: 4px 50%;
        }
        .nav-item-selected {
            padding-top: 6px;
            padding-bottom: 6px;
            background-color: #fff;
            margin-right: -1px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        .nav-item-over{
            background-color: #ccc;
        }
        
        .contest{
            background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-16.png');
        }
        .prizes{
            background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-forum-16.png');
        }
        .game{
            background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/dice-white-16.png');
        }
    }
}