!!! 5
html(lang="en")
  head
    title Bozuko Documentation
    link(rel='stylesheet',type='text/css',href='https://dev.sencha.com/deploy/dev/resources/css/ext-all.css')
    link(rel='stylesheet',type='text/css',href='https://dev.sencha.com/deploy/dev/resources/css/xtheme-gray.css')
    link(rel='stylesheet',type='text/css',href='/css/desktop/docs.css')
    script(type="text/javascript") Ext.BLANK_IMAGE_URL='/images/s.gif';
  body
    input#x-history-field(type="hidden")
    iframe#x-history-frame(style="display:none",src="javascript:;")
    script(type='text/javascript',src='https://dev.sencha.com/deploy/dev/adapter/ext/ext-base.js')
    script(type='text/javascript',src='https://dev.sencha.com/deploy/dev/ext-all.js')
    script(type='text/javascript',src='/js/desktop/docs/TabCloseMenu.js')
    !=body