!!! 5
html
  head
    title Bozuko Admin
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet",type="text/css",href="/js/sencha-touch/lib/resources/css/sencha-touch.css")
    link(rel="stylesheet",type="text/css",href="/css/touch/admin/style.css")
    script(type="text/javascript",src="/js/sencha-touch/lib/sencha-touch.js")
    script(type="text/javascript",src="/js/touch/admin/index.js")
    script(type="text/javascript",src="/js/touch/admin/lib/PubSub.js")
    script(type="text/javascript",src="/js/touch/admin/models/Winner.js")
    script(type="text/javascript",src="/js/touch/admin/views/Viewport.js")
    script(type="text/javascript",src="/js/touch/admin/views/winners/List.js")
    script(type="text/javascript",src="/js/touch/admin/controllers/App.js")
  body