!!!
html
  head
    title Bozuko for Business - Connect with Facebook
    link(rel="stylesheet",type="text/css",href="/css/desktop/business/popup.css")
    
    
  body
    .content
      .logo
      .message
        span(class=cls)!= message
    