h1= title

h3 Places
- if( pages.length > 0 )
  p
    ul.pages
      - each page in pages
        li.page
          img(src="https://graph.facebook.com/"+page.facebook_id+"/picture",alt=page.name)
          h3= page.name
          .actions
            a.action.add_games(href="/business/account/page/"+page._id+"/create_games") Manage Games
            a.action.delete(href="/business/account/page/"+page._id+"/delete") Delete Page
    
  p
    a(href="/business/account/add_page") Add a Facebook Page
  
- else
  p You do not have any places configured yet.
  p
    a(href="/business/account/add_page") Add a Facebook Page
