- var welcomes = ['\'sup', 'Welcome', 'Hi', 'Aloha', 'Hello'];
- var welcome = welcomes[Math.round(Math.random()*(welcomes.length-1))];
ul
  -if( user )
    li.user #{welcome} #{user.first_name}!
      img(src=user.image.replace(/type=large/,'type=square'),alt=user.name,height="20",width="20")
    li
      a(href="/my/account") My Account
    li
      a.logout(href="/site/logout") Logout
  -else
    li
      a.login(href="/site/login") Login with Facebook