.bozuko-toolbar {
  padding-left: 14px;
}
.bozuko-toolbar ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
}
.bozuko-toolbar li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
}
.bozuko-toolbar li a {
  font-size: 14px;
  line-height: 1.1em;
  float: none;
  display: inline-block;
  margin: 0 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}
.bozuko-toolbar li a.active {
  background: #f4f4f4;
  color: #333;
}
.bozuko-toolbar li a.active:hover {
  color: #333;
}
.bozuko-report {
  background: #f4f4f4;
  position: relative;
}
.bozuko-report .no-results {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  margin: -5% 5% 0;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
