.bozuko-toolbar {
    
    padding-left: 14px;
    
    ul {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
        float: none;
    }
    li {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
        float: none;
        
        a {
            font-size: 12px;
            line-height: 1.1em;
            float: none;
            display: inline-block;
            margin: 0 1px;
            padding: 8px 6px;
            border-radius: 5px 5px 0 0;
            text-decoration: none;
        }
        
        a.active {
            background: #f4f4f4;
            color: #333;
        }
        a.active:hover {
            color: #333;
        }
        
    }
}

.bozuko-report {
    background: #f4f4f4;
    position: relative;
    .no-results {
        position: absolute;
        top: 50%;
        left: 0;
        width: 90%;
        margin: -5% 5% 0;
        color: #333;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    
}

.bozuko-stats {
    font-size: 14px;
    line-height: 1.2em;
    width: 100%;
    border: 1px solid #e2e2e2;
    
    th, td {
        padding: 3px 6px; 
    }
    
    thead th {
        border: 1px solid #e2e2e2;
        background: #f4f4f4;
        font-weight: bold;
        text-align: center;
    }
    
    tbody th {
        background: #f8f8f8;
        text-align: left;
    }
    
    tbody td {
        border: 1px solid #e2e2e2;
        text-align: center;
    }
    
}