.content-page.permissions-screen
  h1
    span(style="color:red") Access Denied

  p Sorry, the guys in the back room think this account is suspicious. 
    | We work really hard to prevent fraud for the benefit of all Bozuko players. 
    | If you are being denied in error please contact support@bozuko.com.

