.content-page.permissions-screen
  h1
    span(style="color:red") Access Denied

  p This account has been marked as fraudulent by our digital security overlords. If you believe this to be a mistake made by our wise bots, and this account does in fact belong to a real person, please email us at support@bozuko.com. We will take matters up with our masters and hope that they see fit to correct any grievous errors.

