.content-page.permissions-screen
  h1 Facebook is taking forever!
  
  p Unfortunately, we are having a problem getting in touch with Facebook right now. 
    | Hopefully this will clear up in a minute.
    
  p(style="text-align:center;")
    a.green-button(href="javascript:window.location.reload(true);") Try Again?