.content-page.permissions-screen
  h1 :
    span(style="color:blue") '
    | (
  
  p Sorry, Bozuko requires certain permissions to use the application. We understand
    | your privacy concerns and realize that the Facebook permissions screen can
    | seem a bit overwhelming. We'd like to take a minute to explain how we use each
    | permission.
  
  ul.permissions-list
    li
      .facebook-permission.basic-information
        .icon
        h3 Access my basic information
        p Includes name, profile picture, gender, networks, user ID,  
          | list of friends, and any other information I've shared with everyone.
      
      .explanation
        | This permission is required by all Facebook apps. It just 
        | lets us know what your name is and anything else people can see on your  
        | public profile.
    
    li
      .facebook-permission.send-email
        .icon
        h3 Send me email
        p Bozuko may email me directly at youremail@address.com
      
      .explanation
        | We will use this email as your primary email for Bozuko. Some games have  
        | prizes such as gift codes that will need to be sent to you. We will never  
        | share your email address or send you unwanted SPAM (we hate SPAM as much as  
        | you)
        
    li
      .facebook-permission.post-to-wall
        .icon
        h3 Post to my Wall
        p Bozuko may post status messages, notes, photos, and videos to my Wall
      
      .explanation
        | When you win prizes with Bozuko, we give you the option to brag about it by  
        | posting on your wall. We will not create post to your wall without asking you 
        | first.
        
    li
      .facebook-permission.offline-access
        .icon
        h3 Access my data any time
        p Bozuko may access my data when I'm not using the application
      
      .explanation
        | We ask for this permission so that we do not have to ask you to login  
        | constantly (because that would just be annoying.)
        
    li
      .facebook-permission.checkins
        .icon
        h3 Check-ins
        p Bozuko may publish check-ins on my behalf. 
      
      .explanation
        | Bozuko is a location based service and some games require a Facebook Check-in.  
        | This permission allows Bozuko to check you in to places you visit. We will only 
        | check you into a place when you explicity tap a "Check In" button.
    
    li
      .facebook-permission.profile-info
        .icon
        h3 Access my profile information
        p Likes, Music, TV, Movies, Books, Quotes
      
      .explanation
        | Some games are only available to people that "Like" their page on Facebook.  
        | We need this permission to check to see if you do indeed "Like" them or not. This  
        | information is only used for this purpose and will never be shared.
  
  hr
  p
    | If you have reconsidered and would like to allow these permission, please go back  
    |  and click "Allow"
  
  p(style="text-align:center;")
    a.green-button(href="javascript:window.history.go(-2)") &laquo; Go Back