.felt {
    background: #006633;
}
.die-ct {
    position: absolute;
    background-repeat: no-repeat;
    width: 99px;
    height: 99px;
    overflow: visible;
}
.die-ct .die {
    position: absolute;
    background-image: url(../images/games/dice/dice-states2-sm.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
}
.die-ct .shadow {
    position: absolute;
    width:120px;
    height:100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(../images/games/dice/dice-states2-sm.png) -580px 14px;
}

.die-state-2 .shadow {
    background-position: -604px -90px;
}



#dice1 {
    background-position: 0px 0px;
    top: 5%;
    left: 40%;
    
}

#dice2 {
    background-position: 0px 0px;
    top: 30%;
    left: 15%;
    
}

#dice3 {
    background-position: 0px 0px;
    top: 30%;
    left: 60%;
    
}

#dice4 {
    background-position: 0px 0px;
    top: 55%;
    left: 15%;
    
}

#dice5 {
    background-position: 0px 0px;
    top: 55%;
    left: 60%;
    
}