@import url(fonts/ptsans/stylesheet.css);

@import url(oocss/core/libraries.css);

@import url(oocss/core/grid/grids.css);

@import url(oocss/core/heading/heading.css);

@import url(oocss/core/template/template.css);
h3, .h3 {
  color: #004059;
  font-family: PTSansBold;
}
html {
  background: #f4fdff url(../images/bg.png) fixed repeat-x top center;
}
body {
  font: 14px "PTSansRegular", "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
a,
a:link,
a:visited,
a:active {
  padding: 0 4px;
  color: #004B66;
  text-decoration: none;
}
a:hover {
  background: #004B66;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page {
  width: 830px;
}
.hd {
  padding-top: 10px;
  position: relative;
  z-index: 2;
}
.main {
  display: block;
  clear: both;
  background: #fff;
  -moz-box-shadow: 0px 0px 26px #0375a0;
  -webkit-box-shadow: 0px 0px 26px #0375a0;
  box-shadow: 0px 0px 26px #0375a0;
}
.bd {
  min-height: 200px;
  clear: both;
}
.logo {
  width: 190px;
  height: 94px;
  display: block;
  float: left;
  position: relative;
}
.logo a {
  display: block;
  text-indent: -10000em;
  background: url(../images/logo.png) no-repeat top left;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -15px;
}
.top-nav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.top-nav ul, .top-nav li {
  list-style: none;
  padding: 0;
}
.top-nav ul {
  float: right;
}
.top-nav li {
  margin-left: 1em;
  float: left;
  font-family: PtSansBold;
  font-size: 18px;
}
.banner {
  background: url(../images/banner.png) top left no-repeat;
  position: relative;
}
.banner .banner-fade {
  background: transparent url(../images/banner-fade.png) repeat-y top left;
  min-height: 190px;
}
.banner .banner-left, .banner .banner-right {
  position: relative;
  height: 190px;
}
.banner .banner-left {
  float: left;
  width: 58%;
}
.banner .banner-right {
  float: right;
  width: 40%;
}
.banner h2 {
  color: #004059;
  font-size: 30px;
  line-height: 1.4em;
  font-family: PtSansBold;
  font-weight: bold;
  padding: 10px;
}
.banner h3 {
  font-size: 18px;
  color: #008ABD;
  line-height: 1.4em;
  font-family: PtSansRegular;
  font-weight: normal;
  padding: 10px;
}
.banner h2, .banner h3 {
  text-shadow: 1px 1px 3px #74d7fc;
}
.banner .join {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font: 26px PtSansBold;
}
.banner .banner-bottom-gradient {
  position: absolute;
  background: url(../images/gradient-blue-bottom.png) repeat-x bottom left;
  height: 10px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
a.button {
  color: #fff;
  display: inline-block;
  padding: 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #013c52;
  background-image: -moz-linear-gradient(top, #013c52, #026991);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #013c52), color-stop(1, #026991));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#013c52, endColorstr=#026991)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#013c52, endColorstr=#026991)";
  /*  IE8 */

}
a.button span {
  padding: 2px 8px;
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #026991;
  background-image: -moz-linear-gradient(top, #026991, #013c52);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #026991), color-stop(1, #013c52));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#026991, endColorstr=#013c52)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#026991, endColorstr=#013c52)";
  /*  IE8 */

}
a.button:hover span {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #027eae;
  background-image: -moz-linear-gradient(top, #027eae, #014f6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #027eae), color-stop(1, #014f6b));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#027eae, endColorstr=#014f6b)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#027eae, endColorstr=#014f6b)";
  /*  IE8 */

}
a.button:active {
  background-color: #026991;
  background-image: -moz-linear-gradient(top, #026991, #013c52);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #026991), color-stop(1, #013c52));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#026991, endColorstr=#013c52)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#026991, endColorstr=#013c52)";
  /*  IE8 */

}
a.button:active span {
  background-color: #014f6b;
  background-image: -moz-linear-gradient(top, #014f6b, #027eae);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #014f6b), color-stop(1, #027eae));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#014f6b, endColorstr=#027eae)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#014f6b, endColorstr=#027eae)";
  /*  IE8 */

}
.current-location {
  float: right;
  margin: 5px 5px 0 0;
}
.content {
  min-height: 200px;
}
