!!! 5
html
  head
    title= title
    link(rel="stylesheet",type="text/css",href="/css/touch.css")
    link(rel="stylesheet",type="text/css",href="/css/dice.css")
    link(rel="stylesheet",type="text/css",href="https://host.owlwatch.com/cdn/sencha-touch-1.0.1a/resources/css/sencha-touch.css")
    script(src="http://j.maxmind.com/app/geoip.js")
    script(src="http://www.facebook.com/m2w.php?next=%2Fhome.php%3Fm2w", type="facebook-fix", async)
    script(src="https://host.owlwatch.com/cdn/sencha-touch-1.0.1a/sencha-touch.js")
    script(src="/js/touch/index.js")
    script(src="/js/touch/data/Place.js")
    script(src="/js/touch/views/App.js")
    script(src="/js/touch/views/Place.js")
    script(src="/js/touch/views/Places.js")
    script(src="/js/touch/views/Game.js")
    script(src="/js/touch/util/Physics.js")
    script(src="/js/touch/games/Dice.js")
    script(src="/site/config")
    script(src="http://connect.facebook.net/en_US/all.js")
  body
    #fb-root