@import url(fonts/ptsans/stylesheet.css);

@import url(oocss/core/libraries.css);

@import url(oocss/core/grid/grids.css);

@import url(oocss/core/heading/heading.css);

@import url(oocss/core/template/template.css);
html {
  background: #630c10;
}
h3,
.h3,
h5,
.h5 {
  color: #ffffff;
  font-family: PTSansBold;
  text-shadow: 2px 2px 1px #000;
  margin-bottom: .8em;
}
.page-width {
  width: 820px;
  margin: 0 auto;
}
.page {
  width: auto;
}
.hd {
  overflow: hidden;
}
.hd .logo {
  width: 457px;
  height: 152px;
  display: block;
  float: left;
  position: relative;
  margin-left: -60px;
}
.hd .logo a {
  display: block;
  text-indent: -10000em;
  background: url(../images/desktop/logo-red.png) no-repeat top left;
  width: 100%;
  height: 100%;
  position: relative;
}
.bd {
  position: relative;
  background: #333;
}
.bd .page-width {
  padding: 10px 0;
  min-height: 300px;
}
.bd .shadow {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 12px;
  left: 0;
}
.bd .shadow-top {
  top: 0;
  background: url(../images/desktop/shadow-top.png) repeat-x 0 0;
}
.bd .shadow-bottom {
  bottom: 0;
  background: url(../images/desktop/shadow-bottom.png) repeat-x 0 100%;
}
#places .place {
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
  background: #555;
  box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
#places .place .profile-pic {
  float: left;
  margin-right: 10px;
}
#places .place h5 {
  color: #fff;
  font-size: 140%;
}
