.place .place-info {
  padding: 10px;
}
.place .profile-pic {
  float: right;
  margin: 0 0 10px 10px;
}
.place h2 {
  font-size: 120%;
  font-weight: bold;
}
.place .address {
  clear: both;
  font-size: 80%;
  color: #666;
}
.place .games {
  margin-top: 1em;
}
.place .games h2 {
  background: #ccc;
  font-size: 100%;
  padding: 4px 0;
  text-align: center;
  text-shadow: 1px 1px 0 #ffffff;
}
.place .games .game {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dddddd));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  /*  IE8 */

}
.place .games .game .game-icon {
  max-width: 70px;
  float: left;
  margin: 0 10px 0 0;
}
.place .games .game .game-body {
  margin-left: 76px;
}
.place .games .game .game-body .name {
  font-weight: bold;
  margin-bottom: .5em;
}
.place .games .game .game-body .prize-label {
  margin-bottom: .2em;
}
.place .games .game .game-body .prize {
  padding: 4px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
.place .no-games {
  padding: 10px;
}
.place .no-games p {
  margin-bottom: 10px;
}
