.cf {
  zoom: 1;
}
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  content: "";
  display: block;
}
html {
  background: #fff !important;
}
.page-width {
  width: 880px;
}
html body .hd {
  background: #ffffff url("/images/desktop/site/bg_header.png") repeat-x 0 0 !important;
  filter: none;
}
html body .hd h1.logo a {
  height: 108px;
}
html body .hd .right-side {
  display: none;
}
html body .bd {
  background: #fff none;
}
html body .bd .top-line {
  display: none;
}
html body .bd .bottom-line {
  display: none;
}
html body .ft {
  border-top: 4px solid #EEEDED;
}
.beta-right {
  color: #656565;
  z-index: 2;
  position: relative;
  float: right;
  width: 260px;
  text-align: center;
}
.beta-right .fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 120px;
  border-left: 1px solid #ccc;
}
.beta-right .fixed .get-started {
  position: absolute;
  top: -160px;
  left: -72px;
  width: 394px;
  height: 284px;
  background: transparent url("/images/desktop/site/beta/img_beta-get-started.png?v=2") 50% 50% no-repeat;
}
.beta-right .fixed .facebook-button {
  display: block;
  cursor: pointer;
  width: 207px;
  height: 42px;
  text-indent: -99999em;
  text-decoration: none;
  margin: 10px auto;
  background: transparent url("/images/desktop/site/beta/img_fb-login.png") 50% 50% no-repeat;
}
.beta-right .fixed p {
  font-size: 12px;
  line-height: 1.2em;
  margin: .5em 0;
}
.beta-right .fixed .contact {
  margin-top: 8px;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #656565;
  margin-top: 0;
  margin-bottom: 0.4em;
}
body h1 {
  font-size: 38px;
}
body h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
}
body h4 {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4em;
}
body h3.deal {
  margin-top: 1em;
  font-size: 30px;
  font-weight: 800;
}
.beta-main {
  font-family: 'Open Sans', sans-serif;
  margin-right: 280px;
  color: #656565;
}
.beta-main .beta-top h1 {
  text-indent: -9999em;
  background: url("/images/desktop/site/beta/img_beta-h1.jpg") 0 0 no-repeat;
  height: 166px;
  margin: 0;
}
.beta-main .beta-top h2 {
  display: none;
}
.beta-main .beta-top ul {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  list-style: none;
  margin: 1em 0;
}
.beta-main .beta-top ul li {
  margin: 0;
  list-style: none;
  padding: 0 0 0 40px;
  line-height: 45px;
  background: url("/images/desktop/site/beta/img_orange-check.png") 0 50% no-repeat;
}
.beta-main .beta-top h3 {
  color: #00a24f;
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
}
.beta-main .main-area {
  background: url("/images/desktop/site/beta/beta-bg.png") 0 0 no-repeat;
  width: 686px;
  height: 744px;
  position: relative;
  font-family: "Open Sans";
}
.beta-main .main-area .block {
  position: absolute;
  width: 300px;
}
.beta-main .main-area .block h3 {
  font-size: 22px;
  font-weight: 700;
  padding-left: 40px;
}
.beta-main .main-area .block p {
  font-size: 15px;
  line-height: 1.6em;
}
.beta-main .main-area .block-1 {
  top: 72px;
  left: 12px;
}
.beta-main .main-area .block-2 {
  top: 332px;
  left: 230px;
}
.beta-main .main-area .block-3 {
  width: 360px;
  top: 552px;
  left: 16px;
}
.beta-main .login-arrow {
  background: url("/images/desktop/site/beta/img_beta-arrow.png") 0 0 no-repeat;
  width: 631px;
  height: 99px;
  margin-bottom: 20px;
  text-indent: -99999em;
}
.italic {
  font-style: italic;
  color: #01a9d8;
}
#welcome-logged-in-as {
  padding: 0 20px;
  line-height: 1.35em;
  font-size: 11px;
  text-align: left;
}
#welcome-form {
  width: 620px;
  border: 4px solid #00a24f;
  -moz-box-shadow: 0 0 20px #000000;
  -webkit-box-shadow: 0 0 20px #000000;
  box-shadow: 0 0 20px #000000;
  background: #fff;
  z-index: 20000;
  padding: 10px 20px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
#welcome-form .close {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background: transparent url("/images/desktop/site/beta/img_close.png") 50% 50% no-repeat;
}
#welcome-form .callus {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
#welcome-form .number {
  float: right;
  color: #01a9d8;
}
#welcome-form .error {
  color: red;
  padding: 4px;
  font-weight: bold;
}
body .medium-button, body .small-button, body .big-button {
  font-family: "Open Sans";
  font-weight: 700;
  padding: 4px;
}
