html {
  background: #333;
}
body {
  font-size: 12px;
  min-height: 100%;
}
body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body .hd {
  background-image: none;
  background-color: #999999;
  background-image: -moz-linear-gradient(top, #999999, #333333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #333333)) !important;
  background-color: #666;
  color: #fff;
}
body .hd h3.tagline {
  position: absolute;
  font-family: ArvoRegular;
  top: 85px;
  left: 200px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
}
body .hd .right-side {
  position: absolute;
  right: 0;
  top: 10px;
  text-align: right;
  width: 690px;
}
body .hd .right-side h2 {
  font-size: 40px;
  line-height: 50px;
  display: none;
  color: #ff6600;
  text-shadow: 1px 1px 1px #000;
}
body .hd .right-side .user-profile {
  height: 22px;
}
body .hd .right-side .page-info {
  padding-top: 15px;
}
body .hd .right-side .page-info img {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  float: right;
  height: 50px;
  margin-left: 20px;
  background: #fff;
  padding: 4px;
}
body .hd .right-side .page-info h3 {
  color: #fff;
  font-family: ArvoRegular;
  font-size: 22px;
  line-height: 45px;
}
.beta-app body {
  overflow: hidden;
}
.beta-app .ft {
  display: none;
}
.beta-app .page-width {
  width: 960px;
}
.beta-app .copyright {
  padding: 8px 0;
}
.bd .wrap {
  min-height: 300px;
  font-size: 12px;
  padding-bottom: 0px;
}
.bd ol li ol li ol li {
  list-style: lower-roman;
}
.ft {
  font-size: 14px;
  font-family: Tahoma;
}
.beta-panel {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.campaign-list table {
  width: 100%;
}
.campaign-list table thead th {
  padding: 4px 6px;
  background: #f3f3f3;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.campaign-list table tbody td {
  padding: 4px 6px;
}
.campaign-list table tbody h3 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.beta-agreement .top {
  overflow: hidden;
  margin-bottom: 10px;
}
.beta-agreement .top img {
  height: 50px;
}
.beta-agreement .top h4 {
  font-family: ArvoRegular;
  font-size: 24px;
  white-space: nowrap;
}
.beta-agreement .top .user {
  width: 50%;
  float: left;
}
.beta-agreement .top .user img {
  float: left;
  margin-right: 20px;
}
.beta-agreement .top .business {
  width: 50%;
  text-align: right;
  float: right;
}
.beta-agreement .top .business img {
  float: right;
  margin-left: 20px;
}
.beta-agreement .terms {
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: inset 4px 4px 4px #dddddd, inset -4px -4px 4px #dddddd;
  clear: both;
  padding: 10px;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.beta-agreement .terms h1 {
  display: none;
}
.beta-agreement form {
  text-align: right;
  overflow: hidden;
  padding-bottom: 10px;
}
.loading-box {
  display: none;
}
#beta {
  min-height: 300px;
}
.beta-loading {
  position: relative;
}
.beta-loading .loading-box {
  background: #f3f3f3;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  display: block;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  width: 200px;
  margin-left: -100px;
  border: 1px solid #ccc;
  padding: 10px;
}
.beta-loading .loading-box span {
  display: block;
  padding: 10px 0px 10px 40px;
  background: transparent url("/js/ext-4.0/lib/resources/themes/images/default/shared/large-loading.gif") no-repeat 0 0;
}
.page-preview .x-panel-body {
  background: url("/images/desktop/beta/stripes.png");
  padding: 10px;
}
.page-preview .x-panel-body .block {
  margin-bottom: 10px;
}
.page-preview .x-panel-body .heading {
  font-family: "Helvetica Neue", "Arial";
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.page-preview .x-panel-body .heading .img {
  height: 70px;
  width: 70px;
  float: left;
  margin: 8px;
  border: 2px solid #ccc;
  position: relative;
  overflow: hidden;
}
.page-preview .x-panel-body .heading .img img {
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}
.page-preview .x-panel-body .heading .top {
  margin: 6px 10px 0 85px;
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .heading .top h4 {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: .3em;
}
.page-preview .x-panel-body .heading .top h5 {
  color: #999;
  font-weight: normal;
  font-size: 10px;
  margin: 0 0 .4em;
}
.page-preview .x-panel-body .heading .bottom {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  margin-left: 85px;
}
.page-preview .x-panel-body .heading .bottom div {
  line-height: 1.4em;
}
.page-preview .x-panel-body .announcement {
  background: #111;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #fff;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
.page-preview .x-panel-body .facebook {
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6em;
}
.page-preview .x-panel-body .facebook .checkin {
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .facebook div {
  padding: 8px;
  background: transparent url("/images/entry/facebook.png") 10px 50% no-repeat;
  background-size: 30px 30px;
}
.page-preview .x-panel-body .sharing {
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6em;
}
.page-preview .x-panel-body .sharing .feedback {
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .sharing div {
  padding: 8px;
}
.copyright ul {
  display: inline;
  list-style: none;
  margin: 0;
}
.copyright ul li {
  display: inline;
  margin: 0 0 0 10px;
  list-style: none;
  padding: 0;
}
.copyright a:hover {
  color: #3cff9b;
}
.stats-heading {
  font-weight: normal;
  font-family: ArvoRegular;
  padding: .2em .5em;
  background: #f3f3f3;
  color: #000;
  font-size: 22px;
  margin: .5em 0 1em;
}
.list-ct ul {
  margin: 0;
  list-style: none;
}
.list-ct ul li {
  list-style: none;
  margin: 0;
}
.create-account {
  padding-bottom: 20px;
}
.create-account ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.create-account ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.create-account ul li label {
  zoom: 1;
  _width: 1%;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e2e2e2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #e2e2e2)) !important;
  padding: 8px;
  position: relative;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border: 2px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  margin: 0 0 10px;
}
.create-account ul li label input {
  position: absolute;
  top: 45%;
  left: -99999em;
}
.create-account ul li label.hover {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f2f2f2)) !important;
}
.create-account ul li label.selected {
  border-color: #00a24f;
  background-color: #fff;
  background-image: none !important;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
}
.create-account ul li label img {
  float: left;
  margin-right: 10px;
}
.create-account ul li label .info {
  display: block;
  margin-left: 10px;
}
.create-account ul li label .info .title {
  font-weight: bold;
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
}
.create-account ul li label .info .address {
  display: block;
  color: #999;
}
.create-account ul li label .info .address .street, .create-account ul li label .info .address .city {
  display: block;
}
