h2(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 22px;")
  | Your contest is about to expire!

p(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 14px;")
  | Hi #{user.name} -

p(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 14px;")
  |  This is just a reminder that your contest, <strong>#{contest.name}</strong>
  |  is about to expire. You can <a href="https://bozuko.com/beta">log in</a>
  |  to your dashboard and copy this contest or create a new one to start once
  |  this one finishes.