h2(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 22px;")
    | The following are the totals for the instant win game #{contest.name}

p(style="font-family: Trebuchet MS, Tahoma, arial, sans; font-size: 14px;")
    | <ul>
    | <li><b>Total Entries</b>: #{contest.entries}</li>
    | <li><b>Unique Entries</b>: #{contest.unique_users}</li>
    | </ul>
    | This Game has been shared #{contest.shares} times by players.
