@keyframes pulse {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.2,1.2);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1,1);
    }
    to {
        -moz-transform: scale(1.2,1.2);
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1,1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
    }
}

@keyframes wiggle {
    from {
        transform:rotate(-4deg) scale(.9,.9);
    }
    to {
        transform:rotate(12deg) scale(1.2,1.2);
    }
}

@-moz-keyframes wiggle {
    from {
        -moz-transform:rotate(-4deg) scale(.9,.9);
    }
    to {
        -moz-transform:rotate(12deg) scale(1.2,1.2);
    }
}

@-webkit-keyframes wiggle {
    from {
        -webkit-transform:rotate(-4deg) scale(.9,.9);
    }
    to {
        -webkit-transform:rotate(12deg) scale(1.2,1.2);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes stars {
    0%{
        transform:rotate(0deg) scale(1,1);
    }
    50% {
        transform:rotate(180deg) scale(1.1,1.1);
    }
    100% {
        transform:rotate(3600deg) scale(1,1);
    }
}

@-moz-keyframes stars {
    0%{
        -moz-transform:rotate(0deg) scale(.9,.9);
    }
    50% {
        -moz-transform:rotate(180deg) scale(1.1,1.1);
    }
    100% {
        -moz-transform:rotate(360deg) scale(.9,.9);
    }
}

@-webkit-keyframes stars {
    0%{
        -webkit-transform:rotate(0deg) scale(.9,.9);
    }
    25% {
        -webkit-transform:rotate(180deg) scale(1.3,1.3);
    }
    50% {
        -webkit-transform:rotate(360deg) scale(1.1,1.1);
    }
    75% {
        -webkit-transform:rotate(540deg) scale(1.3,1.3);
    }
    100% {
        -webkit-transform:rotate(720deg) scale(.9,.9);
    }
}