.bozuko-tab {
  position: absolute;
  position: fixed;
  z-index: 20;
  transition: none;
  cursor: pointer;
}
.bozuko-tab span {
  display: none;
}
.bozuko-tab {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -110px;
  width: 54px;
  height: 201px;
  display: block;
  background: transparent url("/images/client/playgame-vertical.png?v3") scroll 0 0 no-repeat;
}
.bozuko-tab:hover {
  background-position: 100% 0;
}
.bozuko-powered {
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  width: 100px;
  height: 48px;
  background: transparent url("/images/client/powered-by.png") scroll 0 0 no-repeat;
}
