.cf {
  zoom: 1;
}
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  content: "";
  display: block;
}
body {
  background: #000000;
  padding: 0;
  margin: 0;
  height: 460px;
  font-family: "open sans", arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-familiy: "open sans", arial;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  text-align: center;
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
.app {
  position: relative;
  width: 320px;
  height: 416px;
  margin: 0 auto;
}
.mask {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.branding {
  text-align: center;
}
.branding img {
  border: 2px solid #999;
  vertical-align: middle;
}
.branding h4 {
  vertical-align: middle;
  margin: 0;
}
.loading {
  text-align: center;
}
.loading img {
  margin-right: 6px;
}
.spinner {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: spin 0.6s ease-in-out 0s infinite alternate;
  -moz-animation: spin 0.6s ease-in-out 0s infinite alternate;
}
.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}
.modal-window {
  margin: 20px;
  border: 3px solid #999;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0 0 20px #333333;
  -webkit-box-shadow: 0 0 20px #333333;
  box-shadow: 0 0 20px #333333;
  color: #666;
  -moz-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -webkit-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -ms-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.modal-window .logo {
  background: transparent url("/images/client/img_logo.png") no-repeat 50% 50%;
  height: 70px;
}
.modal-window .text {
  color: #006b37;
  font-weight: 500;
  text-align: center;
}
.facebook-login {
  display: block;
  width: 67px;
  height: 22px;
  margin: 6px auto;
  cursor: pointer;
  text-indent: -9999em;
  background: transparent url("/images/client/fblogin.png") no-repeat 50% 50%;
}
.powered-by {
  text-align: center;
  background: transparent url("/images/client/bozuko-logo-small.png") no-repeat 50% 100%;
  padding-bottom: 30px;
}
.powered-by .small {
  font-size: 10px;
}
/**
 * Games
 */
.scratch-ticket {
  background: #bbb;
  position: relative;
}
.scratch-ticket .prize {
  position: absolute;
  z-index: 1;
  width: 92px;
  height: 115px;
  text-align: center;
  font-family: tahoma, arial, sans;
}
.scratch-ticket .prize .number {
  padding: 20px 0 15px;
  font-size: 18px;
}
.scratch-ticket .prize .name {
  font-size: 11px;
  padding: 0 12px;
}
.scratch-ticket .profile-pic {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(-15deg);
}
.scratch-ticket .tickets-left {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: 9px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  left: 107px;
}
.scratch-ticket .ticket {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.scratch-ticket .target {
  position: absolute;
  width: 92px;
  height: 115px;
  z-index: 4;
  cursor: pointer;
  zoom: 1;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.scratch-ticket .animations {
  z-index: 4;
  position: absolute;
  overflow: hidden;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}
.scratch-ticket .animations .animation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scratch-ticket .animations .animation img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.scratch-ticket .animations .animate {
  display: block;
}
.scratch-ticket .animations .animate .bg {
  z-index: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: fadein 300ms ease-in-out, pulse 1s ease-in-out 0ms infinite alternate;
  -moz-animation: pulse 1s ease-in-out 0ms infinite alternate;
}
.scratch-ticket .animations .animate .txt {
  z-index: 3;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: fadein 300ms ease-in-out, wiggle 1s ease-in-out 0s infinite alternate;
  -moz-animation: wiggle 1s ease-in-out 0s infinite alternate;
}
.scratch-ticket .animations .animate .stars {
  z-index: 2;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: stars 4s linear 0s infinite
                    ;
  -moz-animation: stars 4s linear 0s infinite
                    ;
}
