.cf {
  zoom: 1;
}
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  content: "";
  display: block;
}
body {
  background: #000000;
  padding: 0;
  margin: 0;
  height: 460px;
  font-family: "open sans", arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-familiy: "open sans", arial;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  text-align: center;
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
.app {
  position: relative;
  width: 320px;
  height: 416px;
  margin: 0 auto;
}
.mask {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.branding {
  text-align: center;
}
.branding img {
  border: 2px solid #999;
  vertical-align: middle;
}
.branding h4 {
  vertical-align: middle;
  margin: 0;
}
.loading {
  text-align: center;
}
.loading img {
  margin-right: 6px;
}
.spinner {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: spin 0.6s ease-in-out 0s infinite alternate;
  -moz-animation: spin 0.6s ease-in-out 0s infinite alternate;
}
.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}
.modal-window {
  margin: 15px;
  border: 3px solid #999;
  padding: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0 0 20px #333333;
  -webkit-box-shadow: 0 0 20px #333333;
  box-shadow: 0 0 20px #333333;
  max-height: 381px;
  color: #666;
  -moz-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -webkit-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -ms-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  box-shadow: 0 0 20px #333, inset 0 0 40px #999;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.modal-window .logo {
  background: transparent url("/images/client/img_logo.png") no-repeat 50% 50%;
  height: 70px;
}
.modal-window .text {
  color: #006b37;
  font-weight: 500;
  text-align: center;
}
.facebook-login {
  display: block;
  width: 67px;
  height: 22px;
  margin: 6px auto;
  cursor: pointer;
  text-indent: -9999em;
  background: transparent url("/images/client/fblogin.png") no-repeat 50% 50%;
}
.powered-by {
  text-align: center;
  background: transparent url("/images/client/bozuko-logo-small.png") no-repeat 50% 100%;
  padding-bottom: 30px;
}
.powered-by .small {
  font-size: 10px;
}
/**
 * Games
 */
.scratch-ticket {
  background: #bbb;
  position: relative;
}
.scratch-ticket .prize {
  position: absolute;
  z-index: 1;
  width: 92px;
  height: 115px;
  text-align: center;
  font-family: tahoma, arial, sans;
}
.scratch-ticket .prize .number {
  font-weight: 800;
  padding: 18px 0 10px;
  font-size: 26px;
}
.scratch-ticket .prize .name {
  font-size: 11px;
  padding: 0 12px;
}
.scratch-ticket .profile-pic {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(-15deg);
}
.scratch-ticket .tickets-left {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: 9px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  left: 107px;
}
.scratch-ticket .ticket {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.scratch-ticket .target {
  position: absolute;
  width: 92px;
  height: 115px;
  z-index: 4;
  cursor: pointer;
  zoom: 1;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.scratch-ticket .animations {
  z-index: 4;
  position: absolute;
  overflow: hidden;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}
.scratch-ticket .animations .animation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scratch-ticket .animations .animation img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.scratch-ticket .animations .animate {
  display: block;
}
.scratch-ticket .animations .animate .bg {
  z-index: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: fadein 300ms ease-in-out, pulse 1s ease-in-out 0ms infinite alternate;
  -moz-animation: pulse 1s ease-in-out 0ms infinite alternate;
}
.scratch-ticket .animations .animate .txt {
  z-index: 3;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: fadein 300ms ease-in-out, wiggle 1s ease-in-out 0s infinite alternate;
  -moz-animation: wiggle 1s ease-in-out 0s infinite alternate;
}
.scratch-ticket .animations .animate .stars {
  z-index: 2;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-animation: stars 4s linear 0s infinite
                    ;
  -moz-animation: stars 4s linear 0s infinite
                    ;
}
.page-window {
  padding: 0;
}
.page-window .hd {
  overflow: hidden;
  position: static;
  height: 75px;
  background-color: #656565;
  background-image: -moz-linear-gradient(top, #656565, #343434);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656565), color-stop(1, #343434)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#656565',EndColorStr='#343434');
  /* IE6-9 */

  color: #fff;
  font-size: 12px;
}
.page-window .hd .page-pic {
  position: relative;
  overflow: hidden;
  float: left;
  width: 75px;
  height: 75px;
  background: #fff;
}
.page-window .hd .page-pic img {
  z-index: 0;
  position: relative;
}
.page-window .hd .content {
  padding: 6px;
  margin-left: 75px;
  font-size: 11px;
  line-height: 1.3em;
}
.game-description {
  padding: 0;
}
.game-description .hd .content .name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: .4em;
}
.game-description .hd .content .name img {
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
.game-description .hd .content .instructions {
  padding-left: 2px;
}
.game-description .actions {
  border-top: 1px solid #999;
  background: #5f5f5f;
  color: #fff;
  font-size: 13px;
  padding: 6px;
  text-align: center;
}
.game-description .actions .loader {
  display: none;
}
.game-description .actions .action {
  display: block;
}
.game-description .actions .button {
  display: block;
  margin: 0 10px;
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: #2ad43a;
  background-image: -moz-linear-gradient(top, #2ad43a, #1e9a2a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2ad43a), color-stop(1, #1e9a2a)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#2ad43a',EndColorStr='#1e9a2a');
  /* IE6-9 */

  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 1px 1px 2px #333333, -1px -1px 2px #666666, inset 1px 1px 1px #ffffff;
  -webkit-box-shadow: 1px 1px 2px #333333, -1px -1px 2px #666666, inset 1px 1px 1px #ffffff;
  -moz-box-shadow: 1px 1px 2px #333333, -1px -1px 2px #666666, inset 1px 1px 1px #ffffff;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.game-description .actions .button:hover {
  background-color: #31fb45;
  background-image: -moz-linear-gradient(top, #31fb45, #26c135);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #31fb45), color-stop(1, #26c135)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#31fb45',EndColorStr='#26c135');
  /* IE6-9 */

}
.game-description .actions .agree {
  font-size: 10px;
}
.game-description .loading .action {
  display: none;
}
.game-description .loading .loader {
  display: block;
}
.game-description .bd {
  padding-top: 0;
}
.game-description .bd .scrollable {
  padding: 10px;
}
.game-description .bd .section h4 {
  color: #333;
  margin: 0 0 5px 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}
.game-description .bd .section ul {
  margin-top: 0;
  margin-left: 0;
  list-style: none;
  padding: 0;
}
.game-description .bd .section ul li {
  color: #666;
  margin: 0;
  list-style: none;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}
.game-description .bd .section ul li:last-child {
  border-bottom-width: 0;
}
.game-description .bd .bubble {
  border: 2px solid #999;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.game-description .bd .terms .bubble {
  padding: 10px;
  font-size: 11px;
}
.you-win .hd h2 {
  font-size: 28px;
  color: 11px;
  line-height: 75px;
  text-align: center;
}
.you-win .ft {
  background-color: #656565;
  background-image: -moz-linear-gradient(top, #656565, #343434);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656565), color-stop(1, #343434)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#656565',EndColorStr='#343434');
  /* IE6-9 */

  text-align: center;
  padding: 6px;
}
.you-win .ft .btn {
  color: #fff;
  font-size: 14px;
  padding: 4px 6px;
  cursor: pointer;
  display: inline-block;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  background-color: #4884a8;
  background-image: -moz-linear-gradient(top, #4884a8, #386681);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4884a8), color-stop(1, #386681)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#4884a8',EndColorStr='#386681');
  /* IE6-9 */

}
.superscroll {
  position: relative;
  overflow: hidden;
}
.superscroll .scrollable {
  overflow: scroll;
}
.superscroll-bar {
  background: #666;
  background: rgba(0, 0, 0, 0.6);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 7px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-clip: padding-box;
  position: absolute;
  opacity: 0;
  z-index: 2;
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}
.superscroll-bar-shown {
  opacity: 1;
}
.superscroll-bar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}
.superscroll-bar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}
