@import "app/static/css/vars";
@import "app/static/css/mixins";

html{ }
body{ background: #000000; padding: 0; margin: 0; height: 460px; font-family: "open sans", arial;}
h1,h2,h3,h4,h5,h6{ font-familiy: "open sans", arial; }

h4{ font-size: 16px; font-weight: 500; color: #666; text-align: center;}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

.app {
    position: relative;
    width: 320px;
    height: 416px;
    margin: 0 auto;
}

.mask {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    .opacity(40);
}

.branding {
    text-align: center;
    img {
        border: 2px solid #999;
        vertical-align: middle;
    }
    h4 {
        vertical-align: middle;
        margin: 0;
    }
}

.loading {
    
    text-align: center;
    img {
        margin-right: 6px;
    }
}

.spinner {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    
    -webkit-animation:
        spin .6s ease-in-out 0s infinite alternate
        ;
    
    -moz-animation:
        spin .6s ease-in-out 0s infinite alternate
        ;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}

.modal-window {
    margin: 20px;
    border: 3px solid #999;
    padding: 10px;
    background: rgba(255,255,255,.85);
    .box_shadow(0,0,20px,#333);
    
    color: #666;
    
    -moz-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
    -webkit-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
    -ms-box-shadow: 0 0 20px #333, inset 0 0 40px #999;
    box-shadow: 0 0 20px #333, inset 0 0 40px #999;
    
    .border_radius( 10px );
    
    .logo {
        background: transparent url("/images/client/img_logo.png") no-repeat 50% 50%;
        height: 70px;
    }
    
    .text {
        color: @dark_color;
        font-weight: 500;
        text-align: center;
    }
}

.facebook-login {
    display: block;
    width: 67px;
    height: 22px;
    margin: 6px auto;
    cursor: pointer;
    text-indent: -9999em;
    background: transparent url("/images/client/fblogin.png") no-repeat 50% 50%;
    
}

.powered-by {
    text-align: center;
    background: transparent url("/images/client/bozuko-logo-small.png") no-repeat 50% 100%;
    padding-bottom: 30px;
    
    .small {
        font-size: 10px;
        
    }
}

/**
 * Games
 */
.scratch-ticket {
    background: #bbb;
    position: relative;
    
    .prize {
        position: absolute;
        z-index: 1;
        
        width: 92px;
        height: 115px;
        
        text-align: center;
        font-family: tahoma, arial, sans;
        
        .number {
            padding: 20px 0 15px;
            font-size: 18px;
        }
        .name {
            font-size: 11px;
            padding: 0 12px;
        }
    }
    
    .profile-pic {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 8px;
        width: 80px;
        height: 80px;
        -webkit-transform:rotate(-15deg);
    }
    
    .tickets-left {
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        z-index: 3;
        top: 9px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        left: 107px;
    }
    
    .ticket {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
    
    .target {
        position: absolute;
        width: 92px;
        height: 115px;
        z-index: 4;
        cursor: pointer;
        zoom: 1;
        background: #fff;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    
    .animations {
        z-index: 4;
        position: absolute;
        overflow: hidden;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100%;
        
        .animation {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
                
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        
        .animate {
            display: block;
            .bg {
                z-index: 1;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                -webkit-animation:
                    fadein 300ms ease-in-out,
                    pulse 1s ease-in-out 0ms infinite alternate
                    ;
                    
                -moz-animation:
                    pulse 1s ease-in-out 0ms infinite alternate
                    ;
            }
            
            .txt {
                z-index: 3;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                
                -webkit-animation:
                    fadein 300ms ease-in-out,
                    wiggle 1s ease-in-out 0s infinite alternate
                    ;
                
                -moz-animation:
                    wiggle 1s ease-in-out 0s infinite alternate
                    ;
            }
            
            .stars {
                
                z-index: 2;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                
                -webkit-animation:
                    stars 4s linear 0s infinite
                    ;
                
                -moz-animation:
                    stars 4s linear 0s infinite
                    ;
            }
        }
        
    }
}