@import "app/static/css/vars";
@import "app/static/css/mixins";

html{ }
body{ background: #000000; padding: 0; margin: 0; height: 460px; font-family: "open sans", arial;}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

.app {
    position: relative;
    width: 320px;
    height: 416px;
    margin: 0 auto;
}

.mask {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    .opacity(40);
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}

.modal-window {
    margin: 20px;
    border: 3px solid @dark_color;
    padding: 10px;
    background: rgba(255,255,255,.75);
    .box_shadow(0,0,20px,#333);
    .border_radius( 10px );
    
    .logo {
        background: transparent url("/images/client/img_logo.png") no-repeat 50% 50%;
        height: 70px;
    }
    
    .text {
        color: @dark_color;
        font-weight: 500;
        text-align: center;
    }
}

.facebook-login {
    display: block;
    width: 67px;
    height: 22px;
    margin: 6px auto;
    cursor: pointer;
    text-indent: -9999em;
    background: transparent url("/images/client/fblogin.png") no-repeat 50% 50%;
    
}

.loading {
    
    
}

/**
 * Games
 */
.scratch-ticket {
    background: #bbb;
    position: relative;
    
    .prize {
        position: absolute;
        z-index: 1;
        
        width: 92px;
        height: 115px;
        
        text-align: center;
        font-family: tahoma, arial, sans;
        
        .number {
            padding: 20px 0 15px;
            font-size: 18px;
        }
        .name {
            font-size: 11px;
            padding: 0 12px;
        }
    }
    
    .profile-pic {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 8px;
        width: 80px;
        height: 80px;
        -webkit-transform:rotate(-15deg);
    }
    
    .tickets-left {
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        z-index: 3;
        top: 9px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        left: 107px;
    }
    
    .ticket {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
    
    .target {
        position: absolute;
        width: 92px;
        height: 115px;
        z-index: 3;
    }
    
    .animations {
        z-index: 4;
        position: absolute;
        overflow: hidden;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100%;
        
        .animation {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
                
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        
        .animate {
            display: block;
            .bg {
                z-index: 1;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                -webkit-animation:
                    fadein 300ms ease-in-out,
                    pulse 1s ease-in-out 0ms infinite alternate
                    ;
                    
                -moz-animation:
                    fadein 300ms ease-in-out 0ms 1 forward,
                    pulse 1s ease-in-out 0ms infinite alternate
                    ;
            }
            
            .txt {
                z-index: 3;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                
                -webkit-animation:
                    fadein 300ms ease-in-out,
                    wiggle 1s ease-in-out 0s infinite alternate
                    ;
                
                -moz-animation:
                    fadein 300ms ease-in-out 0ms 1 forward,
                    wiggle 1s ease-in-out 0s infinite alternate
                    ;
            }
            
            .stars {
                
                z-index: 2;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                
                -webkit-animation:
                    stars 2s ease-in-out 0s infinite forward
                    ;
                
                -moz-animation:
                    stars 2s ease-in-out 0s infinite forward
                    ;
            }
        }
        
    }
}