.body
  .rightCol(style="width: 300px")

    h3(style="margin-top: 10px; text-transform: uppercase; font-family:Arial; text-align: center; font-weight:bold;") Play on your phone!
    
    p(style="text-align:center;")
      img(src=qr,alt="Try it on your phone!",width="300",style="margin: 0 auto;",style="border:1px solid #ccc; background:#fff; box-shadow: 0 0 10px #666;")
    
    p Scan the QR code above, or visit the following url in your mobile browser:
        | <br /><br /><strong>#{short_url}</strong>
  
  .main
    .main-padding(style="padding: 0 20px 0 0")
      
      != content