
script(src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js")
script(type="text/javascript",src="/js/client/lib/Api.js")
script(type="text/javascript",src="/js/client/game/Abstract.js")
script(type="text/javascript",src="/js/client/game/Scratch.js")
script(type="text/javascript",src="/js/client/App.js")
script(type="text/javascript")
  Bozuko.client.App.path = !{JSON.stringify(path)};
  Bozuko.client.App.launch();