#fb-root
script(type="text/javascript",src="/js/modernizr/min.js")
script(src="//connect.facebook.net/en_US/all.js")
script(src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js")
script(type="text/javascript",src="/js/client/lib/Api.js")
script(type="text/javascript",src="/js/client/game/Abstract.js")
script(type="text/javascript",src="/js/client/game/Scratch.js")
script(type="text/javascript",src="/js/client/App.js")
script(type="text/javascript")
  Bozuko.client.App.path = !{JSON.stringify(path)};
  Bozuko.client.App.facebookApp = {
    id: "#{Bozuko.cfg('facebook.app.id')}",
    scope: "#{Bozuko.cfg('facebook.perms.user')}"
  };
  Bozuko.client.App.launch();