!!!
html
  head
    title Bozuko Client
    
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1")
    link(rel="stylesheet",type="text/css",href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300")
    
    - if( locals.stylesheets )
      - each sheet in stylesheets
        link(rel="stylesheet",type="text/css",href=sheet)
        
    - if( locals.scripts )
      - each script in scripts
        script(type="text/javascript",src=script)
        
    link(rel="stylesheet",type="text/css",href="/css/client/animations.css")
    link(rel="stylesheet",type="text/css",href="/css/client/style.css")
    
  body
    != body