!!!
html
  head
    title Bozuko Client
    
    meta(name="viewport",content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1")
    link(rel="stylesheet",type="text/css",href="/css/client/style.css")
    
  body
    != body