#fb-root
script(type="text/javascript")
  window.localStorage.setItem = function(key,val){
    window.localStorage.removeItem(key);
    window.localStorage.setItem(key, val);
  };
script(src="//connect.facebook.net/en_US/all.js")

#container
script(type="text/javascript")
  
  alert('before init');
  var channel = '//'+(window.location.hostname+((~[80,443].indexOf(window.location.port))?'':(':'+window.location.port))+'/channel.html');
  //initialize facebook
  try{
    FB.init({
        status: true, 
        cookie: false,
        xfbml: false,
        oauth: true
    });
  }catch(e){
    alert(e.message);
  }
  alert('after init');