.pages {
  overflow: hidden;
}
.pages .page-wrap {
  width: 48%;
  float: left;
  margin-left: 1%;
}
.pages .page-wrap .page {
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin-bottom: 10px;
}
.pages .page-wrap .page img {
  float: left;
  margin: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
.pages .page-wrap .page h2 {
  font-size: 20px;
}
.pages .page-wrap .page .actions {
  float: right;
}
.pages .page-wrap .page .actions .action {
  background-position: 0 0;
  background-repeat: no-repeat;
  line-height: 16px;
  padding-left: 20px;
  margin-left: 10px;
  float: left;
}
.pages .page-wrap .page .actions .add_games {
  background-image: url(../../images/icons/16x16/add.png);
}
.pages .page-wrap .page .actions .delete {
  background-image: url(../../images/icons/16x16/delete.png);
}
.buttons {
  text-align: right;
}
