.contestpanel h1 {
  font-size: 20px;
  margin-bottom: 1em;
}
.campaigns-body {
  clear: both;
}
.campaigns-body .campaign-list .list-item {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e6e6e6));
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.campaigns-body .campaign-list .list-item .title {
  font-size: 16px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
}
.campaigns-body .campaign-list .list-item .title .state {
  float: right;
  font-size: 12px;
}
.campaigns-body .campaign-list .list-item .gauge {
  float: right;
  margin: 0 0 0 10px;
}
.campaigns-body .campaign-list .list-item .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaigns-body .campaign-list .list-item .details table td {
  padding: 4px;
}
.buttons {
  clear: both;
  display: block;
  border-top: 1px solid #ddd;
  margin-top: 6px;
  padding-top: 6px;
}
.buttons li {
  display: inline;
}
.buttons li a {
  margin-right: 14px;
  display: inline-block;
  line-height: 28px;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
  text-decoration: none;
  color: #da6619;
  font-size: 14px;
}
.buttons li a:hover {
  text-decoration: underline;
  color: #ac5113;
}
.buttons li .delete {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-minus-24.png');
}
.buttons li .edit {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-24.png');
}
.buttons li .publish {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-direction-right-24.png');
}
.buttons li .copy {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-plus-24.png');
}
.buttons li .cancel {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png');
}
.buttons li .reports {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/clipboard-report-bar-24.png');
}
.bozuko-list .x-dataview-item {
  cursor: pointer;
  clear: both;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 6px;
}
.bozuko-list .x-dataview-item img {
  height: 50px;
  float: right;
}
.bozuko-list .x-dataview-item .title {
  margin-top: 6px;
  font-weight: bold !important;
}
.bozuko-list .x-dataview-item .sub {
  font-size: .85em;
  color: #999;
}
.bozuko-list .x-item-over {
  background-color: #f3f3f3;
}
.bozuko-list .x-item-selected {
  background-color: #d5eaf9;
}
.winners-list {
  background: #e6e6e6;
  padding-top: 0px;
  padding-bottom: 0px;
  /*
    .list-item {
        padding-left: 44px;
        background: transparent none 6px 50% no-repeat;
    }
    .prize-active {
        background-image: url("/images/assets/prizes/32/icon-active.png");
    }
    .prize-expired {
        background-image: url("/images/assets/prizes/32/icon-expired.png");
    }
    .prize-redeemed {
        background-image: url("/images/assets/prizes/32/icon-redeemed.png");
    }
    */

}
.winners-list .x-dataview-item {
  background-color: #fff;
  padding: 0;
}
.winners-list .page-name {
  background: #e6e6e6;
  text-align: left;
  padding: .2em 6px;
  font-weight: bold;
}
.winners-list .contest-name {
  background: #d8d8d8;
  border-bottom: #efefef;
  text-align: left;
  font-size: 1em;
  padding: .4em 6px;
  font-weight: normal;
}
.winners-list .user-name {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: .4em;
}
.winners-list .prize-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .4em;
}
.winners-list .prize-timestamp {
  font-size: 12px;
  color: #999;
}
.winners-list .winner-body {
  padding: 6px 6px 6px 44px;
  background: transparent none -12px 50% no-repeat;
}
.winners-list .prize-active .winner-body {
  background-image: url("/images/assets/prizes/48/icon-active.png");
}
.winners-list .prize-expired .winner-body {
  background-image: url("/images/assets/prizes/48/icon-expired.png");
}
.winners-list .prize-redeemed .winner-body {
  background-image: url("/images/assets/prizes/48/icon-redeemed.png");
}
.winners-list .winner-blink {
  background-color: #b7ffd0;
}
.campaign-nav {
  height: 100%;
  border-right: 1px solid #ccc;
  background: #e6e6e6;
  padding-top: 20px;
}
.campaign-nav ul li {
  cursor: pointer;
  padding: 7px 4px 7px 30px;
  background-repeat: no-repeat;
  background-position: 4px 50%;
}
.campaign-nav ul .nav-item-over {
  background-color: #ccc;
}
.campaign-nav ul .nav-item-selected {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff !important;
  margin-right: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.campaign-nav ul .contest {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-16.png');
}
.campaign-nav ul .prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-forum-16.png');
}
.campaign-nav ul .consolation_prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/star-inactive-16.png');
}
.campaign-nav ul .game {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/dice-white-16.png');
}
.campaign-nav ul .entry {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/person-plus-16.png');
}
.campaign-nav ul .rules {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/paper-gavel-16.png');
}
.campaign-details {
  padding: 10px;
  background: transparent;
}
.campaign-details .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaign-details .details table td {
  padding: 4px;
}
.campaign-preview {
  border-left: 1px solid #ccc;
}
.campaign-preview .x-panel-body {
  background: #e6e6e6;
}
.title-toolbar .x-toolbar-text {
  font-size: 18px;
}
fieldset {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
fieldset .x-fieldset-header {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.x-datetime-picker .x-datepicker-footer .x-btn, .x-datetime-picker .x-datepicker-footer .x-field {
  display: inline-block;
  float: left;
  margin: 5px 1px;
}
