.contestpanel h1 {
  font-family: ArvoRegular;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 1em;
}
.campaigns-body {
  clear: both;
}
.campaigns-body .campaign-list .list-item {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e6e6e6)) !important;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.campaigns-body .campaign-list .list-item .title {
  font-size: 16px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
}
.campaigns-body .campaign-list .list-item .title .state {
  float: right;
  font-size: 12px;
}
.campaigns-body .campaign-list .list-item .gauge {
  float: right;
  margin: 0 0 0 10px;
}
.campaigns-body .campaign-list .list-item .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaigns-body .campaign-list .list-item .details table td {
  padding: 4px;
}
.app-buttons {
  clear: both;
  display: block;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}
.app-buttons li {
  display: inline;
  margin: 0;
  padding: 0;
}
.app-buttons li a {
  margin-right: 14px;
  display: inline-block;
  line-height: 28px;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
  text-decoration: none;
  color: #da6619;
  font-size: 14px;
}
.app-buttons li a:hover {
  text-decoration: underline;
  color: #ac5113;
}
.app-buttons li .delete {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-minus-24.png');
}
.app-buttons li .edit {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-24.png');
}
.app-buttons li .publish {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-direction-right-24.png');
}
.app-buttons li .copy {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-plus-24.png');
}
.app-buttons li .cancel {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png');
}
.app-buttons li .reports {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/clipboard-report-bar-24.png');
}
.bozuko-list .x-dataview-item {
  cursor: pointer;
  clear: both;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 6px;
}
.bozuko-list .x-dataview-item img {
  height: 50px;
  float: right;
}
.bozuko-list .x-dataview-item .title {
  margin-top: 6px;
  font-weight: bold !important;
}
.bozuko-list .x-dataview-item .sub {
  font-size: .85em;
  color: #999;
}
.bozuko-list .x-item-over {
  background-color: #f3f3f3;
}
.bozuko-list .x-item-selected {
  background-color: #d5eaf9;
}
.winners-list {
  background: #e6e6e6;
  padding-top: 0px;
  padding-bottom: 0px;
  /*
    .list-item {
        padding-left: 44px;
        background: transparent none 6px 50% no-repeat;
    }
    .prize-active {
        background-image: url("/images/assets/prizes/32/icon-active.png");
    }
    .prize-expired {
        background-image: url("/images/assets/prizes/32/icon-expired.png");
    }
    .prize-redeemed {
        background-image: url("/images/assets/prizes/32/icon-redeemed.png");
    }
    */

}
.winners-list .x-dataview-item {
  background-color: #fff;
  padding: 0;
}
.winners-list .page-name {
  background: #e6e6e6;
  text-align: left;
  padding: .2em 6px;
  font-weight: bold;
}
.winners-list .contest-name {
  background: #e8e8e8;
  border-bottom: #d0d0d0;
  text-align: left;
  font-size: 1em;
  padding: .4em 6px;
  font-weight: normal;
}
.winners-list .user-name {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: .4em;
}
.winners-list .prize-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .4em;
}
.winners-list .prize-timestamp {
  font-size: 12px;
  color: #999;
}
.winners-list .winner-body {
  padding: 6px 6px 6px 44px;
  background: transparent none -12px 50% no-repeat;
}
.winners-list .prize-active .winner-body {
  background-image: url("/images/assets/prizes/48/icon-active.png");
}
.winners-list .prize-expired .winner-body {
  background-image: url("/images/assets/prizes/48/icon-expired.png");
}
.winners-list .prize-redeemed .winner-body {
  background-image: url("/images/assets/prizes/48/icon-redeemed.png");
}
.winners-list .winner-blink {
  background-color: #b7ffd0;
}
.campaign-nav {
  height: 100%;
  border-right: 1px solid #ccc;
  background: #e6e6e6;
  padding-top: 20px;
}
.campaign-nav ul li {
  cursor: pointer;
  padding: 7px 4px 7px 30px;
  background-repeat: no-repeat;
  background-position: 4px 50%;
}
.campaign-nav ul .nav-item-over {
  background-color: #ccc;
}
.campaign-nav ul .nav-item-selected {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff !important;
  margin-right: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.campaign-nav ul .contest {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-16.png');
}
.campaign-nav ul .prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-forum-16.png');
}
.campaign-nav ul .consolation_prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/star-inactive-16.png');
}
.campaign-nav ul .game {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/dice-white-16.png');
}
.campaign-nav ul .entry {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/person-plus-16.png');
}
.campaign-nav ul .rules {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/paper-gavel-16.png');
}
.campaign-details {
  padding: 10px;
  background: transparent;
}
.campaign-details .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaign-details .details table td {
  padding: 4px;
}
.campaign-preview {
  border-left: 1px solid #ccc;
}
.campaign-preview .x-panel-body {
  background: #e6e6e6;
}
.title-toolbar .x-toolbar-text {
  font-size: 18px;
  font-weight: normal;
  font-family: ArvoRegular;
}
fieldset {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
fieldset .x-fieldset-header {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.x-datetime-picker .x-datepicker-footer .x-btn, .x-datetime-picker .x-datepicker-footer .x-field {
  display: inline-block;
  float: left;
  margin: 5px 1px;
}
.contest-overview .x-panel-body {
  background: #f3f3f3;
}
.contest-overview .stat-block {
  float: right;
  margin: 5px;
  text-align: center;
  position: relative;
  padding: 0 10px 10px;
  min-width: 80px;
}
.contest-overview .stat-block h3 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
  font-size: 12px;
  margin-bottom: 2.2em;
}
.contest-overview .stat-block .stat-info .current {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  font-family: ArvoRegular;
  color: #333;
}
.contest-overview .stat-block .stat-info .total {
  display: block;
  padding-top: 3px;
  font-size: 10px;
  color: #000;
}
.contest-overview .stat-block .info {
  z-index: 10;
  position: relative;
}
.contest-overview .stat-block .circle {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -40px;
  margin-top: -40px;
}
.contest-overview .contest-info {
  float: left;
  padding: 10px 10px 0;
}
.contest-overview .contest-info .info-row {
  overflow: hidden;
  clear: both;
  padding-bottom: .4em;
}
.contest-overview .contest-info .info-row label, .contest-overview .contest-info .info-row span {
  float: left;
}
.contest-overview .contest-info .info-row label {
  width: 80px;
  font-weight: bold;
}
.contest-list {
  border-top: 1px solid #eee;
}
.contest-list .contest-overview {
  transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  padding: 15px 0;
  overflow: hidden;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ffffff;
  /*
        .stat-info {
            .current {
                padding-top: 0px;
                font-size: 24px;
                line-height: 26px;
                
            }
            .total {
                font-size: 10px;
            }
        }
        .circle {
            margin-left: -30px;
            margin-top: -30px;
        }
        
        .stat-block {
            min-width: 60px;
        }
        */

}
.contest-list .contest-overview .info-row h3 {
  color: #000;
  font-size: 22px;
  line-height: 30px;
  font-family: ArvoRegular;
  font-weight: normal;
}
.contest-list .contest-overview .app-buttons {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.contest-list .contest-overview .contest-info {
  padding-top: 0;
}
.contest-list .contest-overview-over {
  background: #e8e8e8;
}
.player-list .player-item {
  position: relative;
  float: left;
  height: 50px;
  width: 50px;
  margin: 8px;
}
.player-list .player-item .ct {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.player-list .player-item .ct img {
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  width: 50px;
  height: 50px;
}
.player-list .player-item .ct .name {
  display: block;
  overflow: hidden;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #333;
}
.player-list .player-item-over .ct {
  left: -6px;
  width: 62px;
  height: 93px;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  box-shadow: 0 0 6px #cccccc;
}
.player-list .player-item-over .ct img {
  width: 60px;
  height: 60px;
}
.player-list .player-item-over .ct .name {
  height: 24px;
}
