.cf {
  zoom: 1;
}
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  content: "";
  display: block;
}
body .big-button,
body .small-button,
body .medium-button,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Open Sans" !important;
}
body .big-button, body .small-button, body .medium-button {
  font-weight: 700;
}
.contestpanel h1 {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 1em;
}
.campaigns-body {
  clear: both;
}
.campaigns-body .campaign-list .list-item {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e6e6e6)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#ffffff',EndColorStr='#e6e6e6');
  /* IE6-9 */

  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.campaigns-body .campaign-list .list-item .title {
  font-size: 16px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ddd;
}
.campaigns-body .campaign-list .list-item .title .state {
  float: right;
  font-size: 12px;
}
.campaigns-body .campaign-list .list-item .gauge {
  float: right;
  margin: 0 0 0 10px;
}
.campaigns-body .campaign-list .list-item .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaigns-body .campaign-list .list-item .details table td {
  padding: 4px;
}
.app-buttons {
  clear: both;
  display: block;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}
.app-buttons li {
  display: inline;
  margin: 0;
  padding: 0;
}
.app-buttons li a {
  margin-right: 14px;
  display: inline-block;
  line-height: 28px;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
  text-decoration: none;
  color: #da6619;
  font-size: 14px;
}
.app-buttons li a:hover {
  text-decoration: underline;
  color: #ac5113;
}
.app-buttons li .delete {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-minus-24.png');
}
.app-buttons li .edit {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-24.png');
}
.app-buttons li .publish {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-direction-right-24.png');
}
.app-buttons li .copy {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-plus-24.png');
}
.app-buttons li .cancel {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png');
}
.app-buttons li .reports {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/clipboard-report-bar-24.png');
}
.app-buttons li .export {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-square-direction-down-24.png');
}
.bozuko-list .x-dataview-item {
  cursor: pointer;
  clear: both;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 6px;
}
.bozuko-list .x-dataview-item img {
  height: 50px;
  float: right;
}
.bozuko-list .x-dataview-item .title {
  margin-top: 6px;
  font-weight: bold !important;
}
.bozuko-list .x-dataview-item .sub {
  font-size: .85em;
  color: #999;
}
.bozuko-list .x-item-over {
  background-color: #f3f3f3;
}
.bozuko-list .x-item-selected {
  background-color: #d5eaf9;
}
.page-list .page-inactive {
  background: #f3f3f3;
  overflow: hidden;
  margin: -6px;
  padding: 6px;
}
.page-list .x-item-selected .page-inactive {
  background-color: #d5eaf9;
}
.entry-list .page-name {
  background: #e6e6e6;
  text-align: left;
  padding: .2em 6px;
  font-weight: bold;
}
.entry-list .contest-name {
  background: #e8e8e8;
  border-bottom: #d0d0d0;
  text-align: left;
  font-size: 1em;
  padding: .4em 6px;
  font-weight: normal;
}
.entry-list .x-dataview-item {
  background-color: #fff;
  padding: 0;
  cursor: default;
}
.entry-list .entry-body {
  padding: 6px;
}
.entry-list .user-name {
  font-weight: bold;
  margin-bottom: .2em;
}
.entry-list .user-friend-count {
  color: #999;
  font-size: 11px;
  margin-bottom: .2em;
}
.entry-list .entry-timestamp {
  font-size: 12px;
  color: #999;
}
.winners-list {
  padding-top: 0px;
  padding-bottom: 0px;
}
.winners-list .x-dataview-item {
  background-color: #fff;
  padding: 0;
  cursor: default;
}
.winners-list .page-name {
  background: #e6e6e6;
  text-align: left;
  padding: .2em 6px;
  font-weight: bold;
}
.winners-list .contest-name {
  background: #e8e8e8;
  border-bottom: #d0d0d0;
  text-align: left;
  font-size: 1em;
  padding: .4em 6px;
  font-weight: normal;
}
.winners-list .user-name {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: .4em;
}
.winners-list .user-friend-count {
  color: #999;
  font-size: 11px;
  margin-bottom: .2em;
}
.winners-list .prize-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .2em;
}
.winners-list .prize-code {
  font-weight: normal;
  font-family: "courier new";
  font-size: 12px;
  margin-bottom: .2em;
  color: #666;
}
.winners-list .prize-timestamp {
  text-align: right;
  font-size: 11px;
  color: #999;
}
.winners-list .prize-timestamp .label {
  float: left;
}
.winners-list .winner-body {
  padding: 6px 6px 6px 60px;
  background: transparent none 4px 50% no-repeat;
}
.winners-list .prize-active .winner-body {
  background-image: url("/images/assets/prizes/48/icon-active.png");
}
.winners-list .prize-expired .winner-body {
  background-image: url("/images/assets/prizes/48/icon-expired.png");
}
.winners-list .prize-redeemed .winner-body {
  background-image: url("/images/assets/prizes/48/icon-redeemed.png");
}
.winners-list .winner-blink {
  background-color: #b7ffd0;
}
.campaign-nav {
  height: 100%;
  border-right: 1px solid #ccc;
  background: #e6e6e6;
  padding-top: 20px;
  list-style: none;
  margin: 0;
}
.campaign-nav ul li {
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 7px 4px 7px 30px;
  background-repeat: no-repeat;
  background-position: 4px 50%;
}
.campaign-nav ul .nav-item-over {
  background-color: #ccc;
}
.campaign-nav ul .nav-item-selected {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff !important;
  margin-right: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.campaign-nav ul .contest {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-pencil-16.png');
}
.campaign-nav ul .prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/page-forum-16.png');
}
.campaign-nav ul .consolation_prizes {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/star-inactive-16.png');
}
.campaign-nav ul .game {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/dice-white-16.png');
}
.campaign-nav ul .entry {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/person-plus-16.png');
}
.campaign-nav ul .rules {
  background-image: url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/paper-gavel-16.png');
}
.campaign-details {
  padding: 10px;
  background: transparent;
}
.campaign-details .details table th {
  padding-right: 10px;
  font-weight: bold;
}
.campaign-details .details table td {
  padding: 4px;
}
.campaign-preview {
  border-left: 1px solid #ccc;
}
.campaign-preview .x-panel-body {
  background: #e6e6e6;
}
.title-toolbar .x-toolbar-text {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  font-family: ArvoRegular;
}
fieldset {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
fieldset .x-fieldset-header {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.x-datetime-picker .x-datepicker-footer .x-btn, .x-datetime-picker .x-datepicker-footer .x-field {
  display: inline-block;
  float: left;
  margin: 5px 1px;
}
.contest-overview .x-panel-body {
  background: #f3f3f3;
}
.contest-overview .stat-block {
  float: right;
  margin: 5px;
  text-align: center;
  position: relative;
  padding: 0 10px 10px;
  min-width: 80px;
}
.contest-overview .stat-block h3 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
  font-size: 12px;
  margin-bottom: 2.2em;
}
.contest-overview .stat-block .stat-info .current {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  font-family: ArvoRegular;
  color: #333;
}
.contest-overview .stat-block .stat-info .total {
  display: block;
  padding-top: 3px;
  font-size: 10px;
  color: #000;
}
.contest-overview .stat-block .info {
  z-index: 10;
  position: relative;
}
.contest-overview .stat-block .circle {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
}
.contest-overview .contest-info {
  float: left;
  padding: 10px 10px 0;
}
.contest-overview .contest-info .info-row {
  overflow: hidden;
  clear: both;
  padding-bottom: .4em;
}
.contest-overview .contest-info .info-row label, .contest-overview .contest-info .info-row span {
  float: left;
}
.contest-overview .contest-info .info-row label {
  width: 80px;
  font-weight: bold;
}
.contest-list {
  border-top: 1px solid #eee;
}
.contest-list .contest-overview {
  transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  padding: 10px 0 10px;
  overflow: hidden;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ffffff;
  /*
        .stat-info {
            .current {
                padding-top: 0px;
                font-size: 24px;
                line-height: 26px;
                
            }
            .total {
                font-size: 10px;
            }
        }
        .circle {
            margin-left: -30px;
            margin-top: -30px;
        }
        
        .stat-block {
            min-width: 60px;
        }
        */

}
.contest-list .contest-overview h3.contest-name {
  color: #008943;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 30px;
  font-family: ArvoRegular;
  font-weight: normal;
}
.contest-list .contest-overview .contest-state-active h3.contest-name {
  color: #008943;
}
.contest-list .contest-overview .contest-state-complete h3.contest-name {
  color: red;
}
.contest-list .contest-overview .contest-state-draft h3.contest-name {
  color: #999;
}
.contest-list .contest-overview .app-buttons {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.contest-list .contest-overview .contest-info {
  padding-top: 0;
}
.contest-list .contest-overview-over {
  background: #e8e8e8;
}
.page-preview .x-panel-body {
  background: url("/images/desktop/beta/stripes.png");
  padding: 10px;
}
.page-preview .x-panel-body .block {
  margin-bottom: 10px;
}
.page-preview .x-panel-body .heading {
  font-family: "Helvetica Neue", "Arial";
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.page-preview .x-panel-body .heading .img {
  height: 70px;
  width: 70px;
  float: left;
  margin: 8px;
  border: 2px solid #ccc;
  position: relative;
  overflow: hidden;
}
.page-preview .x-panel-body .heading .img img {
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}
.page-preview .x-panel-body .heading .top {
  margin: 6px 10px 0 85px;
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .heading .top h4 {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: .3em;
}
.page-preview .x-panel-body .heading .top h5 {
  color: #999;
  font-weight: normal;
  font-size: 10px;
  margin: 0 0 .4em;
}
.page-preview .x-panel-body .heading .bottom {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  margin-left: 85px;
}
.page-preview .x-panel-body .heading .bottom div {
  line-height: 1.4em;
}
.page-preview .x-panel-body .announcement {
  background: #111;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #fff;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
.page-preview .x-panel-body .facebook {
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6em;
}
.page-preview .x-panel-body .facebook .checkin {
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .facebook div {
  padding: 8px;
  background: transparent url("/images/entry/facebook.png") 10px 50% no-repeat;
  background-size: 30px 30px;
}
.page-preview .x-panel-body .sharing {
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6em;
}
.page-preview .x-panel-body .sharing .feedback {
  border-bottom: 1px solid #ccc;
}
.page-preview .x-panel-body .sharing div {
  padding: 8px;
}
.x-datepicker-inner em {
  font-style: normal;
}
.x-form-invalid-tip ul, .x-form-invalid-tip li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.duration-field .x-form-item {
  margin-bottom: 0 !important;
}
.contest-builder p {
  margin: 1em 0;
}
.contest-builder .card-title {
  color: #006b37;
  font-family: "ArvoRegular";
  font-weight: normal;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 1em;
}
.contest-builder .builder-card .intro {
  color: #666;
  margin-bottom: 1em;
}
.contest-builder .builder-card .builder-card {
  background: #e2e2e2 url("/images/desktop/app/builder/builder-card-bg-right.png?v3") 100% 0 repeat-y;
}
.contest-builder .builder-card .builder-card-body {
  padding: 20px 20px 10px;
  background: transparent url("/images/desktop/app/builder/builder-card-bg.png?v2") 0 0 repeat-y;
}
.contest-builder .builder-card .x-form-item {
  margin-bottom: 10px;
}
.contest-builder .builder-card .card-nav-toolbar {
  zoom: 1;
  background-color: #f2f2f2;
  background-image: url("/images/desktop/app/builder/builder-card-bg-right.png?v3");
  background-position: 100% 0;
  background-repeat: repeat-y;
  padding-top: 4px;
}
.contest-builder .builder-card .card-nav-toolbar .x-box-inner {
  background-image: url("/images/desktop/app/builder/builder-card-bg.png?v2");
  backgground-position: 0 0;
  margin-top: -4px;
  margin-left: -2px;
  padding-top: 2px;
  padding-left: 2px;
  background-repeat: repeat-y;
}
.contest-builder .builder-card .card-nav-toolbar .x-box-inner .x-toolbar-item {
  margin-top: 4px;
  margin-left: 2px;
}
.contest-builder .game-list img {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
.contest-builder .select-list2 {
  margin-bottom: 10px;
}
.contest-builder .select-list2 .list-items {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 1px;
  vertical-align: bottom;
}
.contest-builder .select-list2 .x-dataview-item {
  cursor: pointer;
  position: relative;
  zoom: 1;
  display: inline-block;
  *display: inline;
  padding: 10px 4px 4px;
  margin-right: 4px;
  background: #ccc;
  border: 1px solid #999;
  border-bottom-width: 0;
  vertical-align: bottom;
  text-align: center;
  width: 98px;
  min-height: 120px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-background-clip: padding-box;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background-clip: padding-box;
}
.contest-builder .select-list2 .x-dataview-item .title {
  font-weight: bold;
  margin: 4px;
}
.contest-builder .select-list2 .x-item-selected {
  background: #fff none;
  background-image: none !important;
  border-color: #ccc;
}
.contest-builder .select-list2 .selection-description {
  clear: both;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}
.contest-builder .select-list2 .game {
  width: 120px;
}
.contest-builder .select-list .x-dataview-item {
  background: #ddd;
  border: 2px solid #ccc;
  margin: 1px 1px 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -o-transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.contest-builder .select-list .x-dataview-item img {
  float: left;
  margin: 6px;
}
.contest-builder .select-list .x-dataview-item .entry-method-body, .contest-builder .select-list .x-dataview-item .game-body {
  padding: 4px 6px 4px 0;
  margin-left: 110px;
  color: #666;
  font-size: 12px;
}
.contest-builder .select-list .x-dataview-item .entry-method-body .title, .contest-builder .select-list .x-dataview-item .game-body .title {
  font-family: ArvoRegular;
  font-size: 18px;
  line-height: 1.6em;
  color: #333;
}
.contest-builder .select-list .x-dataview-item .entry-method-body p, .contest-builder .select-list .x-dataview-item .game-body p {
  margin-top: 0;
}
.contest-builder .select-list .x-dataview-item .entry-method-body .options, .contest-builder .select-list .x-dataview-item .game-body .options {
  display: none;
  line-height: 16px;
}
.contest-builder .select-list .x-dataview-item-over {
  background: #eee;
}
.contest-builder .select-list .x-item-selected {
  transition: background 0s linear;
  -moz-transition: background 0s linear;
  -o-transition: background 0s linear;
  -webkit-transition: background 0s linear;
  border-color: #00a24f;
  background: #fff none !important;
  filter: none;
}
.contest-builder .theme-list .theme {
  position: relative;
  width: 33.2%;
  float: left;
  text-align: center;
  cursor: pointer;
}
.contest-builder .theme-list .theme-content {
  margin: 6px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #bbbbbb)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd',EndColorStr='#bbbbbb');
  /* IE6-9 */

  background: #ddd;
  border: 2px solid #aaa;
  padding: 4px;
}
.contest-builder .theme-list .theme-content img {
  height: 75px;
}
.contest-builder .theme-list .theme-scroller {
  overflow: hidden;
}
.contest-builder .theme-list .title {
  padding: 0 4px 4px;
  text-align: center;
  font-size: 14px;
  font-family: ArvoRegular;
}
.contest-builder .theme-list .description {
  display: none;
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}
.contest-builder .theme-list .x-item-selected .theme-content {
  margin: 6px;
  transition: background 0s linear;
  -moz-transition: background 0s linear;
  -o-transition: background 0s linear;
  -webkit-transition: background 0s linear;
  border: 2px solid #00a24f;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f2f2f2)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#ffffff',EndColorStr='#f2f2f2');
  /* IE6-9 */

  background: #fff;
}
.contest-builder .help-panel .x-panel-body {
  background: #fff;
  color: #666;
  line-height: 1.5em;
}
.contest-builder .help-panel .help-text {
  padding: 10px;
  font-size: 11px;
  line-height: 1.4em;
}
.contest-builder .help-panel h3 {
  font-family: ArvoRegular;
  font-weight: normal;
  margin-bottom: 1em;
  color: #333;
}
.contest-builder .help-panel p {
  margin-bottom: 1em;
}
.contest-builder .builder-arrow {
  position: absolute;
  left: -20px;
  top: 0px;
  z-index: 4;
  background: transparent url("/images/desktop/app/builder/builder-arrow.png?v3") 100% 0 no-repeat;
  width: 11px;
  height: 24px;
}
.contest-builder .contest-preview {
  padding: 10px;
  color: #666;
}
.contest-builder .contest-preview h3 {
  color: #666;
  font-size: 14px;
  font-family: ArvoRegular;
  font-weight: normal;
  margin-bottom: .6em;
}
.contest-builder .contest-preview .info-row {
  margin-bottom: .6em;
}
.contest-builder .contest-preview .info-row .label {
  padding: 2px 4px;
  background: #f3f3f3;
  font-size: .9em;
  color: #999;
  margin-bottom: .2em;
}
.contest-builder .contest-preview .info-row .value {
  color: #333;
}
.contest-builder .builder-prize-list .prize {
  padding: 10px;
  overflow: hidden;
  _height: 1%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #fff;
}
.contest-builder .builder-prize-list .prize .meta {
  float: left;
}
.contest-builder .builder-prize-list .prize .meta .name {
  font-size: 14px;
  line-height: 1.5em;
  font-family: "ArvoRegular";
}
.contest-builder .builder-prize-list .prize .meta .value {
  font-size: 12px;
  color: #666;
}
.contest-builder .builder-prize-list .prize .app-buttons {
  margin: 0;
  clear: none;
  float: right;
}
.contest-builder .builder-prize-list .prize .app-buttons li a {
  margin-right: 0;
  margin-left: 14px;
}
.contest-builder .prize-info-table th {
  padding: 2px;
  font-family: "Courier New";
}
.contest-builder .switcher {
  font-size: 11px;
  text-align: center;
  color: red;
}
.contest-builder .contest-odds-card .alternate {
  text-align: center;
  padding: 6px;
  font-family: "Tahoma";
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.contest-builder .contest-odds-card input {
  text-align: center;
}
.contest-builder .builder-prize-form {
  margin-bottom: 10px;
  overflow: visible;
}
.contest-builder .builder-prize-form .x-container {
  position: relative;
  overflow: visible;
}
.contest-builder .builder-prize-form .builder-arrow {
  left: -31px;
}
.contest-builder .builder-prize-form-body {
  overflow: visible;
  padding: 10px;
  background: #fff;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.contest-builder .builder-prize-form-body .x-box-inner {
  overflow: visible;
}
.contest-builder .mode-form {
  -moz-box-shadow: 0 0 20px #999999;
  -webkit-box-shadow: 0 0 20px #999999;
  box-shadow: 0 0 20px #999999;
  border-color: #999;
}
.contest-builder th {
  font-weight: bold;
}
.contest-builder h2 {
  text-align: center;
  font-size: 20px;
  text-transform: none;
  color: #666;
  margin-bottom: .5em;
}
.campaign-overview {
  -moz-box-shadow: 0 0 20px #999999;
  -webkit-box-shadow: 0 0 20px #999999;
  box-shadow: 0 0 20px #999999;
  border: 1px solid #aaa;
}
.campaign-overview .row {
  overflow: hidden;
  border-top: 1px solid #ffffff;
  background: #f3f3f3;
  padding: 6px;
  line-height: 1.4em;
  font-size: 13px;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.campaign-overview .row .label {
  color: #999;
  float: left;
  width: 100px;
}
.campaign-overview .row .content {
  color: #333;
  margin-left: 104px;
}
.campaign-overview .big-row .content {
  font-family: "ArvoRegular";
  font-size: 18px;
  line-height: 1.4em;
}
.campaign-overview .first-row {
  border-top-width: 0;
}
.campaign-overview .prizes .expander {
  cursor: pointer;
  float: right;
  width: 16px;
  height: 16px;
  background: transparent url("/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-square-direction-up-16.png") 0 0 no-repeat;
}
.campaign-overview .prizes .expanded .expander {
  background: transparent url("/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-square-direction-down-16.png") 0 0 no-repeat;
}
.campaign-overview .prizes .prizes-list {
  display: none;
  margin-top: 6px;
}
.campaign-overview .prizes .expanded .prizes-list {
  display: block;
  margin-left: -104px;
}
.campaign-overview .prizes .prize {
  overflow: hidden;
  background: #fff;
  padding: 6px;
  border: 1px solid #ccc;
  margin: 2px 0 4px;
}
.campaign-overview .prizes .prize .prize-odds {
  float: right;
}
.campaign-overview .prizes .prize .prize-name {
  font-weight: bold;
  margin-bottom: .4em;
}
.campaign-overview .prizes .prize .prize-details {
  font-size: 11px;
  color: #777;
  padding: 0 2px;
}
.campaign-overview .prizes .prize .prize-details .val {
  color: #333;
}
.campaign-overview .prizes .prize span {
  display: block;
}
.campaign-overview .prizes .prize .plabel {
  float: left;
  width: 95px;
}
.campaign-overview .prizes .prize .val {
  margin-left: 100px;
}
.prize-list .x-dataview-item {
  cursor: default;
}
.prize-list .title {
  font-size: 16px;
  margin-bottom: .4em;
}
.prize-list .info {
  color: #666;
}
.prize-list .info th {
  padding: 2px 4px 2px 0;
  font-weight: bold;
}
.prize-list .info td {
  color: #333;
  padding: 2px;
}
.prize-list .numbers {
  border: 1px solid #ddd;
  width: 200px;
  padding: 10px;
  float: right;
  margin-left: 10px;
  background: #f3f3f3;
}
.prize-list .numbers .number {
  font-weight: bold;
}
.prize-list .numbers .percent {
  color: #666;
  font-size: 11px;
}
.prize-list .numbers th {
  color: #666;
  padding: 2px 4px 2px 0;
}
.prize-list .numbers td {
  padding: 2px;
}
.odds-tables {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  -moz-box-shadow: 0 0 20px #999999;
  -webkit-box-shadow: 0 0 20px #999999;
  box-shadow: 0 0 20px #999999;
  color: #333;
}
.odds-tables h3 {
  font-family: "ArvoRegular";
  text-align: center;
  font-size: 13px;
  margin-bottom: 1em;
  color: #999;
  font-weight: normal;
}
.odds-tables table {
  margin-bottom: 10px;
  font-size: 11px;
  width: 100%;
  border: 1px solid #ccc;
}
.odds-tables table th {
  background: #e8e8e8;
  font-weight: bold;
  padding: 3px 6px;
  text-align: left;
}
.odds-tables table td {
  padding: 6px;
}
.odds-tables table tr.footer th {
  border-top: 1px solid #ccc;
}
.odds-tables table tr.footer td {
  font-weight: bold;
  background: #f3f3f3;
  border-top: 1px solid #ccc;
  padding: 3px 6px;
}
.security-images {
  position: relative;
}
.security-images .scroller {
  position: relative;
  overflow: auto;
  height: 98px;
}
.security-images .scroller .item {
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
}
.security-images .scroller .item img {
  height: 60px;
  width: 60px;
}
.security-images .scroller .item-over {
  padding: 3px;
  border: 2px solid #ccc;
  background-color: #fff;
}
.security-images .scroller .item-selected {
  padding: 3px;
  border: 2px solid #00a24f;
  background-color: #fff;
}
.stats-heading {
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 1em;
}
.stats-block {
  text-align: center;
  margin-top: 20px;
}
.stats-block h3 {
  background: #aaa;
  color: #fff;
  font-size: 14px;
  padding: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
}
.stats-block table {
  margin: 0 auto;
}
.stats-block table table {
  margin-right: 10px;
}
.stats-block table table thead th {
  font-size: 22px;
  text-align: left;
  font-family: "Open Sans";
  padding-bottom: 4px;
  font-weight: normal;
  color: #666;
}
.stats-block table table tbody th, .stats-block table table tbody td {
  padding: 4px;
}
.stats-block table table tbody th {
  white-space: nowrap;
  font-weight: bold;
  text-align: left;
}
.stats-block table table tbody td {
  padding-right: 0;
  padding-left: 12px;
  padding-bottom: 4px;
  text-align: right;
}
.stats-block table td {
  padding-right: 70px;
  padding-bottom: 20px;
}
.stats-block table td.last-block {
  padding-right: 0;
}
textarea.x-form-field {
  line-height: 15px;
}
strong {
  font-weight: bold;
}
.page-h3 {
  font-family: "ArvoRegular";
  font-size: 18px;
  color: #00a24f;
  line-height: 1.4em;
  font-weight: normal;
}
p {
  margin: .6em 0;
}
.admins-view .admin {
  position: relative;
  float: left;
  line-height: 30px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin-right: 10px;
  margin-bottom: 10px;
}
.admins-view .admin img {
  float: left;
  height: 30px;
  margin-right: 10px;
}
.admins-view .admin .name {
  float: left;
}
.admins-view .admin .remove {
  float: left;
  margin-left: 10px;
  text-indent: -9999em;
  cursor: pointer;
  width: 20px;
  height: 30px;
  background: transparent url('/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-cross-16.png') 0 50% no-repeat;
}
.blog-panel .x-panel-header {
  border-left-width: 1px !important;
}
.blog-panel .x-panel-header span {
  font-family: "ArvoRegular";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  color: #006b37;
  text-shadow: 2px 2px 1px #ffffff;
}
.blog-panel .x-panel-body {
  border-left-width: 1px !important;
}
h1.intro {
  font-size: 26px;
  text-align: center;
  margin: 0 0 1em;
  color: #00a24f;
  font-weight: 800;
}
.get-started-box {
  text-align: center;
  margin-bottom: 1.5em;
}
.welcome {
  list-style: none;
  padding: 0;
  margin: 0 -10px 0 0;
}
.welcome li {
  display: block;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
}
.welcome li div.outer {
  padding: 6px 6px 10px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #d8d8d8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #d8d8d8)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#f8f8f8',EndColorStr='#d8d8d8');
  /* IE6-9 */

  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #666;
}
.welcome li div.outer .inner {
  padding: 4px 80px 4px 4px;
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.welcome li div.outer .inner * {
  cursor: pointer;
}
.welcome li div.outer .inner p {
  margin-bottom: 0;
}
.welcome li div.outer .inner h3 {
  font-family: "ArvoRegular";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #00a24f;
}
.welcome li.hover .outer {
  color: #ffffff;
  background-color: #00a24f;
  background-image: -moz-linear-gradient(top, #00a24f, #006b37);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a24f), color-stop(1, #006b37)) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#00a24f',EndColorStr='#006b37');
  /* IE6-9 */

}
.welcome li.hover .outer .inner h3 {
  color: #fff;
}
.welcome .create-campaign .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-create.png");
}
.welcome .campaigns .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-games.png");
}
.welcome .dashboard .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-dashboard.png");
}
.welcome .settings .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-settings.png");
}
.welcome .account .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-account.png");
}
.welcome .resources .inner {
  background-image: url("/images/desktop/app/welcome/bg_welcome-resources.png");
}
.chart-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.chart-mask .bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: #fff;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.chart-mask .info {
  z-index: 10;
  position: absolute;
  left: 20%;
  width: 60%;
  top: 30%;
  text-align: center;
  font-size: 14px;
  line-height: 1.5em;
}
.chart-mask .info div {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}
.need-a-hand .x-panel-header-text {
  font-size: 22px;
  color: #00a24f;
  font-family: "Open Sans";
  font-weight: 800;
  line-height: 1.4em;
}
.need-a-hand .x-panel-body {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
}
.need-a-hand .x-panel-body a {
  color: #ff6600;
}
