h1.intro Welcome to Bozuko for your Business

- if( contests.length == 0 )
  p.get-started-box Getting started is easy! 
    a.small-button.ilink(rel="create-campaign") Create your first game now. &raquo;
    
ul.welcome
  li.dashboard.ilink(rel="dashboard") 
    div
      h3 Open Your Dashboard
      
      p Get the latest play stats for your Bozuko account.
  
  li.create-campaign.ilink(rel="create-campaign") 
    div
      h3 Create a Game
      
      p Our easy to use game builder will guide you through each step of the way.
  
  li.campaigns.ilink(rel="campaigns")
    div
      h3 Manage Your Games
      
      p Analyze your current and past games or create a new one.
      
  li.settings.ilink(rel="settings") 
    div
      h3 Edit Your Page Settings
      
      p Update the information players see about your business.
      
  li.resources.ilink(rel="resources") 
    div
      h3 Bozuko Account Resources
      
      p Find tools to promote Bozuko to your players and educate your employees.
      
  li.account.ilink(rel="account")
    div
      h3 Your Account Info
      
      p Add features and update your billing information.