h1.intro Welcome to Bozuko for your Business
    
ul.welcome
  li.dashboard.ilink(rel="dashboard") 
    .outer
      .inner
        h3 Open Your Dashboard
        
        p Get the latest play stats for your Bozuko account.
        
  //
    li.create-campaign.ilink(rel="create-campaign") 
      .outer
        .inner
          h3 Create a Game
          
          p Our easy to use game builder will guide you through each step of the way.
  
  li.campaigns.ilink(rel="campaigns")
    .outer
      .inner
        h3 Manage Your Games
        
        p Analyze your current and past games or create a new one.
      
  li.settings.ilink(rel="settings") 
    .outer
      .inner
        h3 Edit Your Page Settings
        
        p Update the information players see about your business.
      
  li.resources.ilink(rel="resources") 
    .outer
      .inner
        h3 Bozuko Account Resources
        
        p Find tools to promote Bozuko to your players and educate your employees.
        
  //    
    li.account.ilink(rel="account")
      .outer
        .inner
          h3 Your Account Info
          
          p Add features and update your billing information.