h1.intro Welcome to Bozuko for your Business

- if( contests.length == 0 )
  p.get-started-box Getting started is easy! 
    a.small-button.ilink(rel="create-campaign") Create your first campaign now. &raquo;
    
ul.welcome
  li.dashboard.ilink(rel="dashboard") 
    div
      h3 Open Your Dashboard
      
      p Take a look at whats happening on your page.
  
  li.create-campaign.ilink(rel="create-campaign") 
    div
      h3 Create a Campaign
      
      p Our easy to use campaign builder will guide you through each step of the way.
  
  li.campaigns.ilink(rel="campaigns")
    div
      h3 Manage Your Campaigns
      
      p Take a look at how your current campaigns are doing, or create a new one.
      
  li.settings.ilink(rel="settings") 
    div
      h3 Edit Your Page Settings
      
      p Update what your customers see on your page.
      
  li.resources.ilink(rel="resources") 
    div
      h3 View Your Resources
      
      p Promote your campaigns and educate your employees about Bozuko.
      
  li.account.ilink(rel="account")
    div
      h3 Your Account Info
      
      p Update your billing information.