@import "app/static/css/vars";
@import "app/static/css/mixins";

.pin {
   text-align: center;
   input[type='text'] {
        width: 200px;
        padding: 2px 6px;
        font-size: 14px;
        line-height: 24px;
        .border_radius(6px);
        border: 1px solid #aaa;
    }
}

.search-box {
    text-align: center;
    input[type='text'] {
        width: 420px;
        padding: 2px 6px;
        font-size: 14px;
        line-height: 24px;
        .border_radius(6px);
        border: 1px solid #aaa;
    }
}

H2.not_found {
    text-align: center;
    color: red;
}

.prize-list {
    text-align: center;
    display: block;
    width: 420px;    
    margin: 0 auto; 
    li {
        list-style: none;
        .verify-button {
            float: right;
            vertical-align: middle;
        }
        .prize {
            width: 300px;
            border: 2px solid #999;
            padding: 2px;
            .border_radius(6px);
            display: block;
            overflow: hidden;

            .page-name {
                background: #e6e6e6;
                padding: .2em 6px;
                font-weight: bold;
                font-size: 16px;
            }
            .contest-name {
                font-weight: normal;
                background: #e6e6e6;
                padding: .2em 6px;
                font-size: 16px;
            }
            .user-name {
                margin-left: 55px;
                text-align: left;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: .4em;
            }
            .prize-name {
                margin-left: 55px;
                text-align: left;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: .2em;
            }
            .prize-code {
                margin-left: 55px;
                text-align: left;
                font-weight: normal;
                font-family: "courier new";
                font-size: 12px;
                margin-bottom: .2em;
                color: #666;
            }
            img.profile-pic {
                height: 50px;
                float: right;
            }
            img.poker-chip {
                float: left;
            }
            .prize-timestamp {
                text-align:right;
                font-size: 11px;
                color: #999;
                .label {
                    float:left;
                }
            }
        }
    }
}