html {
  background: #fff;
}
.page-width {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
.page {
  width: auto;
}
.hd {
  overflow: hidden;
  background: url(/images/desktop/site/bg_hd.png) repeat-x 0 100%;
  border-bottom: 4px solid #00a24f;
}
.hd .logo {
  width: 306px;
  height: 72px;
  display: block;
  float: left;
  position: relative;
  margin: 15px 0;
}
.hd .logo a {
  display: block;
  text-indent: -10000em;
  background: url(/images/desktop/site/img_logo.png) no-repeat top left;
  width: 100%;
  height: 100%;
  position: relative;
}
.hd .profile {
  position: absolute;
  color: #fff;
  top: 4px;
  right: 0;
  width: 70%;
  text-align: right;
  line-height: 30px;
}
.hd .profile img {
  height: 26px;
  float: right;
  margin-left: 10px;
  border: 3px solid #e3e3e3;
  border-radius: 4px;
  padding: 1px;
}
.hd .nav {
  float: right;
  list-style: none;
  padding: 0;
  margin: 55px 0 0 0;
  display: block;
}
.hd .nav li {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.hd .nav li a {
  font-family: PTSansBold;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2em;
  color: #e3e3e3;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #222222));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#222222)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#222222)";
  /*  IE8 */

  border: 1px solid #000;
  border-left-width: 0;
  padding: 6px 10px;
}
.hd .nav li a.first {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
}
.hd .nav li a.last {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
}
.hd .nav li a:hover {
  color: #fff;
  background-color: #555555;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(1, #333333));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555555, endColorstr=#333333)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555555, endColorstr=#333333)";
  /*  IE8 */

}
.hd .nav li a.active {
  background-color: #00a24f;
  background-image: -moz-linear-gradient(top, #00a24f, #00562a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a24f), color-stop(1, #00562a));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00a24f, endColorstr=#00562a)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00a24f, endColorstr=#00562a)";
  /*  IE8 */

}
.home .banner .phones {
  float: right;
}
.home .banner h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: PTSansBold;
  line-height: 1.5em;
  color: #006b37;
}
.home .scroller {
  background: #ddd;
  border: 1px solid #ccc;
  clear: both;
  height: 200px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.sign-up .page-width {
  width: 600px;
}
.sign-up .bd {
  padding-top: 10px;
}
.sign-up .bd .content h2 {
  text-align: center;
  font-weight: normal;
  font-family: PTSansBold;
  background-color: #666666;
  background-image: -moz-linear-gradient(top, #666666, #333333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #333333));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#666666, endColorstr=#333333)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#666666, endColorstr=#333333)";
  /*  IE8 */

  border: 1px solid #000;
  line-height: 1.3em;
  color: #fff;
  padding: 4px 10px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0;
}
.sign-up .bd .content .content-bd {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #ddd;
  border-top-width: 0;
  background: #f3f3f3;
  padding: 10px;
}
.sign-up .bd .content h3 {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  font-family: PTSansBold;
}
.bd {
  clear: both;
  position: relative;
  margin-top: 0px;
}
.bd .page-width {
  min-height: 300px;
  background: #fff;
}
.bd .page-width .wrap {
  padding: 10px 0;
}
.bd .coming-soon {
  font-family: PTSansRegular;
  background: #ccc;
  border: 1px solid #bbb;
  font-size: 40px;
  line-height: 200px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
.bd .right-column {
  margin-left: 20px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  background: #f8f8f8;
}
.bd .right-column h3 {
  text-align: center;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(1, #e0e0e0));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3f3f3, endColorstr=#e0e0e0)";
  /*  IE6 & 7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3f3f3, endColorstr=#e0e0e0)";
  /*  IE8 */

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  margin: 4px -10px;
  padding: 4px 10px;
  line-height: 1.4em;
  color: #333;
  font-size: 28px;
  font-family: PTSansBold;
}
#places .place {
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
  background: #555;
  box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
#places .place .profile-pic {
  float: left;
  margin-right: 10px;
}
#places .place h5 {
  color: #fff;
  font-size: 140%;
}
ul.facebook_pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
ul.facebook_pages li {
  display: block;
  list-style: none;
  clear: both;
  margin: 0 0 4px;
  border: 2px solid #999;
  padding: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
ul.facebook_pages li .page_wrap {
  padding: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  background: #fff;
}
ul.facebook_pages li .page_wrap .radio_block {
  float: left;
  padding: 0 4px;
  line-height: 50px;
  margin: 0;
}
ul.facebook_pages li .page_wrap img {
  float: left;
  width: 50px;
  margin: 0 10px;
}
ul.facebook_pages li .page_wrap h4 {
  font-weight: bold;
}
ul.facebook_pages li .page_wrap p {
  margin: 0;
  font-size: 90%;
}
ul.facebook_pages .is_place .page_wrap {
  background-image: url(../../images/desktop/v2/place_40.png);
  background-position: 99% 50%;
  background-repeat: no-repeat;
  padding-right: 45px;
}
.pages {
  width: 400px;
}
.pages .page {
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin-bottom: 10px;
}
.pages .page img {
  float: left;
  margin: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
.pages .page h2 {
  font-size: 20px;
}
.pages .page .actions {
  float: right;
}
.pages .page .actions .action {
  background-position: 0 0;
  background-repeat: no-repeat;
  line-height: 16px;
  padding-left: 20px;
  margin-left: 10px;
  float: left;
}
.pages .page .actions .add_games {
  background-image: url(../../images/icons/16x16/add.png);
}
.pages .page .actions .delete {
  background-image: url(../../images/icons/16x16/delete.png);
}
