html {
  background-color: #fff;
  min-height: 100%;
}
body {
  min-height: 100%;
}
.page {
  width: auto;
}
.page-width {
  position: relative;
  width: 860px;
  margin: 0 auto;
  background-color: transparent;
}
.hd {
  overflow: hidden;
  background: #ffffff url("/images/desktop/site/bg_header.png") repeat-x 0 0;
  padding-bottom: 9px;
}
.hd h1.logo {
  margin: 0;
  padding: 0;
  float: left;
  zoom: 1;
}
.hd h1.logo a {
  zoom: 1;
  display: block;
  cursor: pointer;
  width: 275px;
  height: 110px;
  background: transparent url("/images/desktop/site/img_logo.png") no-repeat 50% 50%;
  text-indent: -99999em;
}
.hd .nav {
  float: right;
  display: block;
  margin: 26px 0 0;
  padding: 0 8px 0 0;
  list-style: none;
}
.hd .nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
.hd .nav li a {
  zoom: 1;
  display: block;
  background: transparent url("/images/desktop/site/bg_nav-c.png") repeat-x 0 0;
  color: #fff;
  font-family: ArvoRegular;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
.hd .nav li a span {
  zoom: 1;
  display: block;
  cursor: pointer;
  background: transparent url("/images/desktop/site/bg_nav-separator.png") no-repeat 100% 0;
  padding-right: 2px;
}
.hd .nav li a span em {
  zoom: 1;
  display: block;
  line-height: 52px;
  white-space: nowrap;
  padding: 0 12px;
  display: block;
  font-style: normal;
}
.hd .nav li a:hover, .hd .nav li a.active {
  background-position: 0 -52px;
}
.hd .nav li a.first em {
  margin-left: -8px;
  background: transparent url("/images/desktop/site/bg_nav-l.png") no-repeat 0 0;
}
.hd .nav li a.first:hover em, .hd .nav li a.first.active em {
  background-position: 0 -52px;
}
.hd .nav li a.last span {
  background-image: none;
  padding-right: 0;
}
.hd .nav li a.last span em {
  margin-right: -8px;
  background: transparent url("/images/desktop/site/bg_nav-r.png") no-repeat 100% 0;
}
.hd .nav li a.last:hover span em, .hd .nav li a.last.active span em {
  background-position: 100% -52px;
}
.bd {
  position: relative;
  padding: 5px 0;
  min-height: 200px;
  background: #ffffff url("/images/desktop/site/bg_who-we-are.png") repeat-x 0 100%;
}
.bd .top-line {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: transparent url("/images/desktop/site/bg_shadow-line-bottom-shadow.png") repeat-x 0 0;
}
.bd .bottom-line {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 0;
}
.bd .wrap {
  padding-bottom: 20px;
}
.site-home .top-line {
  display: none;
}
.site-home .bd .page-width {
  width: auto;
}
.site-home .bd .page-width .wrap {
  padding-bottom: 0;
}
.site-home .bd .page-width .hero {
  clear: both;
}
.site-home .bd .page-width .hero .city {
  background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
}
.site-home .bd .page-width .hero .city .border-bottom {
  background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 100%;
  height: 342px;
}
.site-home .bd .page-width .hero .city .border-bottom .top-line {
  display: block;
  z-index: 3;
  top: -5px;
}
.site-home .bd .page-width .hero .city .border-bottom .panels {
  position: relative;
  z-index: 4;
  height: 370px;
  margin-left: -2px;
  top: -28px;
  background: transparent url("/images/desktop/site/img_panels-with-shadow.png") no-repeat 50% 0;
}
.site-home .bd .page-width .hero .city .border-bottom .panels h1 {
  display: none;
}
.site-home .bd .page-width .middle {
  position: relative;
  z-index: 5;
}
.site-home .bd .page-width .middle .phone-ct {
  position: absolute;
  top: -45px;
  right: 0;
  width: 246px;
  height: 503px;
  background: url("/images/desktop/site/img_bozuko-iphone.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .who-we-are {
  background: url("/images/desktop/site/bg_dark-gray.png") repeat-x 0 0;
}
.site-home .bd .page-width .middle .who-we-are .white-gradient {
  background: url("/images/desktop/site/bg_gradient-radial-white-long.png") no-repeat 50% 100%;
  height: 256px;
  min-width: 850px;
}
.site-home .bd .page-width .middle .who-we-are h2.instant-win-headline {
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/txt_instant-win-headline.png") no-repeat 0 50%;
  height: 120px;
  margin-bottom: 0;
}
.site-home .bd .page-width .middle .who-we-are p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4em;
  font-family: Tahoma;
  color: #fff;
}
.site-home .bd .page-width .middle .who-we-are .bottom {
  padding-top: 10px;
}
.site-home .bd .page-width .middle .who-we-are .bottom .download {
  vertical-align: top;
  margin-right: 10px;
}
.site-home .bd .page-width .middle .who-we-are .bottom .download img {
  margin-top: 4px;
  height: 39px;
}
.site-home .bd .page-width .middle .who-we-are .bottom a.how-to-play {
  float: right;
  display: block;
  cursor: pointer;
  width: 184px;
  height: 39px;
  margin-top: 4px;
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/btn_how-to-play-green.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .who-we-are .bottom a.how-to-play:hover {
  background-position: 0 -39px;
}
.site-home .bd .page-width .middle .businesses .rewards {
  min-width: 850px;
  background: transparent url("/images/desktop/site/bg_rewards.png") no-repeat 50% 100%;
}
.site-home .bd .page-width .middle .businesses .content {
  height: 200px;
  position: relative;
}
.site-home .bd .page-width .middle .businesses .content .bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-home .bd .page-width .middle .businesses .content .bottom a.learn-more {
  position: absolute;
  bottom: 18px;
  right: 0;
  display: block;
  cursor: pointer;
  width: 184px;
  height: 39px;
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/btn_learn-more-orange.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .businesses .content .bottom a.learn-more:hover {
  background-position: 0 -39px;
}
.site-home .bd .page-width .middle .page-width {
  width: 850px;
  margin: 0 auto;
}
.site-home .bd .page-width .middle .page-width .content {
  padding-right: 275px;
}
.site-home .bd .page-width .middle .border-bottom {
  background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 100%;
  margin-top: -6px;
  height: 8px;
}
.site-how-to-play .top-line {
  display: none;
}
.site-how-to-play .bd .page-width {
  width: auto;
}
.site-how-to-play .bd .page-width .wrap {
  padding-bottom: 0;
}
.site-how-to-play .bd .page-width .hero .city {
  background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .top-line {
  display: block;
  z-index: 3;
  top: -5px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width {
  margin: 0 auto;
  width: 860px;
  height: 342px;
  position: relative;
  z-index: 4;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .iphone {
  z-index: 4;
  width: 395px;
  position: absolute;
  bottom: 0px;
  right: -30px;
  height: 375px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .iphone .frame {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url("/images/desktop/site/how-to/bg_iphone-frame.png") no-repeat 0 100%;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .iphone .top {
  background: transparent url("/images/desktop/site/how-to/bg_iphone-top.png") no-repeat 0 0;
  position: absolute;
  width: 209px;
  height: 13px;
  top: 92px;
  left: 91px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .iphone .screenshots {
  position: absolute;
  width: 209px;
  height: 270px;
  background: #000;
  top: 105px;
  left: 91px;
  overflow: hidden;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .iphone .screenshots .scroller {
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content {
  z-index: 4;
  position: absolute;
  top: 50px;
  left: 70px;
  width: 437px;
  height: 235px;
  background: transparent url("/images/desktop/site/how-to/bg_text-area.png") no-repeat 0 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding {
  position: relative;
  top: 10px;
  height: 210px;
  width: 420px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding h3 {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 53px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding h3 .number {
  display: block;
  position: absolute;
  left: -70px;
  top: 0px;
  width: 54px;
  height: 53px;
  text-align: center;
  font-size: 30px;
  font-family: "ArvoBold";
  color: #fff;
  background: transparent url("/images/desktop/site/how-to/bg_orange-circle.png") no-repeat 0 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding h3 .title {
  color: #333;
  font-size: 23px;
  font-family: ArvoRegular;
  font-weight: normal;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding .slide {
  padding: 5px 20px 20px 90px;
  width: 310px;
  height: 185px;
  display: none;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding .slide p {
  margin-top: .8em;
  line-height: 1.6em;
  padding-right: 10px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding .slide-active {
  display: block;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .padding .scroller {
  position: absolute;
  top: 0;
  left: 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow {
  position: absolute;
  top: 90px;
  z-index: 4;
  background-repeat: no-repeat;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 60px;
  background: url("/images/desktop/site/how-to/bg_white-circle.png") no-repeat 0 0 scroll;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow span {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  cursor: pointer;
  position: absolute;
  background-image: url("/images/desktop/site/how-to/bg_arrows.png");
  width: 24px;
  height: 33px;
  top: 30px;
  margin-top: -20px;
  left: 0px;
  text-indent: -9999em;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next {
  right: -21px;
  background-position: 100% 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next span {
  background-position: -23px -33px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next:hover span {
  background-position: -23px -66px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next:active span {
  background-position: -23px -66px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-prev {
  left: -30px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-prev span {
  left: 6px;
  background-position: 0 -33px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-prev:hover span {
  background-position: 0px -66px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-prev:active span {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  background-position: 0px -66px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-inactive {
  cursor: default;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-inactive span {
  background-position: 0px 0px;
  cursor: default;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-inactive:hover span {
  background-position: 0px 0px ;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-inactive:active span {
  background-position: 0px 0px ;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next.nav-arrow-inactive span {
  background-position: -23px 0px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next.nav-arrow-inactive span {
  background-position: -23px 0px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .content .nav-arrow-next.nav-arrow-inactive span {
  background-position: -23px 0px;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .characters {
  position: absolute;
  z-index: 5;
  top: 210px;
  left: 30px;
  width: 103px;
  height: 111px;
  background: transparent url("/images/desktop/site/how-to/img_characters.png") no-repeat 0 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .nav {
  position: absolute;
  zoom: 1;
  z-index: 10;
  bottom: 25px;
  left: 70px;
  width: 430px;
  text-align: center;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .nav a {
  display: inline-block;
  zoom: 1;
  width: 15px;
  height: 15px;
  margin: 0 1px;
  text-decoration: none;
  background: transparent url("/images/desktop/site/how-to/img_bullet-inactive.png") no-repeat 0 0;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .nav a span {
  display: none;
}
.site-how-to-play .bd .page-width .hero .city .border-bottom .page-width .nav a.active {
  background: transparent url("/images/desktop/site/how-to/img_bullet-active.png") no-repeat 0 0;
}
.site-how-to-play .bd .page-width .faq .page-width {
  width: 860px;
  min-height: 100px;
}
.site-how-to-play .bd .page-width .faq .page-width h2 {
  color: #ff6600;
  font-size: 22px;
  margin: .5em 0;
}
.site-b4b .bd .page-width {
  width: auto;
}
.site-b4b .bd .page-width .wrap {
  padding-bottom: 0;
}
.site-b4b .bd .page-width .b4b-top {
  width: 860px;
  margin: 0 auto;
  position: relative;
  background: transparent url("/images/desktop/site/b4b/img_phones.png") no-repeat 0 50%;
}
.site-b4b .bd .page-width .b4b-top h2.tag {
  text-indent: -9999em;
  background: transparent url("/images/desktop/site/b4b/img_tag.png") no-repeat 100% 50%;
  margin: 0;
  padding: 0;
  height: 344px;
}
.site-b4b .bd .page-width .b4b-top a.blog {
  display: block;
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 119px;
  height: 39px;
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/b4b/btn_blog.png") no-repeat 0 -41px;
}
.site-b4b .bd .page-width .b4b-top a.blog:hover {
  background-position: 0 -1px;
}
.site-b4b .bd .page-width .b4b-middle {
  padding-top: 4px;
  position: relative;
  z-index: 4;
}
.site-b4b .bd .page-width .b4b-middle .top-border {
  position: absolute;
  left: 0;
  top: -8px;
  height: 12px;
  width: 100%;
  background: transparent url("/images/desktop/site/b4b/bg_shadow-mid.png") repeat-x 0 0;
}
.site-b4b .bd .page-width .b4b-middle .content {
  background: transparent url("/images/desktop/site/b4b/bg_dark-gray.png") repeat-x 0 0;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks {
  width: 860px;
  margin: 0 auto;
  height: 376px;
  position: relative;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .divet {
  position: absolute;
  background: transparent url("/images/desktop/site/b4b/bg_divet.png") repeat-x 0 0;
  width: 37px;
  height: 18px;
  bottom: 0px;
  left: 250px;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .block {
  width: 286.6666666666667px;
  float: left;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .block .block-content {
  padding-top: 20px;
  text-align: center;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .block .block-content p {
  text-align: left;
  padding: 0 20px 0 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .first-block .block-content {
  text-align: left;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .last-block .block-content {
  text-align: right;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .last-block .block-content img {
  margin-right: -18px;
}
.site-b4b .bd .page-width .b4b-middle .content .blocks .last-block .block-content p {
  padding-left: 20px;
}
.site-b4b .bd .page-width .b4b-bottom {
  width: 860px;
  margin: 0 auto;
  position: relative;
}
.site-b4b .bd .page-width .b4b-bottom h1 {
  margin: 0;
}
.site-b4b .bd .page-width .b4b-bottom a.get-started {
  z-index: 2;
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  cursor: pointer;
  height: 70px;
  width: 201px;
  background: transparent url("/images/desktop/site/b4b/btn_get-started.png") no-repeat 0 0;
}
.site-b4b .bd .page-width .b4b-bottom a.get-started span {
  display: none;
}
.site-b4b .bd .page-width .b4b-bottom a.get-started:hover {
  background-position: 0 -72px;
}
.site-b4b .bd .page-width .b4b-bottom ul.tabs {
  display: block;
  list-style: none;
  overflow: hidden;
  margin: 20px 0 10px 0;
  padding: 0;
  _height: 40px;
}
.site-b4b .bd .page-width .b4b-bottom ul.tabs li {
  display: block;
  list-style: none;
  float: left;
  margin-right: 4px;
  margin-left: 0;
}
.site-b4b .bd .page-width .b4b-bottom ul.tabs li a {
  transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  display: block;
  white-space: nowrap;
  width: 117px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  height: 40px;
  color: #ff6600;
  font-family: ArvoRegular;
  font-size: 16px;
}
.site-b4b .bd .page-width .b4b-bottom ul.tabs li a:hover {
  color: #000;
}
.site-b4b .bd .page-width .b4b-bottom ul.tabs li.active a {
  color: #000;
  background: transparent url("/images/desktop/site/b4b/bg_biz-nav.png") no-repeat 0 0;
}
.site-b4b .bd .page-width .slides {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}
.site-b4b .bd .page-width .slides .scroller {
  position: absolute;
  top: 0;
  left: 0;
}
.site-b4b .bd .page-width .slides .scroller .slide {
  overflow: hidden;
  display: none;
}
.site-b4b .bd .page-width .slides .scroller .slide .slide-content {
  padding: 20px 0px;
}
.site-b4b .bd .page-width .slides .scroller .slide img {
  float: right;
  margin: 0 0 0 30px;
}
.site-b4b .bd .page-width .slides .scroller .slide p {
  padding-top: 1em;
  font-size: 15px;
  line-height: 1.5em;
}
.site-b4b .bd .page-width .slides .scroller .slide-active {
  display: block;
}
.site-b4b .bd .page-width .nav-arrow {
  position: absolute;
  top: 50%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 20;
  display: block;
  cursor: pointer;
  background-image: url("/images/desktop/site/how-to/bg_arrows.png");
  width: 24px;
  height: 33px;
  margin-top: -16px;
  text-indent: -9999em;
}
.site-b4b .bd .page-width .nav-arrow-prev {
  left: -60px;
  background-position: 0 -33px;
}
.site-b4b .bd .page-width .nav-arrow-prev:hover {
  background-position: 0 -66px;
}
.site-b4b .bd .page-width .nav-arrow-next {
  right: -60px;
  background-position: -23px -33px;
}
.site-b4b .bd .page-width .nav-arrow-next:hover {
  background-position: -23px -66px;
}
.site-business-page .bd .wrap {
  overflow: hidden;
}
.site-business-page .center {
  float: right;
  width: 80%;
}
.site-business-page .left-column {
  float: left;
  width: 20%;
}
.site-business-page .left-column .img img {
  max-width: 100%;
}
.site-business-page .left-column .address {
  color: #666;
}
.site-business-page .left-column .block {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.5em;
}
.site-business-page .left-column .block a {
  color: #333;
}
.site-business-page .main-column {
  float: left;
  width: 62%;
}
.site-business-page .main-column .padding {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  min-height: 300px;
}
.site-business-page .main-column h2 {
  text-transform: none;
  margin-bottom: 0em;
  border-bottom: 1px solid #ccc;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 24px;
  color: #00a24f;
}
.site-business-page .main-column .announcement {
  margin-left: -10px;
  margin-right: -10px;
  background: #f2f2f2;
  color: #333;
  padding: 10px;
}
.site-business-page .main-column .announcement p {
  margin: 0;
}
.site-business-page .main-column .contests h3 {
  color: #666;
  margin-bottom: .5em;
  font-size: 20px;
  font-family: ArvoRegular;
}
.site-business-page .main-column .contests .contest {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e3e3e3)) !important;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
  margin: 0 -10px;
  overflow: hidden;
  font-size: 12px;
}
.site-business-page .main-column .contests .contest img {
  float: left;
  margin-right: 10px;
}
.site-business-page .main-column .contests .contest h4 {
  font-weight: bold;
  margin-bottom: .5em;
}
.site-business-page .main-column .contests .contest .prizes {
  margin-left: 92px;
}
.site-business-page .main-column .contests .contest .prizes ul, .site-business-page .main-column .contests .contest .prizes li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-business-page .main-column .contests .contest .prizes li {
  padding: 10px 0;
}
.site-business-page .main-column .contests .contest .prizes h5 {
  margin-top: .5em;
  font-size: 14px;
  color: #666;
  font-style: italic;
  font-weight: normal;
}
.site-business-page .main-column .contests .contest .prizes h6 {
  padding: 0;
  margin-bottom: .5em;
  font-style: normal;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
.site-business-page .right-column {
  width: 37%;
  float: right;
}
.site-business-page .right-column .padding {
  padding-top: 20px;
}
.cityscape .bd {
  background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
}
.cityscape .bd .page-width {
  width: auto;
}
.cityscape .bd .page-width .wrap {
  width: 860px;
  margin: 0 auto;
  height: 320px;
}
.cityscape .bd .page-width .wrap h1 {
  margin-top: 0;
  padding-top: .4em;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 2px #333;
}
.cityscape .bd .page-width .wrap p {
  padding-top: 120px;
  color: #fff;
  font-size: 16px;
}
.legal .bd {
  font-size: .9em;
  padding-bottom: 2em;
}
.ft ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
}
.ft ul li {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0;
}
.ft ul li a {
  display: block;
  color: #666;
  text-decoration: none;
  transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
}
.ft ul li a:hover {
  color: #ff6600;
}
.ft .downloadUnit {
  text-align: center;
}
.ft .downloadUnit .content {
  padding-right: 10px;
}
.ft .downloadUnit h3 {
  color: #ff6600;
  margin: 1em 0 0;
  text-transform: uppercase;
  font-family: ArvoRegular;
  font-weight: normal;
}
.ft .downloadUnit ul.download {
  margin-top: .6em;
}
.ft .social a {
  display: block;
  cursor: pointer;
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 32px;
}
.ft .social .facebook {
  background-image: url("/images/desktop/site/icon_facebook.png");
}
.ft .social .twitter {
  background-image: url("/images/desktop/site/icon_twitter.png");
}
.copyright {
  clear: both;
  font-size: 11px;
  color: #999;
  text-align: left;
}
#places .place {
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
  background: #555;
  box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
#places .place .profile-pic {
  float: left;
  margin-right: 10px;
}
#places .place h5 {
  color: #fff;
  font-size: 140%;
}
ul.facebook_pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
ul.facebook_pages li {
  display: block;
  list-style: none;
  clear: both;
  margin: 0 0 4px;
  border: 2px solid #999;
  padding: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
ul.facebook_pages li .page_wrap {
  padding: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  background: #fff;
}
ul.facebook_pages li .page_wrap .radio_block {
  float: left;
  padding: 0 4px;
  line-height: 50px;
  margin: 0;
}
ul.facebook_pages li .page_wrap img {
  float: left;
  width: 50px;
  margin: 0 10px;
}
ul.facebook_pages li .page_wrap h4 {
  font-weight: bold;
}
ul.facebook_pages li .page_wrap p {
  margin: 0;
  font-size: 90%;
}
ul.facebook_pages .is_place .page_wrap {
  background-image: url(../../images/desktop/v2/place_40.png);
  background-position: 99% 50%;
  background-repeat: no-repeat;
  padding-right: 45px;
}
.twtr-tweet {
  padding: 4px 0;
}
.twtr-tweet .twtr-tweet-text em {
  margin-top: 6px;
  text-align: right;
}
