@import "app/static/css/vars";
@import "app/static/css/mixins";

html{
    background-color: #fff;
}

.page {
    width: auto;
}

.page-width {
    width: 850px;
    margin: 0 auto;
    background-color: transparent;
}

.hd {
    overflow: hidden;
    background: #fff url("/images/desktop/site/bg_header.png") repeat-x 0 0;
    padding-bottom: 12px;
    
    h1.logo {
        margin: 0;
        float: left;
        zoom: 1;
        
        a {
            zoom: 1;
            
            display: block;
            cursor: pointer;
            width: 275px;
            height: 110px;
            background: transparent url("/images/desktop/site/img_logo.png") no-repeat 50% 50%;
            text-indent: -99999em;
        }
        
    }
    
    .nav {
        float: right;
        display: block;
        margin: 24px 0 0;
        padding: 0 8px 0 0;
        list-style: none;
        
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            float: left;
            
            a {
                zoom: 1;
                display: block;
                background: transparent url("/images/desktop/site/bg_nav-c.png") repeat-x 0 0;
                color: #fff;
                font-family: ArvoRegular;
                text-transform: uppercase;
                font-size: 16px;
                text-decoration: none;
                span {
                    zoom: 1;
                    display: block;
                    cursor: pointer;
                    background: transparent url("/images/desktop/site/bg_nav-separator.png") no-repeat 100% 0;
                    padding-right: 2px;
                    
                    em {
                        zoom: 1;
                        display: block;
                        line-height: 52px;
                        white-space: nowrap;
                        padding: 0 12px;
                        display: block;
                    }
                }
            }
            a:hover, a.active {
                background-position: 0 -52px;
            }
            
            a.first {
                em {
                    margin-left: -8px;
                    background: transparent url("/images/desktop/site/bg_nav-l.png") no-repeat 0 0;
                }
            }
            a.first:hover,  a.first.active {
                em{
                    background-position: 0 -52px;
                }
            }
            a.last {
                span {
                    background-image: none;
                    padding-right: 0;
                    em {
                        margin-right: -8px;
                        background: transparent url("/images/desktop/site/bg_nav-r.png") no-repeat 100% 0;
                    }
                }
            }
            a.last:hover, a.last.active {
                span{
                    em {
                        background-position: 100% -52px;
                    }
                }
            }
        }
        
    }
}

.site-home{
    .bd{
        .page-width{
            width: auto;
        }
    }
}

.hero {
    clear: both;
    .city {
        background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
        .border-top {
            background: transparent url("/images/desktop/site/bg_shadow-line-bottom-shadow.png") repeat-x 0 0;
            .border-bottom {
                background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 100%;
                height: 345px;
                .panels {
                    position: relative;
                    z-index: 3px;
                    height: 365px;
                    margin-left: 2px;
                    top: -28px;
                    background: transparent url("/images/desktop/site/img_panels-with-shadow.png") no-repeat 50% 0;
                }
            }
        }
    }
}


#places {
    .place {
        display: block;
        clear: both;
        margin-bottom: 10px;
        padding: 4px;
        overflow: hidden;
        background: #555;
        box-shadow: 2px 2px 2px #000;
        -webkit-box-shadow: 2px 2px 2px #000;
        
        .profile-pic {
            float: left;
            margin-right: 10px;
        }
        
        h5 {
            color: #fff;
            font-size: 140%;
        }
        
    }
}

ul.facebook_pages {

    list-style: none;
    margin: 0;
    padding:0;
    display: block;
    
    li {
        
        display: block;
        list-style:none;
        clear: both;
        margin: 0 0 4px;
        border: 2px solid #999;
        padding: 2px;
        .border_radius(6px);
        
        .page_wrap {
            padding: 4px;
            overflow: hidden;
            border: 1px solid #ccc;
            .border_radius(4px);
            background: #fff;
            
            .radio_block {
                float: left;
                padding: 0 4px;
                line-height: 50px;
                margin: 0;
            }
            
            img {
                float: left;
                width: 50px;
                margin: 0 10px;
            }
            
            h4 {
                font-weight: bold;
            }
            
            p {
                margin: 0;
                font-size: 90%;
            }
        }
    }
    
    .is_place {
        .page_wrap {
            background-image: url(../../images/desktop/v2/place_40.png);
            background-position: 99% 50%;
            background-repeat: no-repeat;
            padding-right: 45px;
        }
    }
    
    .selected {
        
    }
}