html {
  background-color: #fff;
}
.page {
  width: auto;
}
.page-width {
  position: relative;
  width: 850px;
  margin: 0 auto;
  background-color: transparent;
}
.hd {
  overflow: hidden;
  background: #ffffff url("/images/desktop/site/bg_header.png") repeat-x 0 0;
  padding-bottom: 9px;
}
.hd h1.logo {
  margin: 0;
  float: left;
  zoom: 1;
}
.hd h1.logo a {
  zoom: 1;
  display: block;
  cursor: pointer;
  width: 275px;
  height: 110px;
  background: transparent url("/images/desktop/site/img_logo.png") no-repeat 50% 50%;
  text-indent: -99999em;
}
.hd .nav {
  float: right;
  display: block;
  margin: 24px 0 0;
  padding: 0 8px 0 0;
  list-style: none;
}
.hd .nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
.hd .nav li a {
  zoom: 1;
  display: block;
  background: transparent url("/images/desktop/site/bg_nav-c.png") repeat-x 0 0;
  color: #fff;
  font-family: ArvoRegular;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
.hd .nav li a span {
  zoom: 1;
  display: block;
  cursor: pointer;
  background: transparent url("/images/desktop/site/bg_nav-separator.png") no-repeat 100% 0;
  padding-right: 2px;
}
.hd .nav li a span em {
  zoom: 1;
  display: block;
  line-height: 52px;
  white-space: nowrap;
  padding: 0 12px;
  display: block;
}
.hd .nav li a:hover, .hd .nav li a.active {
  background-position: 0 -52px;
}
.hd .nav li a.first em {
  margin-left: -8px;
  background: transparent url("/images/desktop/site/bg_nav-l.png") no-repeat 0 0;
}
.hd .nav li a.first:hover em, .hd .nav li a.first.active em {
  background-position: 0 -52px;
}
.hd .nav li a.last span {
  background-image: none;
  padding-right: 0;
}
.hd .nav li a.last span em {
  margin-right: -8px;
  background: transparent url("/images/desktop/site/bg_nav-r.png") no-repeat 100% 0;
}
.hd .nav li a.last:hover span em, .hd .nav li a.last.active span em {
  background-position: 100% -52px;
}
.site-home .bd .page-width {
  width: auto;
}
.site-home .bd .page-width .hero {
  clear: both;
}
.site-home .bd .page-width .hero .city {
  background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
}
.site-home .bd .page-width .hero .city .border-top {
  background: transparent url("/images/desktop/site/bg_shadow-line-bottom-shadow.png") repeat-x 0 0;
}
.site-home .bd .page-width .hero .city .border-top .border-bottom {
  background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 100%;
  height: 347px;
}
.site-home .bd .page-width .hero .city .border-top .border-bottom .panels {
  position: relative;
  z-index: 3px;
  height: 370px;
  margin-left: 2px;
  top: -28px;
  background: transparent url("/images/desktop/site/img_panels-with-shadow.png") no-repeat 50% 0;
}
.site-home .bd .page-width .hero .city .border-top .border-bottom .panels h1 {
  display: none;
}
.site-home .bd .page-width .middle {
  position: relative;
}
.site-home .bd .page-width .middle .phone-ct {
  position: absolute;
  top: -45px;
  right: 0;
  width: 246px;
  height: 503px;
  background: url("/images/desktop/site/img_bozuko-iphone.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .who-we-are {
  background: url("/images/desktop/site/bg_dark-gray.png") repeat-x 0 0;
}
.site-home .bd .page-width .middle .who-we-are .white-gradient {
  background: url("/images/desktop/site/bg_gradient-radial-white-long.png") no-repeat 50% 100%;
  height: 256px;
  min-width: 850px;
}
.site-home .bd .page-width .middle .who-we-are h2.instant-win-headline {
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/txt_instant-win-headline.png") no-repeat 0 50%;
  height: 120px;
  margin-bottom: 0;
}
.site-home .bd .page-width .middle .who-we-are p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4em;
  font-family: Tahoma;
  color: #fff;
}
.site-home .bd .page-width .middle .who-we-are .bottom {
  padding-top: 10px;
}
.site-home .bd .page-width .middle .who-we-are .bottom .download {
  margin-right: 10px;
}
.site-home .bd .page-width .middle .who-we-are .bottom .download img {
  margin-top: 6px;
  height: 39px;
}
.site-home .bd .page-width .middle .who-we-are .bottom a.how-to-play {
  float: right;
  display: block;
  cursor: pointer;
  width: 184px;
  height: 39px;
  margin-top: 4px;
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/btn_how-to-play-green.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .who-we-are .bottom a.how-to-play:hover {
  background-position: 0 -39px;
}
.site-home .bd .page-width .middle .businesses {
  background: #ffffff url("/images/desktop/site/bg_who-we-are.png") repeat-x 0 100%;
}
.site-home .bd .page-width .middle .businesses .rewards {
  min-width: 850px;
  background: transparent url("/images/desktop/site/bg_rewards.png") no-repeat 50% 100%;
}
.site-home .bd .page-width .middle .businesses .content {
  height: 200px;
  position: relative;
}
.site-home .bd .page-width .middle .businesses .content .bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-home .bd .page-width .middle .businesses .content .bottom a.learn-more {
  position: absolute;
  bottom: 18px;
  right: 0;
  display: block;
  cursor: pointer;
  width: 184px;
  height: 39px;
  text-indent: -99999em;
  background: transparent url("/images/desktop/site/btn_learn-more-orange.png") no-repeat 0 0;
}
.site-home .bd .page-width .middle .businesses .content .bottom a.learn-more:hover {
  background-position: 0 -39px;
}
.site-home .bd .page-width .middle .page-width {
  width: 850px;
  margin: 0 auto;
}
.site-home .bd .page-width .middle .page-width .content {
  padding-right: 275px;
}
.site-home .bd .page-width .middle .border-bottom {
  background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 100%;
  margin-top: -6px;
  height: 8px;
}
.ft ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
}
.ft li {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0;
}
.ft li a {
  color: #666;
  text-decoration: none;
}
.ft li a:hover {
  color: #006b37;
}
.ft .downloadUnit {
  text-align: center;
}
.ft .downloadUnit .content {
  padding-right: 10px;
}
.ft .downloadUnit h3 {
  color: #ff6600;
  margin: 1em 0;
  text-transform: uppercase;
  font-family: ArvoRegular;
  font-weight: normal;
}
.ft .social a {
  display: block;
  cursor: pointer;
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 32px;
}
.ft .social .facebook {
  background-image: url("/images/desktop/site/icon_facebook.png");
}
.ft .social .twitter {
  background-image: url("/images/desktop/site/icon_twitter.png");
}
.copyright {
  clear: both;
  font-size: 11px;
  color: #999;
  text-align: left;
}
#places .place {
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
  background: #555;
  box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
#places .place .profile-pic {
  float: left;
  margin-right: 10px;
}
#places .place h5 {
  color: #fff;
  font-size: 140%;
}
ul.facebook_pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
ul.facebook_pages li {
  display: block;
  list-style: none;
  clear: both;
  margin: 0 0 4px;
  border: 2px solid #999;
  padding: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
}
ul.facebook_pages li .page_wrap {
  padding: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  background: #fff;
}
ul.facebook_pages li .page_wrap .radio_block {
  float: left;
  padding: 0 4px;
  line-height: 50px;
  margin: 0;
}
ul.facebook_pages li .page_wrap img {
  float: left;
  width: 50px;
  margin: 0 10px;
}
ul.facebook_pages li .page_wrap h4 {
  font-weight: bold;
}
ul.facebook_pages li .page_wrap p {
  margin: 0;
  font-size: 90%;
}
ul.facebook_pages .is_place .page_wrap {
  background-image: url(../../images/desktop/v2/place_40.png);
  background-position: 99% 50%;
  background-repeat: no-repeat;
  padding-right: 45px;
}
