@import "app/static/css/vars";
@import "app/static/css/mixins";

@page_width: 860px;

html{
    background-color: #fff;
    min-height: 100%;
}
body{
    min-height: 100%;
}

.page {
    width: auto;
}

.page-width {
    position: relative;
    width: @page_width;
    margin: 0 auto;
    background-color: transparent;
}

.utility {
    
    color: #fff;
    padding: 3px 0;
    border-bottom: 1px solid #fff;
    text-align: right;
    line-height: 20px;
    font-size: 11px;
    .background_gradient( #999999 , #666666 );
    
    .user-bar {
        height: 20px;
        overflow: hidden;
    }
    
    ul,li{
        list-style: none;
        margin: 0;
        padding:0;
        
    }
    
    ul {
        display: block;
        
    }
    li {
        display: inline;
        margin-left: 10px;
    }
    a {
        color: #fff;
        text-decoration: underline;
        .transition(none);
    }
    a:hover {
        color: #c1eeca;
    }
    .user img {
        vertical-align: middle;
        margin-left: 4px;
    }
    
    a.login{
        display: inline-block;
        padding-right: 18px;
        background: transparent url("/images/icons/14/facebook.png") no-repeat 100% 50%;
    }
}

.hd {
    overflow: hidden;
    background: #fff url("/images/desktop/site/bg_header.png") repeat-x 0 0;
    padding-bottom: 9px;
    
    h1.logo {
        margin: 0;
        padding: 0;
        float: left;
        zoom: 1;
        
        a {
            zoom: 1;
            
            display: block;
            cursor: pointer;
            width: 275px;
            height: 110px;
            background: transparent url("/images/desktop/site/img_logo.png") no-repeat 50% 50%;
            text-indent: -99999em;
        }
        
    }
    
    .nav {
        float: right;
        display: block;
        margin: 26px 0 0;
        padding: 0 8px 0 0;
        list-style: none;
        
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            float: left;
            
            a {
                zoom: 1;
                display: block;
                background: transparent url("/images/desktop/site/bg_nav-c.png") repeat-x 0 0;
                color: #fff;
                font-family: ArvoRegular;
                text-transform: uppercase;
                font-size: 16px;
                text-decoration: none;
                span {
                    zoom: 1;
                    display: block;
                    cursor: pointer;
                    background: transparent url("/images/desktop/site/bg_nav-separator.png") no-repeat 100% 0;
                    padding-right: 2px;
                    
                    em {
                        zoom: 1;
                        display: block;
                        line-height: 52px;
                        white-space: nowrap;
                        padding: 0 12px;
                        display: block;
                        font-style: normal;
                    }
                }
            }
            a:hover, a.active {
                background-position: 0 -52px;
            }
            
            a.first {
                em {
                    margin-left: -8px;
                    background: transparent url("/images/desktop/site/bg_nav-l.png") no-repeat 0 0;
                }
            }
            a.first:hover,  a.first.active {
                em{
                    background-position: 0 -52px;
                }
            }
            a.last {
                span {
                    background-image: none;
                    padding-right: 0;
                    em {
                        margin-right: -8px;
                        background: transparent url("/images/desktop/site/bg_nav-r.png") no-repeat 100% 0;
                    }
                }
            }
            a.last:hover, a.last.active {
                span{
                    em {
                        background-position: 100% -52px;
                    }
                }
            }
        }
        
    }
}

.bd_codes {
    position: relative;
    padding: 5px 0;
    min-height: 200px;
    border-top: 0;
}

.bd{
    position: relative;
    padding: 5px 0;
    min-height: 200px;
    background: #fff url("/images/desktop/site/bg_who-we-are.png") repeat-x 0 100%;
    
    .top-line {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px;
        background: transparent url("/images/desktop/site/bg_shadow-line-bottom-shadow.png") repeat-x 0 0;
    }
    .bottom-line {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        background: transparent url("/images/desktop/site/bg_shadow-line-top-shadow.png") repeat-x 0 0;
    }
    .wrap {
        padding-bottom: 20px;
    }
}
.no-csstransitions {
    .slideshow {
        .slide {
            display: none;
        }
    }
}

.site-home{
    .nav {
        
    }
    .bd{
        padding: 0;
        background: #fff;
        
        .top-line, .bottom-line {
            display: none;
        }
        
        .page-width{
            width: auto;
            .wrap {
                padding-bottom: 0;
            }
            .hero {
                clear: both;
                .city {
                    z-index: 1;
                    position: relative;
                    background: transparent url("/images/desktop/site/home/cityscape2.jpg") repeat-x 50% 0;
                    height: 342px;
                    
                    .bottom-line {
                        display: block;
                        position: absolute;
                        background: transparent url("/images/desktop/site/home/city-bottom-shadow.png") no-repeat 50% 100%;
                        width: 100%;
                        z-index: 10;
                        height: 22px;
                        bottom: 0;
                    }
                    .top-line {
                        display: block;
                        z-index: 3;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 17px;
                        background: transparent url("/images/desktop/site/home/city-top-shadow.png") no-repeat 50% 0;
                    }
                    
                    .slideshow {
                        width: @page_width;
                        margin: 0 auto;
                        position: relative;
                        z-index: 11;
                        height: 370px;
                        top: -28px;
                        
                        .controls {
                            visibility: hidden;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            padding: 0 4px;
                            
                            .trigger {
                                text-decoration: none;
                                display: inline-block;
                                cursor: pointer;
                                font-family: "open sans";
                                font-size: 30px;
                                margin: 3px;
                                color: @dark_color;
                                -webkit-transition: none;
                                -moz-transition: none;
                            }
                            
                            .active-trigger{
                                color: white;
                            }
                        }
                        
                        h1 {
                            display: none;
                        }
                        
                        .phone {
                            position: absolute;
                            left: 0px;
                            width: 305px;
                            height: 342px;
                            background: transparent url("/images/desktop/site/home/phone-frame.png") no-repeat 0 0;
                            bottom: 0;
                            
                            .ct {
                                position: absolute;
                                left: 72px;
                                top: 78px;
                                width: 166px;
                                height: 248px;
                                overflow: hidden;
                            }
                            .scroller {
                                width: 498px;
                            }
                        }
                        
                        .slides {
                            position: relative;
                            height: 370px;
                        }
                        
                        .content {
                            overflow: hidden;
                            position: absolute;
                            height: 342px;
                            width: 564px;
                            left: 257px;
                            bottom: 0;
                            
                            .slide {
                                position: absolute;
                                top: 0; right: 0;
                                width: 564px;
                                height: 342px;
                                -webkit-transform-origin: 0 50%;
                                -webkit-transform: scale(0,0);
                                -moz-transform-origin: 0 50%;
                                -moz-transform: scale(0,0);
                                
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                                
                            }
                            
                            .active {
                                display: block;
                                -webkit-transform: scale(1,1);
                                
                                -moz-transform: scale(1,1);
                                -moz-transition: -moz-transform 0.6s ease-out;
                                
                                
                            }
                            
                            .slide-1 {
                                -webkit-transform-origin: 50% 100%;
                                -moz-transform-origin: 50% 100%;
                                
                            }
                            
                            .slide-2 {
                                -webkit-transform-origin: 50% 0%;
                                -moz-transform-origin: 50% 0%;
                                
                            }
                        }
                    }
                }
            }
            
            .middle{
                position: relative;
                z-index: 5;
                overflow: hidden;
                _height: 1%;
                padding-bottom: 20px;
                color: #666;
                
                font-family: "open sans";
                line-height: 1.5em;
                font-size: 16px;
                
                a{ color:@blue; text-decoration: none;}
                
                .bold {
                    font-weight: 600;
                }
                
                h3 {
                    padding-top: .8em;
                    font-weight: 800;
                    color: #666;
                    font-size: 32px;
                }
                
                h3.biz {
                    padding-top: .8em;
                    margin-top: .8em;
                    margin-bottom: .5em;
                    border-top: 2px solid #eee;
                }
                
                
                .line{
                    margin-right: -20px;
                    .block{
                        padding-right: 20px;
                        img {
                            max-width: 100%;
                        }
                        .text{
                            padding-left: 10px;
                            h4 {
                                font-size: 14px;
                                font-family: "open sans";
                                font-weight: 700;
                            }
                            p {
                                font-size: 13px;
                                line-height: 1.5em;
                            }
                        }
                    }
                    .vertical-line {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        bottom: 0;
                        width: 2px;
                        left: -12px;
                        background: #efefef;
                    }
                    .unit {
                        position: relative;
                    }
                    .lastUnit {
                        overflow: visible;
                    }
                }
                .download-buttons {
                    float: right;
                    display: inline-block;
                    vertical-align: middle;
                    
                    a {
                        
                    }
                    img {
                        height: 28px;
                    }
                    .android-market {
                        margin-right: 0;
                        img{
                            margin-left: 10px;
                            height: 26px;
                            border: 1px solid #ccc;
                        }
                    }
                }
                
                .page-width {
                    
                    width: 850px;
                    margin: 0 auto;
                    
                    .main-col {
                        width: 600px;
                        float: left;
                        
                        
                    }
                    
                    .right-col {
                        width: 207px;
                        float: right;
                        text-align: center;
                        padding-top: 20px;
                        
                        h3 {
                            margin-top: 2em;
                            margin-bottom: 1em;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        
                        .url {
                            color: @orange;
                        }
                    }
                }
            }
        }
    }
    
    .ft {
        border-top: 5px solid #eee;
    }
    
    .demo-popup {
        font-family: "open sans";
        display: none;
        background: #fff;
        .border_radius(20px);
        border: 5px solid #ccc;
        .box_shadow(0,0,30px,#ccc);
        
        h3 {
            font-size: 24px;
            color: #999;
        }
        
        .padding{
            padding: 10px;
            overflow: hidden;
            _height: 1%;
        }
        
        .close {
            position: absolute;
            top: -20px;
            right: -20px;
            display: block;
            background: transparent url("/images/desktop/site/home/close-button.png") 0 0 no-repeat;
            width: 42px;
            height: 42px;
            cursor: pointer;
        }
        
        iframe {
            background: #000;
            .border_radius(10px);
        }
    }

}


.site-how-to-play{
    .top-line {
        display: none;
    }
    .bd{
        .page-width{
            width: auto;
            .wrap {
                padding-bottom: 0;
            }
            .hero {
                .city {
                    background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
                    
                    .border-bottom {
                        
                        .top-line {
                            display: block;
                            z-index: 3;
                            top: -5px;
                        }
                        
                        .page-width {
                            margin: 0 auto;
                            width: @page_width;
                            height: 342px;
                            position: relative;
                            z-index: 4;
                            
                            .iphone {
                                z-index: 4;
                                width: 395px;
                                position: absolute;
                                bottom: 0px;
                                right: -30px;
                                height: 375px;
                                
                                .frame {
                                    position: absolute;
                                    z-index: 10;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: transparent url("/images/desktop/site/how-to/bg_iphone-frame.png") no-repeat 0 100%;
                                }
                                
                                .top {
                                    background: transparent url("/images/desktop/site/how-to/bg_iphone-top.png") no-repeat 0 0;
                                    position: absolute;
                                    width: 209px;
                                    height: 13px;
                                    top: 92px;
                                    left: 91px;
                                }
                                .screenshots {
                                    position: absolute;
                                    width: 209px;
                                    height: 270px;
                                    background: #000;
                                    top: 105px;
                                    left: 91px;
                                    overflow: hidden;
                                    
                                    .scroller {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 270px;
                                        img {
                                        }
                                    }
                                    
                                }
                            }
                            
                            .content {
                                z-index: 4;
                                position: absolute;
                                top: 50px;
                                left: 70px;
                                width: 437px;
                                height: 235px;
                                background: transparent url("/images/desktop/site/how-to/bg_text-area.png") no-repeat 0 0;
                                
                                .padding {
                                    position: relative;
                                    top: 10px;
                                    height: 210px;
                                    width: 420px;
                                    h3 {
                                        position: relative;
                                        margin: 0;
                                        padding: 0;
                                        line-height: 53px;
                                        .number {
                                            display: block;
                                            position: absolute;
                                            left: -70px;
                                            top: 0px;
                                            width: 54px;
                                            height: 53px;
                                            text-align: center;
                                            font-size: 30px;
                                            font-family: "ArvoBold";
                                            color: #fff;
                                            background: transparent url("/images/desktop/site/how-to/bg_orange-circle.png") no-repeat 0 0;
                                        }
                                        .title {
                                            color: #333;
                                            font-size: 23px;
                                            font-family: ArvoRegular;
                                            font-weight: normal;
                                        }
                                    }
                                    .slides {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                    }
                                    .slide {
                                        padding: 5px 20px 20px 90px;
                                        width: 310px;
                                        height: 185px;
                                        display: none;
                                        
                                        p {
                                            margin-top: .8em;
                                            line-height: 1.6em;
                                            padding-right: 10px;
                                        }
                                    }
                                    .slide-active {
                                        display: block;
                                    }
                                    .scroller {
                                        
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                }
                                
                                .nav-arrow {
                                    position: absolute;
                                    top: 90px;
                                    z-index: 4;
                                    background-repeat: no-repeat;
                                    .unselectable();
                                    display: block;
                                    cursor: pointer;
                                    width: 30px;
                                    height: 60px;
                                    background: url("/images/desktop/site/how-to/bg_white-circle.png") no-repeat 0 0 scroll;
                                    span {
                                        .unselectable();
                                        display: block;
                                        cursor: pointer;
                                        position: absolute;
                                        background-image: url("/images/desktop/site/how-to/bg_arrows.png");
                                        width: 24px;
                                        height: 33px;
                                        top: 30px;
                                        margin-top: -20px;
                                        left: 0px;
                                        text-indent: -9999em;
                                    }
                                }
                                .nav-arrow-next {
                                    right: -21px;
                                    background-position: 100% 0;
                                    span{
                                        background-position: -23px -33px;
                                    }
                                }
                                .nav-arrow-next:hover span{
                                    background-position: -23px -66px;
                                }
                                .nav-arrow-next:active span {
                                    background-position: -23px -66px;
                                    .opacity(100);
                                }
                                .nav-arrow-prev {
                                    left: -30px;
                                    span {
                                        left: 6px;
                                        background-position: 0 -33px;
                                    }
                                }
                                .nav-arrow-prev:hover span {
                                    background-position: 0px -66px;
                                }
                                .nav-arrow-prev:active span {
                                    .opacity(100);
                                    background-position: 0px -66px;
                                }
                                .nav-arrow-hover span {
                                    
                                }
                                
                                .nav-arrow-inactive{
                                    cursor: default;
                                    span {
                                        background-position: 0px 0px;
                                        cursor: default;
                                        .opacity( 40 );
                                    }
                                }
                                .nav-arrow-inactive:hover span{
                                    background-position: 0px 0px ;
                                    .opacity( 40 );
                                }
                                .nav-arrow-inactive:active span{
                                    background-position: 0px 0px ;
                                    .opacity( 40 );
                                }
                                .nav-arrow-next.nav-arrow-inactive span{
                                    background-position: -23px 0px;
                                }
                                .nav-arrow-next.nav-arrow-inactive span{
                                    background-position: -23px 0px;
                                }
                                .nav-arrow-next.nav-arrow-inactive span{
                                    background-position: -23px 0px;
                                }
                            }
                            
                            .characters {
                                position: absolute;
                                z-index: 5;
                                top: 210px;
                                left: 30px;
                                width: 103px;
                                height: 111px;
                                background: transparent url("/images/desktop/site/how-to/img_characters.png") no-repeat 0 0;
                            }
                            
                            .nav {
                                position: absolute;
                                zoom: 1;
                                z-index: 10;
                                bottom: 25px;
                                left: 70px;
                                width: 430px;
                                text-align: center;
                                
                                a {
                                    display: inline-block;
                                    zoom: 1;
                                    width: 15px;
                                    height: 15px;
                                    margin: 0 1px;
                                    text-decoration: none;
                                    background: transparent url("/images/desktop/site/how-to/img_bullet-inactive.png") no-repeat 0 0;
                                    
                                    span{
                                        display: none;
                                    }
                                }
                                
                                a.active {
                                    background: transparent url("/images/desktop/site/how-to/img_bullet-active.png") no-repeat 0 0;
                                }
                            }
                            
                        }
                    }
                }
            }
            
            .faq {
                .page-width {
                    width: @page_width;
                    min-height: 100px;
                    
                    h2 {
                        color: @orange;
                        font-size: 22px;
                        margin: .5em 0;
                    }
                }
            }
        }
    }
}

.site-b4b{
    .bd{
        .page-width{
            width: auto;
            .wrap {
                padding-bottom: 0;
            }
            .b4b-top {
                width: @page_width;
                margin: 0 auto;
                position: relative;
                
                .beta-notice {
                    display: block;
                    margin-top: 40px;
                    float: left;
                    width: 281px;
                    margin-left: -10px;
                    .beta-notice-hd {
                        text-indent: -9999em;
                        height: 70px;
                        background: transparent url("/images/desktop/site/notice/img_b4b-beta-hd.png") no-repeat 50% 0;
                    }
                    .beta-notice-bd {
                        text-indent: -9999em;
                        height: 191px;
                        background: transparent url("/images/desktop/site/notice/img_b4b-beta-bd.png") no-repeat 50% 100%;
                    }
                }
                
                h2.tag {
                    text-indent: -9999em;
                    background: transparent url("/images/desktop/site/b4b/img_tag.png?v3") no-repeat 100% 50%;
                    margin: 0;
                    padding: 0;
                    height: 344px;
                    width: 600px;
                    margin-left: auto;
                }
                
                a.blog {
                    display: block;
                    position: absolute;
                    bottom: 1px;
                    right: 0;
                    width: 119px;
                    height: 39px;
                    text-indent: -99999em;
                    background: transparent url("/images/desktop/site/b4b/btn_blog.png") no-repeat 0 -41px;
                }
                a.blog:hover{
                    background-position: 0 -1px;
                }
            }
            .b4b-middle {
                padding-top: 4px;
                position: relative;
                z-index: 4;
                
                .top-border {
                    position: absolute;
                    left: 0;
                    top: -8px;
                    height: 12px;
                    width: 100%;
                    background: transparent url("/images/desktop/site/b4b/bg_shadow-mid.png") repeat-x 0 0;
                }
                
                .content{
                    background: transparent url("/images/desktop/site/b4b/bg_dark-gray.png") repeat-x 0 0;
                    
                    .blocks{
                        width: @page_width;
                        margin: 0 auto;
                        height: 376px;
                        position: relative;
                        
                        .divet {
                            position: absolute;
                            background: transparent url("/images/desktop/site/b4b/bg_divet.png") repeat-x 0 0;
                            width: 37px;
                            height: 18px;
                            bottom: 0px;
                            left: 250px;
                        }
                        
                        .block {
                            width: @page_width / 3;
                            float: left;
                            
                            .block-content {
                                padding-top: 20px;
                                text-align: center;
                                p {
                                    text-align: left;
                                    padding: 0 20px 0 10px;
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: 1.5em;
                                }
                            }
                        }
                        .first-block {
                            .block-content {
                                text-align: left;
                            }
                        }
                        
                        .last-block{
                            .block-content {
                                text-align: right;
                                img {
                                    margin-right: -18px;
                                }
                                p {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
            
            .b4b-bottom {
                width: @page_width;
                margin: 0 auto;
                position: relative;
                
                h1 {
                    margin: 0;
                }
                
                a.get-started{
                    z-index: 2;
                    position: absolute;
                    top: 6px;
                    right: 0;
                    display: block;
                    cursor: pointer;
                    height: 70px;
                    width: 201px;
                    background: transparent url("/images/desktop/site/b4b/btn_get-started.png") no-repeat 0 0;
                    
                    span {
                        display: none;
                    }
                }
                
                a.get-started:hover{
                    background-position: 0 -72px;
                }
                
                ul.tabs {
                    display: block;
                    list-style: none;
                    overflow: hidden;
                    margin: 20px 0 10px 0;
                    padding: 0;
                    _height: 40px;
                    
                    li {
                        display: block;
                        list-style: none;
                        float: left;
                        margin-right: 4px;
                        margin-left: 0;
                        
                        a {
                            .transition(color, .25s);
                            display: block;
                            white-space: nowrap;
                            width: 117px;
                            text-align: center;
                            line-height: 40px;
                            text-decoration: none;
                            height: 40px;
                            color: @orange;
                            font-family: ArvoRegular;
                            font-size: 16px;
                        }
                        a:hover {
                            color: #000;
                        }
                    }
                    
                    li.active{
                        a {
                            color: #000;
                            background: transparent url("/images/desktop/site/b4b/bg_biz-nav.png") no-repeat 0 0;
                        }
                    }
                }
            }
            
            .slides {
                width: 100%;
                min-height: 200px;
                overflow: hidden;
                position: relative;
                .scroller {
                    position: absolute;
                    top: 0;
                    left: 0;
                    .slide {
                        overflow: hidden;
                        display: none;
                        
                        .slide-content {
                            padding: 20px 0px;
                        }
                        
                        img {
                            float: right;
                            margin: 0 0 0 30px;
                        }
                        
                        p {
                            padding-top: 1em;
                            font-size: 15px;
                            line-height: 1.5em;
                        }
                    }
                    
                    .slide-active {
                        display: block;
                    }
                }
            }
            
            .nav-arrow {
                position: absolute;
                top: 50%;
                .unselectable();
                z-index: 20;
                display: block;
                cursor: pointer;
                background-image: url("/images/desktop/site/how-to/bg_arrows.png");
                width: 24px;
                height: 33px;
                margin-top: -16px;
                text-indent: -9999em;
            }
            .nav-arrow-prev {
                left: -60px;
                background-position: 0 -33px;
            }
            .nav-arrow-prev:hover {
                background-position: 0 -66px;
            }
            .nav-arrow-next{
                right: -60px;
                background-position: -23px -33px;
            }
            .nav-arrow-next:hover {
                background-position: -23px -66px;
            }
            
            .b4b-pricing {
                width: @page_width;
                margin: 0 auto;
                border-top: 4px solid @brand_color;
                .b4b-pricing-content{
                    border-top: 3px solid #ccc;
                    
                    h1 {
                        line-height: 1.2em;
                        margin-bottom: .3em;
                    }
                    
                    .pricing-wrap {
                        text-align: center;
                        
                    }
                    
                    .pricing-ct{
                        margin: 0 auto 20px;
                        display: block;
                        background: #fff;
                        .border_radius(6px);
                        border:  1px solid #ccc;
                        padding: 6px;
                    }
                    
                    table.pricing {
                        width: 100%;
                        margin: 0 auto;
                        color: #666;
                        td,th{
                            padding: 6px 20px;
                            border: 1px solid #fff;
                        }
                        td {
                            .background_gradient(#f3f3f3, #e8e8e8);
                            font-weight: bold;
                        }
                        th {
                            color: #ccc
                            background: #e8e8e8;
                        }
                        span.included,span.not-included{
                            display: block;
                            margin: 0 auto;
                            width: 24px;
                            text-indent: -99999em;
                            height: 24px;
                            background: transparent none 0 0 no-repeat;
                        }
                        span.included {
                            background-image:url("/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-check-24.png");
                        }
                        span.not-included {
                            background-image:url("/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-cross-24.png");
                        }
                        
                        .basic,.standard,.pro{
                            text-align: center;
                            width: 22%;
                        }
                        
                        thead {
                            th{
                                background: #f8f8f8;
                                color: #fff !important;
                                .text_shadow(2px,2px,2px,#333);
                                font-family: "ArvoRegular";
                                font-size: 20px;
                                padding: 15px  10px;
                            }
                            th.basic {
                                background: @brand_color * 1.4 none !important;
                            }
                            th.standard {
                                background: @brand_color * 0.9 none !important;
                            }
                            th.pro{
                                background: @blue * 0.9 none !important;
                            }
                        }
                        tbody {
                            th {
                                background: #f3f3f3;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

.site-business-page {
    
    .bd {
        .wrap {
            overflow: hidden;
        }
    }
    
    .center {
        float: right;
        width: 80%;
    }
    .left-column {
        float: left;
        width: 20%;
        .img {
            img {
                max-width: 100%;
            }
        }
        .address {
            color: #666;
        }
        .block {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 1.5em;
            a {
                color: #333;
            }
        }
    }
    .main-column {
        float: left;
        width: 62%;
        
        .padding {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 0 10px;
            min-height: 300px;
        }
        
        h2 {
            text-transform: none;
            margin-bottom: 0em;
            border-bottom: 1px solid #ccc;
            margin-left: -10px;
            margin-right: -10px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 24px;
            color: @brand_color;
        }
        
        .announcement {
            margin-left: -10px;
            margin-right: -10px;
            background: #f2f2f2;
            color: #333;
            padding: 10px;
            p {
                margin: 0;
            }
        }
        
        .contests {
            h3 {
                color: #666;
                margin-bottom: .5em;
                font-size: 20px;
                font-family: ArvoRegular;
            }
            
            .contest {
                .background_gradient( #fff, #e3e3e3);
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
                margin-top: 10px;
                padding: 10px;
                margin: 0 -10px;
                overflow: hidden;
                font-size: 12px;
                img {
                    max-width: 85px;
                    float: left;
                    margin-right: 10px;
                }
                h4 {
                    font-weight: bold;
                    margin-bottom: .5em;
                }
                
                .prizes{
                    margin-left:92px;
                    ul,li{ list-style: none; margin: 0; padding: 0; }
                    li{ padding: 10px 0;}
                    h5 {
                        margin-top: .5em;
                        font-size: 14px;
                        color: #666;
                        font-style: italic;
                        font-weight: normal;
                    }
                    h6 {
                        padding: 0;
                        margin-bottom: .5em;
                        font-style: normal;
                        color: #000;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    
    .right-column {
        width: 37%;
        float: right;
        .padding {
            padding-top: 20px;
        }
    }
    
    
}

.cityscape{
    .bd{
        background: transparent url("/images/desktop/site/bg_cityscape.jpg") repeat-x 50% 50%;
        .page-width{
            width: auto;
            .wrap {
                width: @page_width;
                margin: 0 auto;
                height: 320px;
                h1{
                    margin-top: 0;
                    padding-top: .4em;
                    color: #fff;
                    font-size: 50px;
                    text-shadow: 2px 2px 2px #333;
                }
                
                p {
                    padding-top: 120px;
                    
                    color: #fff;
                    font-size: 16px;
                }
                
            }
        }
    }
}

.legal{
    .bd {
        font-size: .9em;
        padding-bottom: 2em;
    }
}


.ft {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1.5em;
        
        li {
            list-style: none;
            margin: 0 0 .5em;
            padding: 0;
            
            a {
                display: block;
                color: #666;
                text-decoration: none;
                .transition(color, .25s);
            }
            a:hover{
                color: @orange;
                
            }
        }
    }
    .downloadUnit {
        .content{
            padding-right: 10px;
        }
        text-align: center;
        h3 {
            color: @orange;
            margin: 1em 0 0;
            text-transform: uppercase;
            font-family: ArvoRegular;
            font-weight: normal;
        }
        ul.download{
            margin-top: .6em;
        }
    }
    
    .social {
        a {
            display: block;
            cursor: pointer;
            padding-left: 38px;
            background-repeat: no-repeat;
            background-position: 0 0;
            line-height: 32px;
        }
        .facebook {
            background-image: url("/images/desktop/site/icon_facebook.png");
        }
        .twitter {
            background-image: url("/images/desktop/site/icon_twitter.png");
        }
    }
}

.copyright {
    clear: both;
    font-size: 11px;
    color: #999;
    text-align: left;
}

#places {
    .place {
        display: block;
        clear: both;
        margin-bottom: 10px;
        padding: 4px;
        overflow: hidden;
        background: #555;
        box-shadow: 2px 2px 2px #000;
        -webkit-box-shadow: 2px 2px 2px #000;
        
        .profile-pic {
            float: left;
            margin-right: 10px;
        }
        
        h5 {
            color: #fff;
            font-size: 140%;
        }
        
    }
}

ul.facebook_pages {

    list-style: none;
    margin: 0;
    padding:0;
    display: block;
    
    li {
        
        display: block;
        list-style:none;
        clear: both;
        margin: 0 0 4px;
        border: 2px solid #999;
        padding: 2px;
        .border_radius(6px);
        
        .page_wrap {
            padding: 4px;
            overflow: hidden;
            border: 1px solid #ccc;
            .border_radius(4px);
            background: #fff;
            
            .radio_block {
                float: left;
                padding: 0 4px;
                line-height: 50px;
                margin: 0;
            }
            
            img {
                float: left;
                width: 50px;
                margin: 0 10px;
            }
            
            h4 {
                font-weight: bold;
            }
            
            p {
                margin: 0;
                font-size: 90%;
            }
        }
    }
    
    .is_place {
        .page_wrap {
            background-image: url(../../images/desktop/v2/place_40.png);
            background-position: 99% 50%;
            background-repeat: no-repeat;
            padding-right: 45px;
        }
    }
    
    .selected {
        
    }
}

.twtr-tweet {
    padding: 4px 0;
    .twtr-tweet-text{
        em{
            margin-top: 6px;
            text-align: right;
        }
    }
}

ul.public-winners-list {
    li {
        margin-bottom: 1em;
    }
    .user-name {
        font-weight: bold;
        font-size: 14px;
    }
    .prize-name {
        color: #333;
        font-size: 11px;
    }
    .prize-timestamp {
        color: #999;
        font-size: 11px;
    }
}

.faq .content {
    
    .leftCol {
        width: 300px;
        h1 {
            .background_gradient(@brand_color, @dark_color);
            .text_shadow(2px, 2px, 2px, @dark_color * 0.4);
            color: #fff;
            margin: 0;
            padding: 10px;
        }
        ul, li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        li {
            
            a {
                .transition(none);
                color: #999;
                display: block;
                text-decoration: none;
                padding: 15px 6px;
                border-bottom: 1px solid #ccc;
                background: #fff;
                &:hover {
                    .background_gradient(#ffffff, #f0f0f0);
                    text-decoration: underline;
                }
                
                &.active {
                    font-weight: bold;
                    color: @dark_color;
                }
            }
        }
    }
    
    .main-padding {
        padding: 20px 0 20px 20px;
    }
    
    h2 {
        font-size: 20px;
        text-transform: none;
    }
    
    .block {
        margin-bottom: 6px;
        .question {
            position: relative;
            padding-left: 14px;
            
            .arrow {
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -2px;
                display: block;
                width: 9px;
                height: 9px;
                background: transparent url("/images/desktop/site/img_arrows.png") 1px 0 no-repeat;
            }
            
            h3 {
                font-family: Tahoma;
                font-size: 14px;
                font-weight: bold;
            }
            cursor: pointer;
        }
        .answer {
            padding-left: 14px;
            font-size: 12px;
            
            .short{
                font-size: 11px;
                display: block;
                color: #999;
                
                p {
                    margin: .5em 0 0;
                }
            }
            .full {
                display: none;
                
                p {
                    margin: .5em 0 1em;
                }
            }
            ul,ol {
                li {
                    margin-bottom: .5em;
                }
            }
            
        }
    }
    .full{
        .question {
            .arrow {
                background-position: 0 -9px;
            }
        }
        .answer {
            .short {
                display: none;
            }
            .full {
                display: block;
            }
        }
    }
}