@import "app/static/css/vars";
@import "app/static/css/mixins";

body {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 1.4em;
}
h3, .h3, h5, .h5 {
    
}

a {
    color: @brand_color;
}
a:hover{
    color: @dark_color;
}

.hd{
    a, a:visited{
        color: #ccc;
    }
}

p {
    margin: 1em 0;
}

a{
    .transition(color);
}

h1,h2,h3,h4,h5,h6{
    padding-top: .2em;
    line-height: 1.2em;
}

h1, .h1{color:#03a250;}
h2, .h2{color:#03a250;}
h3, .h3{color:#03a250;}
h4, .h4{color: #333;}
h5, .h5{color:#03a250;}
h6, .h6{font-style: italic; color:#03a250;}

h1 {
    font-size: 250%;
    font-family: ArvoRegular;
    color: #333;
    margin-top: .4em;
    margin-bottom: 1em;
}
h2 {
    font-size: 200%;
    font-family: ArvoRegular;
    color: #333;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 1em;
}

ol {
    margin-left: 20px;
    list-style: decimal outside;
    li {
        list-style: inherit;
        ol {
            list-style: lower-alpha;
            li{
                list-style: inherit;
            }
        }
    }
}

ul {
    margin: 1em 0;
}
ul li {
    margin-left: 20px;
    list-style: circle;
}

strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

.site-button {
    cursor: pointer;
    display: inline-block;
    .transition(none);
    .border_radius(4px);
    border: 1px solid @dark_color;
    .background_gradient(lighten(@brand_color,10%), lighten(@dark_color,10%));
    color: #fff;
    font-family: ArvoRegular;
    text-decoration: none;
    
    &:hover, &:active{
        color: #fff;
        .background_gradient(@brand_color, @dark_color);
    }
}

body .site-button-disabled {
    .opacity(40);
    cursor: default;
    
    &:hover, &:active {
        .background_gradient(lighten(@brand_color,10%), lighten(@dark_color,10%));
    }
}

.big-button {
    .site-button;
    padding: 7px 12px;
    font-size: 17px;
}

.medium-button {
    .site-button;
    padding: 5px 10px;
    font-size: 15px;
}

.small-button {
    .site-button;
    padding: 4px 8px;
    font-size: 12px;
}

.field-wrap {
    clear: both;
    margin-bottom: 10px;
    label {
        float: left;
        width: 120px;
        line-height: 24px;
        font-weight: bold;
    }
    .field {
        margin-left: 140px;
        position: relative;
        text-align:right;
        input {
            width: 420px;
            padding: 2px 6px;
            font-size: 14px;
            line-height: 24px;
            .border_radius(6px);
            border: 1px solid #aaa;
        }
        textarea {
            
            width: 420px;
            padding: 5px 6px;
            height: 77px;
            font-size: 14px;
            .border_radius(6px);
            border: 1px solid #aaa;
        }
        
        input, textarea, select {
            text-align:left;
            border:1px solid #cccccc;
            background: #f9f9f9;
            .transition(all, 0.2s, ease-out);
            outline:none;
        }
        input:focus, textarea:focus, select:focus{
            .box_shadow(0,0,5px,@brand_color);
            background:#ffffff;
            border-color: @brand_color;
        }
        
    }
}
.buttons {
    margin-left: 120px;
    width: 456px;
    clear: both;
    text-align: right;
    input {
        padding: 4px 8px;
    }
}

ul.errors {
    li {
        margin-left: 25px;
        list-style: disc;
        color: darkred;
    }
}

.positive-info {
    margin: 10px 0;
    padding-left: 32px;
    padding-top: 4px;
    min-height: 32px;
    _height: 32px;
    background: transparent url("/images/icons/SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-check-24.png") no-repeat 0px 0px;
    font-weight: bold;
    p {
        margin: 0;
        padding: 0;
    }
}
.clear{ display: block; font-size:0; line-height: 0; height: 0; overflow: hidden; clear: both; }