.line
  
  .unit.size3of4
    h1= title
    p
    | Description of how bozuko for business works.
    | Describe the benefits of Bozuko vs. Facebook deals, etc.
    
    
  
  .unit.size1of4.lastUnit
    .right-column
      - if( user && user.can_manage_pages )
        h3 Your Account
        a(href="/business/account") Go to your account page
      
      - else
        a(href="/business/sign-up") Sign up your business today!