.line
  
  .unit.size3of5
    h1= title
    p
    | Description of how bozuko for business works.
    | Describe the benefits of Bozuko vs. Facebook deals, etc.
    
    
  
  .unit.size2of5.lastUnit
    .right-column
    
      h3 Add your Business!
      
      p Creating a Bozuko campaign is easy.
        |  All you have to do is select your Facebook business page
        | and you can start your first campaign in minutes.
      
      p(style="text-align:center;")
        a.big-button(href="/business/sign-up") Get Started! &raquo;
      
      // TODO - check for other business and add as links