
h2 Create your Bozuko Account

.content-bd
  h3 Setting up Bozuko for your business is easy!
  
  p To create a Bozuko Account, you must be an  administrator of you businesses Facebook Page.
    |  If you are not sure whether are not you are, just login anyway and you can see all the pages
    |  you administrate on the next step.
    
  p(style="text-align:center;")
    a.fb-connect(href="/business/login?return=/business/sign-up/page")
      img(src="/images/desktop/site/img_fb-connect.png",alt="Connect with Facebook")
  