.pages
  .page
    h2 How to Create a Game:
    
    p
      |  Welcome to Bozuko, the most exciting customer rewards program ever invented.
      |  Your customers will be playing the instant win games that you create.  The Bozuko
      |  game builder makes it simple and fast to create games, add prizes, control the odds,
      |  and drive the desired customer engagement.
      
    p.bold Begin by selecting "Create a game" under the game tab
    
    p
      span.begin-paragraph Basic Information
      |  is… basic information.  Give your game an internal name so you can track it and select
      |  a cutoff date for the game.  Your game ends when all of your prizes are gone or your game hits this date.
    
    p
      span.begin-paragraph Entry Method
      |  allows you to select the requirements for players to play your game.
      |  Are you looking to drive Facebook Likes?  Check-Ins?  Both?  Facebook Check-Ins
      |  restrict the player to playing when they are at or very close to your location.
      |  Remember, GPS isn’t perfect... but it’s pretty good.  Most games allow players to play
      |  between once per day and once per week depending on other game requirements.
      
    p
      span.begin-paragraph Game 
      |  selection allows you to craft your own game personality.  Do you want a slot machine or scratch ticket?
      |  You can select how many plays (spins or tickets) each player gets.  Remember, adding multiple
      |  plays does not affect the average odds per player but it does (a) extend their play time and
      |  (b) open the possibility to a single player winning multiple prizes.
      
    p
      span.begin-paragraph Prizes
      |  are added one type at a time.  Add a prize and you’ll be able to put in the name of the prize,
      |  the retail value of the prize, if any, and the total quantity available to give away.  You can use the
      |  prize description area to give details such as “Cannot be combined with any other offer.”  Setting the
      |  prize redemption period allows you to give the prize a reasonable expiration date on use.
      br
      |  Ensure the instructions for redemption clearly instruct the user as to where they should go and who they should see before hitting the redeem button.
      br
      |  See our prize guide for more tips and examples.
    
    p
      span.begin-paragraph Contest Odds 
      |  gives you the ability to simply select the overall odds on the game.  Setting one in every 3 entries to
      |  win means that on average one in every three entrants (players) will win one of your prizes.  The detailed odds
      |  per prize are posted at the bottom of the odds screen.
      br
      |  Bozuko creates the total number of “entries” from your total prizes and odds.
      br
      br
      |  If you have 100 prizes and your odds are 1-in-4 wins: We’ll create 400 entries and 100 of them are winners.
      |  Pretty simple.
      
    p.bold
      | Review your game and ensure everything is just the way you want it.  Ready to rock?  Hit publish and your game will appear
      | in the Bozuko mobile application within seconds!
      
    p.bold.italic
      |   After your game is running you can view detailed usage statistic by clicking Reports under games or by looking at your dashboard.
      |   Games may be copied at any time to set up a similar game.
  .page
    h2 Prize Tips and Concepts:
    
    p.bold Below are some helpful tips and guidelines for what you may offer your customers as prizes.
    
    .heading Laws
    
    p
      |  Please consult your state laws, federal laws and common sense as to what is an acceptable prize.  Guns, cigarettes and drugs
      |  make extremely poor prize choices and you will likely have a large problem on your hands.  Also, you should note that discounts
      |  may not be applied to alcohol, where applicable.
      
    .heading Create a game players love
    
    p
      |  You want players to play your game right?  The best games have high odds of winning small prizes and low odds of winning big prizes.
      |  Think about real scratch tickets or slot machines.  You still feel like a winner when you win $1, but deep down inside you want
      |  that big payout.  Try to put in a bunch of low-cost prizes and a few really awesome prizes.
      
    .heading Prize Costs and Driving Business
    
    p
      |  In order to control costs, it's sometimes useful to use discounts as prizes and to add stipulations to the prize description.
      |  The following examples illustrate how to make your game exciting to players while maintaining reasonable volume prize costs.
      br
      span.orange.bold Free [prize]
      |  - with any other purchase
      br
      span.orange.bold 2-for-1 [prize]
      br
      span.orange.bold 50% Off [prize]
    
    .heading Prize Concepts
    
    .line.prize-concepts
      .unit.size1of3
        p.bold Restaurant
        ul
          li Gift Certificate	
          li 2 Entrees	
          li Entree	
          li Sandwich	
          li $10 off your check	
          li Appetizer		
          li $5 off your check		
          li T-shirt		
          li Vendor swag
          li (bottle openers, glasses, etc.)		
          li % Off Purchase		
      .unit.size1of3
        p.bold Retail
        ul
          li Gift Cards	
          li Clothing
          li Accessories
          li % Off purchase
          li $10 Store Credit
      .unit.size1of3.lastUnit
        p.bold Other
        ul
          li Cash
          li Gift Card
          li Tickets to Events
          li Branded Clothing
          li Snacks
          li Free Parking
          li Jump the Line
  .page
    h2 How to Redeem a Prize:
    .image-block
      
      img.img(src="/images/desktop/site/beta/img_redeem-you-win.png", alt="You Win Screen")
      
      .text
        .heading The YOU WIN Screen
        p When your players win a prize they see a screen which tells them “YOU WIN!”
        
        P Your prize redemption instructions appear on this screen.  For example it may say “please show this screen to a server.”
        
        p Players should only press the redeem button after following the instructions (e.g., in the presence of a server).
        
    .image-block
    
      img.img(src="/images/desktop/site/beta/img_redeem-redemption.png", alt="Redemption Screen")
      
      .text
        .heading The Prize Screen
        
        p After pressing redeem, players' phones display the "prize screen";
  
        p This screen self-destructs in 60 seconds so they better show it to somebody in that period.
        
        p(style="margin-bottom: 0") There are several important security elements on the prize screen:
        
        ul
          li The name of the prize won
          li A unique identifier code for this prize. These codes also appear in the winners list in your dashboard.
          li The user's Facebook profile picture
          li Your business logo
          li Your selected security image (see your Settings tab)
          li The current real time
        
        p If a qualified employee successfully views this screen, the named prize should be awarded to the player.
  .page
    h2 Contact Us:
    #welcome-form
      include includes/form
    
    h2.callus Want to Talk? Call us! 
      span.orange   415-2BOZUKO