#beta.beta-loading
  .loading-box
    span Loading Bozuko Beta...
    
script
  if( !window.Bozuko ) Bozuko = {};
  Bozuko.beta = {
    user_id: '#{user.id}',
    page_id:'#{page.id}',
    user_pages: !{JSON.stringify(user.manages)}
  };
  