
.beta-right
  .fixed
    .get-started
    p Let's get started - Login with Facebook below
    p
      a.facebook-button(href="/beta/login") Login with Facebook &raquo;
    #welcome-logged-in-as.small
    p.contact
      |  Have any Questions?
      a.question-trigger.medium-button(href="/contact") Contact Us
      // a(href="mailto:questions@bozuko.com") Have any Questions?

.beta-main
  h1 Bozuko for your Business
  
  h3 Build a Bozuko game for your business right now!
  
  h3 Sign up for Bozuko Beta and run games for 
    strong.blue.italic 3 months free!
  
  h4 You must have a <strong>Facebook Account</strong>
    |  and administer a <strong>Facebook Page</strong> that has a location, or
    |  <strong>Place</strong>, associated with it.
    
  h3.deal 5 Steps to 
    span.blue.italic Great Bozuko Promotions
  
  .whats-the-deal
    .step.step1
      h4
        span.orange Promote
        |  your Business.
        
      p Offer customers a chance to win
        |  prizes by playing simple games of
        |  chance on their mobiles phones.
      
      p.buttons
        a.download.app-store(href=Bozuko.cfg('client.mobile.iphone.link','#',target="_blank"), title="Download for iPhone")
          img(src="/images/desktop/site/beta/img_iphone.gif", title="Download for iPhone")
        
        a.download.android-market(href=Bozuko.cfg('client.mobile.android.link','#',target="_blank"), title="Download for Android")
          img(src="/images/desktop/site/beta/img_android.gif", title="Download for Android")
        
    .step.step2
      h4
        span.orange Attract
        |  Customers.
        
      p Get found by potential customers searching for nearby games.
    
    .step.step3
      h4
        span.orange Move
        |  Beyond Discounts.
        
      p Control cost of promotions while
        |  maximizing incentive value with
        |  instant win games of chance.
        
    .step.step4
      h4
        span.orange Get
        |  Social.
        
      p Create a lasting connection with
        |  you customers while they are at
        |  your business by encouraging
        |  Facebook Likes and Wall posts.
        
    .step.step5
      h4
        span.orange Measure
        |  Results.
        
      p Track players, prizes, costs, repeat
        |  business, Facebook Likes and Wall
        |  posts.

div#welcome-form-container(style="position: absolute; top: -9999em; left: -9999em; z-index: 10000");
  
  #welcome-form
    include includes/form
  