
.beta-right
  .fixed
    .get-started
    p
      a.facebook-button(href="/beta/login") Login with Facebook &raquo;
      
    p(style="text-align: left; padding: 0 20px;") You must administer a <strong>Facebook Page</strong> that has a location, or
      |  <strong>Place</strong>, associated with it.
    
    #welcome-logged-in-as.small
    
    p.contact
      |  Have any Questions?
      a.question-trigger.medium-button(href="https://bozuko.com/contact") Contact Us
      // a(href="mailto:questions@bozuko.com") Have any Questions?

.beta-main
  .beta-top
    h1 Bozuko for your Business
    
    ul
      li Drive Facebook <span class="blue italic">Likes</span>
      li Encourage <span class="blue italic">Check-Ins</span>
      li <span class="blue italic">Promote</span> your Business
    
    h3 Launch a game right now for FREE!
    
  h3.deal(style="font-weight: 800; font-size: 28px;") 5 Elements to 
    span.blue.italic Great Bozuko Promotions
  
  .whats-the-deal
    .step.step1
      h4
        span.orange Promote
        |  your Business.
        
      p Offer customers a chance to win
        |  prizes by playing simple games of
        |  chance on their mobiles phones.
      
      p.buttons
        a.download.app-store(href=Bozuko.cfg('client.mobile.iphone.link','#',target="_blank"), title="Download for iPhone")
          img(src="/images/desktop/site/beta/img_iphone.gif", title="Download for iPhone")
        
        a.download.android-market(href=Bozuko.cfg('client.mobile.android.link','#',target="_blank"), title="Download for Android")
          img(src="/images/desktop/site/beta/img_android.gif", title="Download for Android")
        
    .step.step2
      h4
        span.orange Attract
        |  Customers.
        
      p Get found by potential customers searching for nearby games.
    
    .step.step3
      h4
        span.orange Move
        |  Beyond Discounts.
        
      p Control cost of promotions while
        |  maximizing incentive value with
        |  instant win games of chance.
        
    .step.step4
      h4
        span.orange Get
        |  Social.
        
      p Leverage the power of social media by creating a lasting relationship
        |  with your customers through Facebook Likes or attract your customers
        |  friends through Facebook Check-Ins and Wall Posts.
        
    .step.step5
      h4
        span.orange Measure
        |  Results.
        
      p Track players, prizes, costs, repeat
        |  business, Facebook Likes and Wall
        |  posts.

div#welcome-form-container(style="position: absolute; top: -9999em; left: -9999em; z-index: 10000");
  
  #welcome-form
    include includes/form
  