img(src="/images/assets/bozuko_logo_clover_large.png",alt="Bozuko Clover",style="float:right; height: 250px; margin: 0px 0 0 40px;")
h1 Bozuko for your Business
  
p(style="font-size:17px; line-height: 1.4em; font-family: ArvoRegular; color: #333;") Build and publish a Bozuko game for your business right now!
  |  Our beta program is <span style="font-family: ArvoBold;color:black">totally free!</span>

p In order to enroll in our beta program, you must have a Facebook Account
  |  and administer a Facebook Page that has a location, or Place, associated with it.

p Login with Facebook below to get started or access your existing Bozuko account.

p
  a.medium-button(href="/beta/login") Login with Facebook &raquo;
  #welcome-logged-in-as.small
  