.beta-right
  .fixed
    .get-started
    p Login with Facebook below<br />to get started
    p
      strong OR
    p Access your existing<br />Bozuko Account
    p
      a.facebook-button(href="/beta/login") Login with Facebook &raquo;
    #welcome-logged-in-as.small
    p
      a(href="mailto:questions@bozuko.com") Questions?

.beta-main
  h1 Bozuko for your Business
  
  h3 Build and publish a Bozuko game for your business right now! Our beta program is 
    strong.blue.italic totally free!
  
  h4 In order to enroll in our beta program, you must have a <strong>Facebook Account</strong>
    |  and administer a <strong>Facebook Page</strong> that has a location, or
    |  <strong>Place</strong>, associated with it.
    
  h3.deal What's the deal? 
    span.blue.italic Literally.
  
  .whats-the-deal
    .step.step1
      h4
        span.orange Promote
        |  your Business.
        
      p Offer customers a chance to win
        |  prizes by playing simple games of
        |  chance on their mobiles phones.
      
      p.buttons
        a.download.app-store(href=Bozuko.cfg('client.mobile.iphone.link','#',target="_blank"), title="Download for iPhone")
          img(src="/images/desktop/site/beta/img_iphone.gif", title="Download for iPhone")
        
        a.download.android-market(href=Bozuko.cfg('client.mobile.android.link','#',target="_blank"), title="Download for Android")
          img(src="/images/desktop/site/beta/img_android.gif", title="Download for Android")
        
    .step.step2
      h4
        span.orange Attract
        |  Customers.
        
      p Get found by potential customers searching for nearby games.
    
    .step.step3
      h4
        span.orange Move
        |  Beyond Discounts.
        
      p Control cost of promotions while
        |  maximizing incentive value with
        |  instant win games of chance.
        
    .step.step4
      h4
        span.orange Get
        |  Social.
        
      p Create a lasting connection with
        |  you customers while they are at
        |  your business by encouraging
        |  Facebook Likes and Wall posts.
        
    .step.step5
      h4
        span.orange Measure
        |  Results.
        
      p Track players, prizes, costs, repeat
        |  business, Facebook Likes and Wall
        |  posts.
    