img(src="/images/assets/bozuko_logo_clover_large.png",alt="Bozuko Clover",style="float:right; margin: 0px 0 0 20px;")
h1 Welcome to the Bozuko Beta Program

p Thank you for participating in our beta program. We are excited to have you 
  | as a potential customer.
  
p To get started, you must be an admin for your business' Facebook Page and 
  | you should have already been contacted by a Bozuko representative who created 
  | a contest for you.
  
p To launch your dashboad, please login below.

p
  a.big-button(href="/beta/login") Login to Bozuko with Facebook
  #welcome-logged-in-as.small
  