@import "app/static/css/vars";
@import "app/static/css/mixins";

@import url("/css/fonts/honey-script/stylesheet.css");
@import url("/css/fonts/arvo/stylesheet.css");

html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Nueue, Tahoma, Helvitica, Arial;
    font-size: 13px;
}

h1,h2,h3,h4,h5{
    font-family: ArvoRegular;
    font-weight: normal;
}

html {
    background-color: #e8f7ed;
    background-attachment: fixed;  
}

html.like{
    background: #308E50 url("/images/touch/layout/bg_body.jpg") no-repeat fixed 50% 0;
}

body {
    padding-bottom: 1.5em;
}

.logo{
    background: transparent url("/images/touch/layout/img_logo.png") no-repeat 50% 0;
    height: 74px;
    margin: 10px 0;
    text-indent: -99999em;
}

.business {
    text-align: center;
    
    table{
        margin: 0 auto;
        border-collapse: collapse;
        border-spacing: 0;
        td {
            padding: 4px;
            text-align: left;
        }
    }
    
    .profile-pic{
        width: 50px;
        border: 2px solid #fff;
    }
    
    h2 {
        margin-top: 0;
        font-size: 20px;
        line-height: 1.2em;
        color: darken(@brand_color, 10%);
        margin-bottom: 6px;
    }
    
    .category {
        color: #666;
    }
    
    .like-button {
        font-size: 15px;
        font-family: ArvoRegular;
        clear: both;
        text-align: center;
        padding-top: 10px;
        .arrows {
            height: 100px;
            background: transparent url("/images/touch/layout/img_arrows2.png") 50% 0px no-repeat;
        }
    }
}

h3 {
    font-weight: bold;
}

.content-page {
    h1 {
        text-align: center;
    }
    padding: 0 10px 0;
}

.fb_edge_widget_with_comment {
    
    .fb_edge_comment_widget{
        
        iframe.fb_ltr {
            display: none !important;
        }
    }
}

#like-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        .opacity(80);
    }
    
    .text {
        z-index: 2;
        color: #fff;
        position: absolute;
        top: 20px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        div {
            padding: 10px;
        }
    }
}

.permissions-screen {
    
    .permissions-list, .permissions-list li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .facebook-permission {
        padding: 8px 8px 8px 46px;
        position: relative;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        font-family: Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif !important;
        line-height: 1.28;
        .icon {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 33px;
            height: 32px;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-image: url("/images/assets/facebook/permissions.png");
        }
        h3 {
            margin: 0;
            color: 333;
            font-weight: bold;
            font-family: Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif !important;
            font-size: 13px;
            padding-bottom: 2px;
        }
        p {
            margin: 0;
            color: #808080;
            font-weight: normal;
            font-size: 11px;
        }
    }
    
    .explanation {
        padding: 10px 0;
    }
    
    .basic-information .icon{
        background-position: 0 -264px;
    }
    .send-email .icon{
        background-position: 0 0px;
    }
    .post-to-wall .icon{
        background-position: 0 -165px;
    }
    .offline-access .icon{
        background-position: 0 -66px;
    }
    .checkins .icon{
        background-position: 0 -231px;
    }
    .profile-info .icon{
        background-position: 0 -99px;
    }
}

.green-button {
    display: inline-block;
    cursor: pointer;
    background-color: @brand_color;
    border: 2px solid @dark_color;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}