.search-box
  br
  h1.h1 Code Search
  form(action="?",method="post")
    input(type='text', name='code')  
    input(type='hidden', name='pin', value=pin)
    input(type='hidden', name='page_id', value=page_id)
    br
    br
    input.medium-button(type='submit', value='Search')
