.codes
  .prompt
    |   Please enter your business PIN:
  form(action="?",method="post")
    input(type='text', name='pin')  
    input.button(type='submit', value='Continue')
  -if (locals.error)
   .error #{error}