p Description of Objects should go here... will pull from a markdown file.

ul(style="margin: 0")
  - each transfer, key in bozuko.transfers()
    li.objectIcon(style="padding-left:20px;margin:4px 0; list-style: none;")
      a(href="#/objects/"+key) #{key}