h1 Remove Page: #{page.name}

form(method="post")
  p Are you sure you would like to remove this page from your account? Doing so will remove all current games.
  input(type="submit",value="Yes, Remove this Page from my Account") 
  a(href="/business/account") No Thanks