#fb-root

script(type="text/javascript",src="/js/modernizr/min.js")
script(src="//connect.facebook.net/en_US/all.js")

#container

- var config = {renderTo: 'container', width: req.param('width'), email_only: email_only, cache_time: cache_time, facebook_tab: !!req.param('facebook_tab'), };


script(type="text/javascript")
  Bozuko.client.App.path = !{JSON.stringify(path)};
  Bozuko.client.App.facebookApp = {
    id: "#{Bozuko.cfg('facebook.app.id')}",
    scope: "#{Bozuko.cfg('facebook.perms.web', "email,publish_stream,user_likes")}"
  };
  Bozuko.client.App.launch(!{JSON.stringify(config)});