!!! 5
html(xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    title!= title
    
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1")
    
    - if( locals.stylesheets )
      - each sheet in stylesheets
        link(rel="stylesheet",type="text/css",href=sheet)
        
    - if( locals.scripts )
      - each script in scripts
        script(type="text/javascript",src=script)
    
  body
    != body